/* for BPMN.html */

/* Diagram and palette area */

#myDiagramDiv {
  float: left;
  width: 100%;
  height: 700px;
  margin-top: 30px;
  background-color: white;
  border: 1px solid #d8d8d8;
}

#igrp-sidebar.sidebar{
  padding-top: 15px;
}

#igrp-contents .content>.row:first-child{
  margin-top: 0;
}

#igrp-sidebar #tabprocessos .nav-sidebar{
  margin-right: 0;
  margin-left: 0;
}

#description {
  float: left;
  margin-left: 4px;
}

.myPaletteDiv {
  width: 100%;
  min-height:700px;
  height: 100%;
}

.toolsbar-holder{
  position: fixed;
  right: 20px;
  left: 50%;
  top: 8px;
  z-index: 1049;
}

#sideBar div.IGRP-menu{visibility: hidden; height: 0;}
#sideBar div.IGRP-menu.active{visibility:visible; height: auto;}
#PaletteAndDiagram {
  position: relative;
  overflow: hidden;
  width: 100%;
}
a.addArea{float: right;cursor: pointer; display: none;font-size: 18px;color:#449d44;}
a.addArea.active{display: block;}

.bpmn_loading{position:absolute; display: none; left:28.5%; right: 0; top:0; bottom: 0;background:url(../../../themes/default/img/loading.gif) no-repeat rgba(255,255,255,0.8) center; z-index:2;}
.bpmn_loading.active{ display: block;}
#sideBar {
  width:100%;
  min-height:700px;
  position: relative; 
}

#sideBar .IGRP-menu .chosen-drop ul.chosen-results li{ width: 100% !important; max-width: none !important;  min-width: none !important;}
.main{padding: 10px 15px;}
#PaletteAndDiagram .tab-content>.tab-pane{
  display: block;
  visibility: hidden;
}

#PaletteAndDiagram .tab-content>#tab-tabcontent_1-processos.tab-pane{
  display: none;
}

#PaletteAndDiagram .tab-content>.active, 
#PaletteAndDiagram .tab-content>#tab-tabcontent_1-processos.tab-pane.active{
  display: block;
  visibility: visible;
}
#accordion {
  margin: 0px; 
  width:100%;
  min-height:700px;
  height: 100%;
}

#accordion h4{
  padding: 10px 30px 10px 10px;
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  outline: none;
  min-height: 0;
  font-weight: normal;
  font-size: 12px;
  border-bottom:1px dashed rgba(204,204,204,0.5);
}

#accordion h4:after{
  position: absolute;
  top: 45%;
  right: 10px;
  content: '';
  color: #666;
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#accordion .ui-accordion-content{
  min-height: 700px;
  height: auto !important;
}

#accordion h4.ui-accordion-header-active{
  font-weight: bold;
}

#accordion h4.ui-accordion-header-active:before{
  position: absolute;
  top: 45%;
  right: 10px;
  content: '';
  color: #666;
  border-bottom: 5px dashed;
  border-bottom: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#accordion h4.ui-accordion-header-active:after{
  display: none;
}

/*#accordion .ui-accordion-content{
  height: 100% !important;
}*/
#myOverviewDiv {
  width: 100%;
  height: 225px;
}

/* top bar area */

.ui-accordion .ui-accordion-content {
  padding: 1px;
}
.ui-menu {
  width: 120px;
}
#menuui {
  height: 30px;
  width: 100%;   
}
#menuui > li {
   float: left;  
}    

.sidebar{
  padding:15px;
  overflow: hidden;
}

.nav-sidebar{
  margin-left: -15px;
  margin-right: -15px;
}

#tabprocessos{
  overflow: auto;
}

.nav-sidebar li a{
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
}


.treeview-menu li a{
  padding: 10px 30px;
  position: relative;
}

.treeview-menu li a[type="line"]{
  padding-left: 45px;
}

.treeview-menu li a[type="line"] i{
  left: 35px;
}

.treeview-menu li a[type="line"]:hover{
  text-decoration:underline;
}

.treeview-menu .icon{
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 10px;
  z-index: 1;
  left: inherit;
}

.treeview-menu li.active a .icon{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#myOverviewDiv {
  background-color: lightgray;
}

.contextMenu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.contextMenu li a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.contextMenu li a:hover{text-decoration: none;color: #000;}
.contextMenu li{position: relative;
  border-bottom: 1px solid #ccc;
}
.contextMenu li:last-child {
  border-bottom: 0;
}

#currentFile {
  background: #1874CD;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0px;
  color: white;
  display: none;
}

.draggable {
  display: inline-block;
  vertical-align: top;
  border: 1px solid gray;
  background-color: #e2e2e2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 200px;
  z-index: 500;
}

.handle {
  background-color: #9CCB19;
  text-align: center;
  font: bold 12px sans-serif;
}

.elementText {
  font-family: Arial;
  font-size: medium;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mySavedFiles {
  font-family: Arial;
  font-size: medium;
  width: 250px;
  margin-left: 25px;
}

.elementBtn {
  margin-top: 20px;
  font-family: Arial;
  font-size: medium;
  margin-left: 20px;
}

/* sample thumbnails bottom area */

figure {
      display: inline-block; 
      margin: 10px;
  } 


.overviw {
    width: 375px;
    left: -367px;
    position: fixed;
    height: 225px;
    z-index: 3;
    bottom: 20px;
    webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
} 

.cOverviw {
    position: absolute;
    right: -45px;
    top: 22px;
    z-index: 4;
    padding: 5px;
    background: #FAFAFA;
    border: 1px solid #ccc;
    cursor: pointer !important;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
} 

.overviw.active{left: 8px;}

.overviw.active #myOverviewDiv{ visibility: visible;} 

.apps-selector{
  position: absolute;
  width: 280px;
  text-align: left;
  top:0;
  left: 0;
  display:none;

}
.apps-selector.set{ display: block; }
.apps-selector label{
  display: none
}
.apps-selector ul{
  width: auto!important;
  height: auto!important;
  background: none!important;
}
.tool-bar .apps-selector  ul li{
  height: auto!important;
  float:none!important;
  min-width: 0!important;
  max-width: none!important;
  background: none;
} 

ul .tree-menu-options{position: absolute;top: 8px;right:20px;display: none;}
ul .tree-menu-options .btn{padding: 6px 5px;}
ul li a:hover .tree-menu-options {display: block}
