<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>iGRP</display-name>
  <servlet>
    <servlet-name>IGRP</servlet-name>
    <servlet-class>nosi.core.servlet.IgrpServlet</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <filter>
    <filter-name>ThreadLocalFilter</filter-name>
    <filter-class>nosi.core.filter.ThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ThreadLocalFilter</filter-name>
    <servlet-name>IGRP</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>nosi.core.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>IGRP</servlet-name>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>IGRP</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
<!--  <servlet-mapping>-->
<!--    <servlet-name>default</servlet-name>-->
<!--    <url-pattern>/images/*</url-pattern>-->
<!--  </servlet-mapping>-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
  </session-config>
  <listener>
    <listener-class>nosi.core.listener.BasicListener</listener-class>
  </listener>
  <error-page>
    <location>/error.jsp</location>
  </error-page>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>nosi.core.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <servlet-name>IGRP</servlet-name>
  </filter-mapping>
</web-app>