.box-wr .form-group{
	margin: 0;
}
.box-wr .cke_editable_inline{
	padding: 10px;
}

.cke_reset_all.cke_float{
	right: 33px;
}

.box-wr .texteditor{
	min-height: 150px;
	background: #fff;
	border: 1px solid #ddd;
}
.hiddenItem{
	display: none;
}

.toolsbar-holder{
	position: fixed;
    right: 20px;
    left: 50%;
    top: 4px;
    z-index: 1049;
}
.box.igrp-forms{
	margin-top: 30px;
}

.sidebar{
	overflow: hidden;
}
.nav-sidebar{
	margin-right: -15px;
	margin-left: -15px;
}
#wr-list-document{
	overflow-y: auto;
}

#igrp-sidebar #list-reports.nav-sidebar{
	margin-right: -15px;
	margin-left: -15px;
}


#igrp-sidebar #wr-list-datasource .nav-sidebar{
	margin-right:0px;
	margin-left:0px;
}


.nav-sidebar li{
	position: relative;
}

.nav-sidebar li.treeview a{
	cursor: pointer;
}

.nav-sidebar li.treeview a span.drag{
	cursor: move;
}

.nav-sidebar li.treeview > a{
	padding-right: 55px;
}

.treeview-menu li a[type="line"] {
    padding-left: 35px;
}

.treeview-menu li > a[type="line"] > i{
	left: 23px;
	right: inherit;
}

.nav-sidebar li.treeview > a:hover{
	text-decoration: underline;
}

.nav-sidebar li .tree-menu-options{
	position: absolute;
	right:0;
	top: 7px;
	display: none;
	z-index: 10;
}

#datasorce.nav-sidebar li .tree-menu-options{
	top: 0;
}

#datasorce.nav-sidebar li .tree-menu-options input[type=checkbox]{
	margin: 0;
}

.nav-sidebar .tree-menu-options .btn{
	padding: 6px 5px;
}

.nav-sidebar li:hover > .tree-menu-options{
	display: block;
}

.treeview-menu .icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 10px;
    z-index: 1;
    left: inherit;
}

.treeview-menu li.active a .icon{
	-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wr-listtype .radio, #html-group .radio{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.wr-listtype span, #html-group label span{
	font-size: 18px;
}
#html-group label span{
	margin-top: 2px;
	display: block;
}

.wr-newdocument{
	font-size: 18px;
	color: #5cb85c;
	cursor: pointer;
	margin-right: 10px;
}

.wr-op-datasource .btn{
	padding: 7px;
	font-size: 18px;
	color: #5cb85c;
}

.wr-op-datasource .btn.active, .wr-op-datasource .btn:active{
	-webkit-box-shadow: none;
    box-shadow: none;
}

.wr-newdatasource, .wr-editdatasource{
	display: none;
}

.wr-newdatasource.active, .wr-editdatasource.active{
	display: inline-block;
}

.rw_datasorce_edit input{
	cursor: pointer;
}

.wr-op-datasource{
	position: absolute;
}

.rw_datasorce_edit span{
	margin-left: 5px;
	vertical-align: text-bottom;
}

div[data-notify="container"].alert{
	z-index: 9999 !important;
}

.error{
	border-color: #d9534f;
}

.box-head.subtitle span {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid;
}

.box-head.subtitle {
	margin-top: 10px;
    padding: 0px 10px;
}

#transfome{
	position: absolute;
    left: -10000px;
    top: -10000px;
}

#igrp-contents .content>.row:first-child{
	margin-top:0px; 
}

