<div class="form-group col-sm-12 #[right]#" item-name="#tag#" item-type="#type#" #[required]#>
	<label>#label.val#</label>
	<textarea id="#parent.tag#_#tag#" name="{#path#/@name}" class="gen-texteditor #[desclabel]#" #[required]# #[disabled]# #[readonly]#>
		<xsl:call-template name="setAttributes">
            <xsl:with-param name="field" select="#path#"/>
        </xsl:call-template>
		<xsl:value-of select="#path#/value" disable-output-escaping="yes"/>
	</textarea>
	<script type="text/javascript">
		
	</script>
</div>