<div class="col-md-#[size]# #[right]#" item-name="#tag#" item-type="#type#">
  <div class="form-group" #[required]#>
     <label><xsl:value-of select="#path#/label"/></label>
        <xsl:for-each select="#list.path#/option">
            <div class="checkbox">
                <label>
                    <input #[required]# type="checkbox" name="{../../@name}" value="{value}" class="checkboxlist #[change]#" label="{text}">
                        <xsl:if test="@selected='true'">
                            <xsl:attribute name="checked">checked</xsl:attribute>
                        </xsl:if>
                    </input>
                    <span><xsl:value-of select="text"/></span>
                </label>
            </div>
        </xsl:for-each>
    </div>
</div>