<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="app.xsl" type="text/xsl"?>
<rows>
    <link_img>/IGRP/images/IGRP/IGRP2.4</link_img>
    <title>Dummie XML prototype</title>
    <site>
        <welcome_note>Oba</welcome_note>
        <footer_note>2019 - Copyright NOSI v.190711</footer_note>
        <user_name>Hexagon</user_name>
        <button type="specific">
            <title>Sair</title>
            <app>DUA</app>
            <page />
            <link>#</link>
            <target>_self</target>
            <img>exit.png</img>
        </button>
    </site>
    <page>undefined</page>
    <app>generator</app>
   
    <plsql>
        <action>undefined</action>
        <package_instance></package_instance>
        <package_db>nosi.webapps.igrphorizon</package_db>
        <package_html>Teste</package_html>
        <table_name></table_name>
        <with_replace>false</with_replace>
        <with_label>false</with_label>
        <with_biztalk>false</with_biztalk>
        <dynamic_menu>false</dynamic_menu>
        <copy_menu>false</copy_menu>
        <package_copy_db />
        <package_copy_html />
        <preserve_url>/IGRP/images/IGRP/IGRP2.4/core/formgen/types/check_file.php?v=undefined</preserve_url>
    </plsql>
    <slide-menu file="../../../xml/IGRP-slide-menu.xml?v=2" />
    <top_menu file="../../../xml/IGRP-top_menu.xml?v=2" />
    <content>
        <title>IGRP 2.4 Dashboard</title>
        <toolsbar_1 type="toolsbar" xml-type="toolsbar" gen-type="menu" gen-group="">
            <item type="specific" code="" rel="toolsbar_1_button_1" refresh_components="">
                <title>Button</title>
                <app/>
                <page/>
                <link/>
                <target>_blank</target>
                <img position="left">btn-primary|fa-angle-right</img>
                <preview/>
            </item>
            <item type="specific" code="" rel="toolsbar_1_button_2" refresh_components="">
                <title>Button</title>
                <app/>
                <page/>
                <link/>
                <target>_blank</target>
                <img position="left">btn-primary|fa-angle-right</img>
                <preview/>
            </item>
        </toolsbar_1>
        <separatorlist_1 type="separatorlist" xml-type="separatorlist" title="Separatorlist" gen-clean="true" gen-type="container" gen-group="true">
            <fields>
                <separatorlist_1_text_1 name="p_separatorlist_1_text_1" type="text" maxlength="250" required="false" change="false" readonly="false" disabled="false" disablehtml="true" placeholder="" desclabel="false" desc="true">
                    <label>Text</label>
                    <value>Rem natus consectetur elit rem</value>
                </separatorlist_1_text_1>
            </fields>
            <table>
                <value>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Magna accusantium aliqua accusantium totam</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Magna accusantium aliqua accusantium totam</separatorlist_1_text_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Stract amet adipiscing amet omnis</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Stract amet adipiscing amet omnis</separatorlist_1_text_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Sit labore adipiscing aperiam anim</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Sit labore adipiscing aperiam anim</separatorlist_1_text_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Totam unde sit perspiciatis stract</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Totam unde sit perspiciatis stract</separatorlist_1_text_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Aliqua stract natus mollit accusantium</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Aliqua stract natus mollit accusantium</separatorlist_1_text_1_desc>
                    </row>
                </value>
            </table>
        </separatorlist_1>
    </content>
    <blockly></blockly>
</rows>