@charset "utf-8";
/* CSS Document  NOSI 2014*/
._clear{ clear:both;}
.resetPadding{padding:0 !important;}
.resetBorder{border:none !important;}
.addBorder{border:1px solid !important;}
.addBorderLeftRight{border-left:1px solid !important;border-right:1px solid !important;}
.addBorTopBottom{border-top:1px solid !important;border-bottom:1px solid !important;}
.addBorTop{border-top:1px solid !important}
.addBorBottom{border-bottom:1px solid !important;}
.addPadding5{padding:5px !important;}
.addPadding10{padding:10px !important;}
.addPaddingTop5{padding-top:5px !important;}
.addPaddingTop10{padding-top:10px !important;}
.addPaddingTopBottom5{padding:5px 0 !important;}
.addPaddingTopBottom10{padding:10px 0 !important;}
.addPaddingBottom5{padding-bottom:5px !important;}
.addPaddingBottom10{padding-bottom:10px !important;}
.addMarginBottom5{margin-bottom:5px !important;}
.addMarginBottom10{margin-bottom:10px !important;}
.addMarginTop{margin-top:10px !important;}
.addMarginTopBottom10{margin:10px !important 0;}
.addMarginBottom20{margin-bottom:20px !important;}
.addMarging10{margin:10px !important;}
.addMarginLeft{margin-left:5px !important;}
.notVisibility{visibility:hidden !important;}
.hideItem{display:none !important;}
.itemFixed{position:fixed !important;left:0;top:0;right:0;z-index:5;margin-top:0 !important;}
.itemFixed.top{top:31px !important;margin:0 !important;}
div.bodyPageLeft+div.bodyPageRigth .box-head.showTabMobile{ display:none !important;}
div.bodyPageRigth .box-head.showTabMobile{display:block !important;}
/*--------------------------------CLASS DIRECTORY--------------------------------*/
.igrp_app_icon{height:116px;text-align:center;margin:5px;position:relative;}
.igrp_icon{height:41px;padding-top:18px;width:100%;cursor:pointer;margin-bottom:5px;}
.igrp_app_label{font-weight:bold;font-size:13px;height:auto;display:block;line-height:17px;padding:2px;text-transform:capitalize;}
.igrp_app_icon a {text-decoration:none; display: block;}
.igrp_app_alert{height:10px;width:10px;position:absolute;font-size:10px;display:block;padding:5px;right:-5px;top:-5px;font-weight:bold;border-radius:15px;}
.igrp_app_alert a {text-decoration:none;}
.box-app .app-title{padding:5px;font-size:16px;margin-bottom:5px;border-bottom:1px solid;}
.bodyPageLeft .home a, .bodyPageLeft .home{padding:10px; display:block;}
.slideMenu ul li{cursor:pointer;display:block;}
.slideMenu ul li div.liMenu{padding:10px 5px;}
.slideMenu ul.menu li, .bodyPageLeft .home{border-bottom:1px solid;}
.slideMenu ul.menu li ul.submenu li a{display:block;padding:8px 5px;}
.slideMenu ul.menu li ul.submenu li{font-size:12px;text-transform:none;text-align:left;position:relative;padding-right:40px;}
.slideMenu ul.menu li ul.submenu li span.star{position:absolute;right:0px;top:0;width:40px;height:100%;}
#igrp-bodyPage.open .bodyPageLeft .slideMenu ul.menu li:last-child ul.submenu li:last-child{ margin-bottom:20px;}
.slideMenu ul.menu li ul.submenu{transition:height 10s;display:none;}
.slideMenu ul.menu li ul.submenu.active{display:block;}
.box-content .titlecollapser, .box-content .tabcollapser, .dialog .title, .box-head{font-size:14px;text-transform:uppercase;padding:8px;font-weight:bold;position:relative;display:block;clear:both;}
.box-content .titlecollapser{cursor:pointer;min-height:14px;}
.box-head.showTabMobile{margin-bottom:10px;}
.box-content .tabcollapser{padding:0 !important;}
.iconcollapser{width:20px;height:12px;margin-top:2px;cursor:pointer;position:absolute;right:4px;top:10px;}
.box-content .titlecollapser+.box-collapser{border-top:1px solid;}
/*.box-content .box-content{ border-left:none; border-right:none;}*/
.box-content.collapsed .box-collapser{display:none}
.tabcollapser .iconcollapser{margin:13px 9px 9px 9px;}
.colLR+.colCenter .box-content, .colLR+.colCenter .col, .colCenter+.colLR .box-content{margin-left:5px !important;}
.colLR+.colCenter .col.tool-bar, .colLR+.colCenter .col .col, .colLR+.colCenter .col .box-content{margin-left:0 !important;}
.colCenterLR .box-content{margin-left:5px !important; margin-right:5px !important;}
/*.colLR .box-process.lateralMenu .col.divBorder{border:none !important}
--------------------------------SIMPLE/TABS MENU--------------------------------*/
.IGRP-menu{position:relative;}
.IGRP-menu a{display:block; cursor:pointer;}
.IGRP-menu li{float:left;position:relative;min-width:80px;max-width:120px;max-height:80px;}
.IGRP-menu li a, .IGRP-menu li a span{display:block;text-align:center;}
.IGRP-menu li a, .IGRP-menu a{padding:8px;}
#tabsMenu .IGRP-menu li a, .tabMenuHolder .IGRP-menu li a{padding:15px 10px;}
#tabsMenu .IGRP-menu li, .tabMenuHolder .IGRP-menu li{border-right:1px solid}
#tabsMenu .itemTab, .tabMenuHolder .itemTab{ border-top:1px solid;}
#tabsMenu .itemTab .IGRP-menu, .tabMenuHolder .itemTab .IGRP-menu{border-top:none;}
#tabsMenu .itemTab .IGRP-menu li, .tabMenuHolder .itemTab .IGRP-menu li{border:none;}
#tabsMenu .itemTab ul.IGRP-menu, .tabMenuHolder .itemTab ul.IGRP-menu{display:none;}
#tabsMenu .itemTab ul.IGRP-menu.active, .tabMenuHolder .itemTab ul.IGRP-menu.active{display:block;}
.IGRP-menu li a span{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.IGRP-menu li a span.icon{margin-bottom:5px;}
.IGRP_graph{ position:relative;width:100% !important;}
.IGRP-menu li a span.icon img{width: 30px; height: 30px;}
/*-------------------------------IGRP Item Form----------------------------------------*/
#formular_default input, #formular_default label, #formular_default select{width:100%;}
#formular_default input:first-letter, #formular_default label:first-letter, #formular_default textarea:first-letter{text-transform:capitalize;}
#formular_default textarea{width:99%;height:100px;}
#formular_default textarea.textarea_g{height: 180px;}
#formular_default .col-1-2 textarea{width:99%;}
#formular_default .col-1-1 textarea{width:99%;}
#formular_default .igrp_item{position:relative;margin:5px;padding:6px 5px;clear:both;min-height: 60px;}
#formular_default .igrp_item .itemIcon{position:relative;display:block;clear:both;}
#formular_default .igrp_item.radio, #formular_default .igrp_item.checkbox{padding:35px 0 5px 0;min-height:calc(60px - 28px);}
#formular_default .igrp_item.radio span.riquired, #formular_default .igrp_item.checkbox span.riquired{margin:0 0 0 3px;}
#formular_default .igrp_item.link{padding:35px 0 15px 0;min-height:calc(60px - 40px);}
#formular_default .igrp_item.vkb_az, #formular_default .igrp_item.vkb_aznum, #formular_default .igrp_item.vkb_num{padding-bottom:1px;}
#formular_default .igrp_item.link a{ padding:10px 0;}
/*#formular_default .igrp_item.color{padding-bottom:7px;}*/
#formular_default .igrp_item.texteditor textarea.textEditor{display:block !important; height:0px !important;}
#formular_default input[class*='LOOKUP'], #formular_default input[class*='lookup']{padding-right:28px;width: calc(100% - 35px);}
#formular_default input{border:1px solid; padding:6px 5px; width:calc(100% - 10px);}
#formular_default select{height:30px; border:1px solid;}
#formular_default input[type='number']{text-align:right;}
/*#formular_default .igrp_item.selectchange, #formular_default .igrp_item.select, #formular_default .igrp_item.selectlist{padding-bottom:2px;}*/
#formular_default input[type='radio'], #formular_default input[type='checkbox']{width:15px;height:32px; border:none; padding:2px;}
/*#formular_default input[type='radio']:focus, #formular_default input[type='checkbox']:focus{height:15px;margin:4px;}*/
#formular_default input[type='radio']{margin-top:-2px;}
#formular_default input[type='checkbox']{height:20px;}
#formular_default label{float:left;margin:10px 5px 5px 0px;text-align:left;}
#formular_default .igrp_item.texteditor label{margin-left:8px;}
#formular_default .igrp_item label.required, #formular_default .igrp_item label.important{padding-left: 5px; position: relative;}
#formular_default .igrp_item label{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#formular_default .igrp_item label.error{overflow:inherit;white-space:normal;}
#formular_default input[type='file'], span.upload{position:absolute;margin:0;padding:0;top:2px; }
span.upload{padding:2px;height:21px;width:25px;line-height:23px;text-align:center;cursor:pointer !important;right:0px;}
#formular_default input[type='file']{cursor:pointer;opacity:0;filter:alpha(opacity=0);height:25px;/*width:calc(100% - 50px);*/ left:11px;}
#formular_default .calendar{position:absolute;height:25px;width:25px;right:0px;top:2px;cursor:pointer;}
#formular_default input.colorPicker{display:none;}
span.riquired{margin:0 2px 0 0;}
iframe{display:block;position:relative;width:100%;min-height:520px;}
.coverImage{background-position:50%;background-repeat:no-repeat;background-size:contain;margin:0 auto;min-height:150px;max-height:300px;max-width:1000px;display:block;position:relative;overflow:hidden;}
.plaintext{display:block;position:relative;padding:5px;text-align:justify;min-height:100px;max-height:300px;overflow-y:auto;line-height:20px;}
#formular_default .igrp_item.plaintext .plaintext{border:1px solid;height:100px;}
#formular_default .igrp_item.iframe, #formular_default .igrp_item.image{padding:0;}
/*#formular_default .item.textEditor{ margin-bottom:100px !important;}*/
*[disabled], *[readonly]{cursor: not-allowed;}
/*--------------------------------VKB--------------------------------*/
#formular_default div.VKB_geral{width:100%;padding:2px;position:relative;}
#formular_default div.VKB_geral .VKB, div.VKB_geral .VKB{cursor:pointer;position:absolute;width:32px;height:25px;right:7px;top:4px;border-left:1px solid;display:block;}
#formular_default div.VKB_geral .VKB img, div.VKB_geral .VKB img{padding:0 0 0 0.6px;margin-top:-2px;border:none;}
#formular_default div.VKB_geral div.VKB_main{position:absolute;display:none;z-index:2;font-size:10px;border:1px solid;width:calc(100% - 19px); padding:5px 5px 0 5px;}
#formular_default div.VKB_geral input.VKB_input, div.VKB_geral input.VKB_input{padding-right:37px;width:calc(100% - 47px);}
.message div.VKB_geral input.VKB_input{padding: 5px;width: calc(100% - 16px); margin:0 0 2px 0;}
.message #samterminaltoken{height: 30px; margin-bottom:5px; width:99.4%;}
#formular_default div.VKB_geral div.VKB_main div input.VKB_button, div.VKB_geral div.VKB_main div input.VKB_button{display:inline-block;width:9%;margin:0.5%;border:1px solid;height:24px;cursor:pointer;padding:1px;text-decoration:none;}
#formular_default div.VKB_main input.VKBOK_but, div.VKB_main input.VKBOK_but,
#formular_default div.VKB_main input.VKBLP_but, div.VKB_main input.VKBLP_but,
#formular_default div.VKB_main input.SHIFT_but, div.VKB_main input.SHIFT_but,
#formular_default div.VKB_main input.VKBCAN_but, div.VKB_main input.VKBCAN_but{margin:5px 0;cursor:pointer;font-size:10px;border:1px solid;}
#formular_default div.VKB_main input.VKBOK_but, div.VKB_main input.VKBOK_but{float:left;width:30px;}
#formular_default div.VKB_main input.VKBLP_but, div.VKB_main input.VKBLP_but,
#formular_default div.VKB_main input.VKBCAN_but, div.VKB_main input.VKBCAN_but{float:right;width:50px;}
.message div.VKB_main input.VKBLP_but, .message div.VKB_main input.VKBCAN_but, .message div.VKB_main input.VKBOK_but{padding: 5px;}
#formular_default div.VKB_main input.VKBCAN_but, div.VKB_main input.VKBCAN_but{margin-left: 5px;}
div.VKB_geral div.vkb_az div.VKB_num, div.VKB_#formular_default div.VKB_main input.VKBCAN_butgeral div.vkb_num div.VKB_az{display:none;}
#formular_default div.VKB_geral div.VKB_main.vkb_num input.SHIFT_but, div.VKB_geral div.VKB_main.vkb_num input.SHIFT_but{display:none;}
#formular_default div.VKB_main input.SHIFT_but, div.VKB_main input.SHIFT_but{position:absolute;width:50px;height:24px;border:1px solid;right:6px;line-height:3px; bottom:29px;}
.VKB_main.vkb_all .VKB_az{margin-bottom: 29px;}
.message div.VKB_geral div.VKB_main{margin-left: -2px;}
/*--------------------------------lookup--------------------------------*/
.IGRP_lookupPopup{position:absolute;top:2.5px;right:2.9px;text-align:center;float:right;height:25px;width:25px;}
.IGRP_lookupPopup img{border:none;vertical-align:baseline;}
/*--------------------------------datepicker--------------------------------*/
#formular_default .IGRP_datepicker{ padding-right:25px;width:calc(100% - 30px);}
#ui-datepicker-div{ width:280px;border:1px solid;padding:5px; display:none;}
.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e{padding:0;font-size:0;width:32px;height:32px;cursor:pointer;border:2px solid;border-radius:20px}
.ui-datepicker-header{ display:block; width:100%; height:35px;}
.ui-icon-circle-triangle-w{float:left;}
.ui-icon-circle-triangle-e{float:right;}
.ui-datepicker-title{ float:left; margin:0 12px; padding-top:2px; width:60%;}
.ui-datepicker-title select{ margin-left:5px; height:25px; width:65px;}
.ui-datepicker-title .ui-datepicker-year{ float:right;}
#ui-datepicker-div .ui-datepicker-calendar{width: 100%;margin: 0;}
#ui-datepicker-div table {display:table;border-collapse: separate;border-spacing: 2px;}
#ui-datepicker-div table tr td[data-handler="selectDay"]{border:1px solid;}
#ui-datepicker-div table tr td {text-align: center;padding:0;}
#ui-datepicker-div table tr td a {padding:5px 0;display: block; text-decoration:none;}
/*--------------------------------CLASS TABLE--------------------------------*/
/*legenda*/
.box-table .box-legend{width:100%;display:block;}
.right-align{float: right !important;}
.box-table .box-legend .legend-element{border-left:1px solid;float:right;height:52px;width:100%;}
.box-table .box-legend .legend-element .label{display:block;text-align:center;padding:15px 5px 5px 5px;font-size:11px;overflow:hidden;white-space
:nowrap;text-overflow:ellipsis;}
.box-table .box-legend .legend-element .color-label{display:block;height:8px;margin:0 auto;width:85%;}
/*--------------------------------table--------------------------------*/
.box-table{width: 100%;position:relative; display:block;}
.box-table table{width:100% !important;height:auto;}
.box-table table tr{line-height:25px;}
.box-table table td, .box-table table th {width:auto !important;border-right:2px solid;border-bottom:1px solid;border-left:2px solid;padding:0 5px; vertical-align:middle;}
.box-table table th.checkbox{width:10px !important;}
.box-table table td.bEdDel, .box-table table th.bEdDel{width:45px !important;}
.box-table table td.bEdDel img{margin:3px 3px 0 3px;cursor:pointer;float:left;display:block;}
.box-table table tr td:first-child, .box-table table tr th:first-child{border-left:none;}
.box-table table tr td:last-child, .box-table table tr th:last-child{ border-right:none;}
.box-table table tr.child td.child ul li span img{margin-right:10px;}
.box-table table tr td.checkbox{text-align:center;}
.box-table table tr .tdcolor, .box-table table tr .color, .box-table table tr .icon{width:7px !important; text-align:center;}
.box-table table tbody tr td a{display:block;}
.box-table table.IGRP_formlist tr th:not(.fBtn), .box-table table.IGRP_formlist tr td:not(.fBtn){min-width:60px;}
.table-container{clear: both;position: relative; margin-bottom: 5px; border-top:1px solid;}
.totop{float: right;line-height: 30px;text-align: right;width: 100%;}
.top{font-weight: bold;font-size: 13px;color: red;text-align: right;}
.to-top-container{width: 34px;height: 30px;float: right;}
.to-top-container img{float: right;}
.box-table table tr td span[class*='color'], .frame ul.slidee li div.tdcolor span[class*='color']{padding:5px 5px;position:relative;display:block;margin:4px 0;}
.box-table table.IGRP_formlist tbody tr td {position:relative; padding:5px;}
.box-table table.IGRP_formlist tbody tr td.fBtn, .box-table table.IGRP_formlist tr th.fBtn{width:10px !important; cursor:pointer;}
#formular_default .box-table table.IGRP_formlist tbody tr td textarea{width:97%;}
#formular_default .box-table table.IGRP_formlist tbody tr.child td textarea{width:99%;}
.box-table table.IGRP_formlist tbody tr td .itemIcon, #formular_default .box-table table.IGRP_formlist tbody tr td .itemIcon{position:relative; display:block;}
#formular_default .box-table table.IGRP_formlist tbody tr td .itemIcon .calendar, #formular_default .box-table table.IGRP_formlist tbody tr td .itemIcon input[type='file'], #formular_default .box-table table.IGRP_formlist tbody tr td .itemIcon span.upload{top:1px;right:-1px;}
.box-table table.IGRP_formlist tbody tr.noDelete td.fBtn img.IGRP_delRowForm{display:none;}
/*--------------------------------context menu--------------------------------*/
ul.contextMenu{display:none;position:absolute;z-index:10;border:1px solid;min-width:148px;}
ul.contextMenu.active{display:block;}
ul.contextMenu li.operationTable{display:block;padding:8px;border-bottom:1px solid; vertical-align:middle;cursor:pointer;}
ul.contextMenu li.operationTable:last-child{border:none;}
ul.contextMenu li.operationTable a{display:block;text-decoration:none;margin:0;padding:0;outline:0;}
ul.contextMenu li img{margin-right:5px;vertical-align:sub;max-width: 16px;}
/*--------------------------------Operation Table--------------------------------*/
ul.contentOperationTable{display:block;position:relative;margin:0;padding:0;}
ul.contentOperationTable li.operationTable{display:inline-block;margin:0 2px;width:16px; height:16px; vertical-align:middle;}
ul.contentOperationTable li.operationTable a{display:block;border:none;margin:none;padding:none;}
ul.contentOperationTable li.operationTable a img{vertical-align:central;margin:0;padding:0;width: 100%;}
/*--------------------------------tool-bar--------------------------------*/
.tool-bar{display:block;text-align:right; border:1px solid; position:relative;}
.box-collapser .tool-bar{border:none;border-bottom:1px solid;}
.tool-bar[rel='noTable']{margin-top:10px;}
.tool-bar ul{float:right;}
.tool-bar ul li{float:left;border-left:1px solid;height:50px;position:relative;min-width:60px;max-width:80px;}
.tool-bar ul li a{display:block;padding:5px;text-align:center;cursor:pointer;}
.tool-bar ul li a img{margin:0 0 5px 0; border:none;max-width:21px; max-height:16px;}
.tool-bar ul li a span{display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tool-bar:after,.tool-bar ul:after{ content:"";clear: both; display: block}
/*align right*/
.tool-bar ul[items-align="left"] {float:left;}
.tool-bar ul[items-align="left"] li{border-left:0;border-right:1px solid;}
/*align center*/
.tool-bar ul[items-align="center"] {float:none;text-align: center;}
.tool-bar ul[items-align="center"] li{display: inline-block;float: none;margin: 0 -2px;}
.tool-bar ul[items-align="center"] li:last-child{border-right:1px solid;}
/*align justified*/
.tool-bar ul[items-align="justified"] {float:none;display: block;}
.tool-bar ul[items-align="justified"] li{float:left;max-width: none;}
.tool-bar ul[items-align="justified"] li:first-child{border-left:0;}
/*--------------------------------buttonBar addRow--------------------------------*/
.buttonBar, .addRow{display:block; position:relative; text-align:right;}
.addRow{margin:0 0 10px 0;}
.addRow a{padding:6px 10px;cursor:pointer;}
.buttonBar a span.label{padding:0 10px;line-height:25px;}
.buttonBar a span.img{float:left;height:25px;width:25px;}
.addRow a img{border:none;width:16px;height:16px;vertical-align:text-bottom;margin:0 5px 0 0;}
.buttonBar span.img img{margin:5px;border:none;max-height: 15px;}
/*--------------------------------notification--------------------------------*/
.notification{display:block;position:relative; margin:10px auto;}
.notification.live{ margin:0 auto;}
.notification .messages{display:block; padding:10px 30px 10px 40px;}
.notification .close{width:30px;height:30px;position:absolute;top:0px;right:0px;cursor:pointer;padding-top:2px;}
.notification .icon{left:0;top:0;border:1px solid;position:absolute;width:28px;height:94%;}
/*--------------------------------Separator Dialog--------------------------------*/
.IGRP_overlay{position:fixed;width:100%;height:100%;display:none;z-index:4;top:0;}
.IGRP_overlay.active{display: block;}
.IGRP_dialogbox{position:fixed;top:7%;left:7%;height:86%;width:86%;display:none;z-index:5;}
.IGRP_dialogboxTop{height:30px;width:100%;position:relative;}
.IGRP_dialogboxCenter{top:30px;position:absolute;min-height:20%;max-height:85%;width:100%;padding:0;overflow-y:auto;}
.dialog_btnContainer{width:100%;position:absolute;text-align:right;}
.dialog_btnContainer .addRow{margin:0 0 5px 0;}
.IGRP_btn_close{width:30px;height:30px;position:absolute;right:5px;top:0px;cursor:pointer;}
.IGRP_dialogboxCenter .igrp_item.select .chosen-container.open{background: transparent;}
.IGRP_dialogboxCenter .igrp_item.select .chosen-container.open .chosen-drop{position: relative !important;}
/*--------------------------------Dialog--------------------------------*/
.ui-dialog{z-index:6;position:fixed!important;left:35%!important;right:35%!important;top:20%!important;width:auto !important;}
.dialog{min-height:inherit!important;display:none;}
#dialog-token.dialog{display: block;}
.dialog .message{padding:10px;line-height:15px;min-height:50px;max-height:350px;overflow-y:auto;}
.dialog .title{text-transform:capitalize;}
.ui-dialog-buttonpane{padding:5px;text-align:right;}
.ui-dialog-buttonpane button:nth-child(1){margin-right:5px;}
.ui-dialog-buttonpane button{padding:5px;cursor:pointer;}
.ui-dialog-titlebar{display:none;}
/*--------------------------------Map Process--------------------------------*/
.box-process{display:block;position:relative;padding:10px;}
.box-process.lateralMenu{padding:0;}
.box-process.lateralMenu .box-head {display: none;}
.col_process{width:25%; float:left; position:relative;}
.box-process ul li{border-bottom:1px solid; cursor:pointer;}
.box-process ul li ul li{border-bottom:1px blocked;}
.box-process ul li ul{transition:height 10s;display:none}
.box-process ul li ul.active{display:block;}
.box-process ul li ul li:last-child, .box-process ul li:last-child{border:none;}
.box-process ul li ul li:first-child, .box-process ul li:first-child{ border-top:1px solid;}
.box-process ul li a{display:block; padding:10px;}
.box-process ul li ul li a{padding:10px 10px 10px 20px;}
/*--------------------------------Process Flow/workFlow--------------------------------*/
.process-flow{padding:0 5px 5px 5px;position:relative;}
.process-flow li{float:left;text-align:center;width:110px;position:relative;}
.process-flow li a, .process-flow li a .dot{display:block;}
.process-flow li a .dot .stp_num{height:30px;top:17px;line-height:30px;position:relative;border-radius:20px;width:30px;display:block;text-align:center;}
.process-flow li a .dot .stp_bar{height:5px;display:block;position:relative;margin-left:25px;}
.process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{border-radius:2px;width:80px;padding:2px;text-align:left; line-height:25px;}
.process-flow li.proc_end a .dot .stp_bar, .process-flow li.proc_start a .dot .stp_bar{top:-4px;margin-left:80px;}
.process-flow li a .stp_label{text-align:left;margin-top:20px;display:block;}
.process-flow li.end a .stp_label{margin-left:8px;}
.process-flow li[rel='end'] a .stp_label{margin-top:25px;}
.process-flow li a em{width:150px;min-height:15px;display:block;position:absolute;z-index:2;padding:2px;text-align:justify;display:none;left:31px;top:0;}
.process-flow li.proc_end a .dot .stp_num div, .process-flow li.proc_start a .dot .stp_num div, .process-flow li a .stp_label{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.process-flow li:hover a em{display:block;}
.process-flow li.proc_end a .stp_label[rel='proc'], .process-flow li.proc_start a .stp_label[rel='proc']{display:none;}
.workFlow .process-flow li a .dot .stp_num{cursor:pointer;}
.workFlow .process-flow li[pRel='end'] a .stp_label{margin-top:24px;}
.workFlow-content{display:none;background:#fff;}
.workFlow-content:after{content: ""; display: block; clear: both;}
.workFlow-content.active{display:block;}
.workFlow-content .box-content{margin-top:0px;}
.workFlow-content.workFlow-process{border: 1px solid #d1d1d1;padding-top: 15px;}
.workFlow-tab{position: relative;display: block;margin-top:10px;}
.workFlow-tab:after{content: ""; display: block; clear: both;}
.workFlow-tab li{list-style: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    position: relative;
    float: left;
    max-width: 120px;
    min-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	text-align: center;
}
/*--------------------------------Finger Print--------------------------------*/
.finger, .photo{float:left;position:relative;}
.finger, .photo{width:33.33%;}
.allFinger{display:block;}
.allFinger .dados, .allFinger .signature{display:block;height:200px;}
.allFinger .titleFinger, .fingerImg{padding:10px;display:block;text-align:center;}
.allFinger .signature .titleFinger{text-align:left;}
.allFinger .icon{width:20px;height:15px;position:relative;display:inline-block;cursor:pointer;}
.tool-bar.barFinger{border-bottom:none;}
.fingerDados{display:block;padding:0 5px;}
.fingerDados label, #formular_default .fingerDados label{display:block;padding:5px;margin:0;float:none;}
.fingerImg{height:142px;}
.fingerDados input, #formular_default .fingerDados input{width:100%;padding:2px;}
.fingerImg img{top:50%;transform:translateY(-50%);max-width:calc(100% - 40px);max-height:150px;position:relative;}
/*--------------------------------IGRP View--------------------------------*/
.viewFoto, .viewName, .viewDados, .groupView{display:block;position:relative;}
.viewFoto{height:150px;text-align:center;padding-top:10px;}
.viewFoto img{top:50%;transform:translateY(-50%);max-width:calc(100% - 10px);max-height:150px;position:relative;}
.viewName{padding:25px 10px;}
.viewDados .groupView .viewLabel,.viewDados .groupView .viewValue{padding:8px 2px;display:inline-block;}
.groupView, .viewName{border-bottom:1px solid;}
.groupView{padding:0 1px;}
.viewDados h1{display:block;padding:10px 5px;}
/*--------------------------------IGRP debug--------------------------------*/
.debug{height:250px;width:98.5%;margin:3px auto;overflow-y:auto;display:none;}
#igrp-footerPage .icon{display:block;height:6px;}
#igrp-footerPage.active .debug{display:block;}
.debug ul li{padding:5px;border-bottom:1px dotted;}
.debug ul li.noSearch{display:none;}
#igrp-footerPage .search{display:block;padding:5px 10px;text-align:right;position:fixed;border-bottom:1px solid;width: calc(100% - 50px);}
.debug .search+ul{margin-top:51px;}
#igrp-footerPage .search label, #igrp-footerPage .search input{display:inline-block;line-height:12px; padding:5px;}
/*--------------------------------filter AZ--------------------------------*/
.filterAz{border-top:1px solid;}
.filterAz span{float:left;width:30px;text-align:center;display:block;}
.filterAz span a{display:block;padding:6px 5px;margin-right:5px;cursor:pointer;}
/*--------------------------------link-opener--------------------------------*/
.link-opener{position:fixed;width:70%;z-index:5;left:0;top:0;bottom:0;display:none;text-align:center;}
.link-opener img{text-align:center;top:50%;transform:translateY(-50%);position:absolute;}
.link-opener.active{display:block;}
.link-opener #opener-frame{position:absolute;top:0;left:0;width:100%;height:100%;border:0;outline:0;}
.link-opener .opener-close{width:25px;height:25px;position:absolute;right:-24px;top:-1px;cursor:pointer;cursor:pointer;}
#iframe-dialog {position:fixed;width:60%;left:20%;height:80%;top:10%;display:none;z-index:602;}
#iframe-dialog iframe{background:#fafafa;min-height:0;height:100%;position:relative;}
#iframe-dialog.active{display:block;}
/*--------------------------------Table Graph/Graph--------------------------------*/
.table_graph{padding:5px;}
.table_graph table{text-align:center;border:1px solid;}
.table_graph table tr{line-height:30px;}
.col.graph{padding:0 5px;background-color:white;}
.col.graph .box-head{margin-bottom: 15px;padding: 15px 35px 15px 8px;}
div.highcharts-contextmenu div div{padding:5px !important;}
.chartsIcon{padding: 10px;webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);box-shadow: 3px 3px 5px rgba(0,0,0,0.3);background: #fff;border: 1px solid rgba(204,204,204,0.8);display: none;position: absolute; right: 5px; top:31px;z-index:3;min-width: 200px;}
.chartsIcon.active{display: block;}
.chartsIcon ul li{border-bottom: 1px solid #ccc;display: block;background-position: left;background-repeat: no-repeat;padding-left: 40px;}
.chartsIcon ul li:last-child{border: none;}
.chartsIcon ul li a{display:block; cursor:pointer; padding: 8px 5px;line-height: 20px;}
.chartsIcon ul li a:hover, .chartsIcon ul li a.active{font-weight: bold;color:#294460;font-size: 14px;}
.col.graph .icon, .col.graph .icon:after, .col.graph .icon:before{width: 20px;right:13px;background:rgba(88, 95, 105, 0.83);top:20px;height:3px;border-radius: 2px;cursor: pointer;z-index: 2;position: absolute;}
.col.graph .icon.active, .col.graph .icon.active:after, .col.graph .icon.active:before{background: #294460;}
.col.graph .icon:after, .col.graph .icon:before{content: "";display: block;right:0; top:-4px;}
.col.graph .icon:after{top:4px;}
/*--------------------------------PESQUISA GEOGRAFIA--------------------------------*/
.box-pesquisa ul{ display:block;}
.box-pesquisa ul li a{padding:8px 5px;display:block; cursor:pointer;}
.box-pesquisa ul li a.item-nivel-1, .box-pesquisa ul li a.item-nivel-1pai{padding-left:15px;}
.box-pesquisa ul li a.rootLink, .box-pesquisa ul li a.item-nivel-1pai{display:inline-block;}
/*--------------------------------HOME APP--------------------------------*/
.app-img-logo{margin:2px 8px 2px 2px;float:left;}
.app-titulo-logo{float:left;margin-top:18px;}
.app-box-content-alter .IGRP-menu{float:right;}
.app-box-content-alter .IGRP-menu li{min-width:55px;height:45px;}
.app-box-content-alter .IGRP-menu li span.title{display:none;}
.app-col{margin:5px 0;}
.app-p1, .app-p2{float:left;margin-right:15px;}
.app-list1, .app-list2, .app-list3{padding:5px;}
.app-list2 .app-p3, .app-list3 li{padding-bottom:10px;padding-top:5px;}
.app-p1, .app-p2 {line-height:19px;}
.app-list1 span{padding:10px 0 10px 15px;margin-right:8px;}
.app-list1{margin-bottom:3px;}
.app-img-icon a{vertical-align:middle;}
.col50100+.col50100 .app-col{margin-left:5px;}
.app-box-content-alter .box-content:nth-child(1){margin:0px !important;}
/*--------------------------------HOME Colaboradores--------------------------------*/
.box-func{margin:5px;display:block;position:relative;min-height:115px;}
.box-func .box-colData{display:block;}
.box-func .box-colData .box-img{position:absolute;top:0;left:0;}
.box-func .box-colData .box-data{display:block;padding-left:105px;min-height:115px;}
.box-func .box-colData .box-img{width:102px;height:113px;margin:0;padding:0;}
.box-colData .title, .box-colData .conctato{display:block;position:relative;padding:5px;}
.box-func .box-colData .box-data div.label, .box-func .box-colData .box-data div.value{padding:5px 3px; display:block;}
.box-colData .percent{margin:5px; display:block}
.box-colData .percent .bar-evolut{padding:5px 0;display:block;}
.box-func .box-colData .icons{text-align:right;float:right;}
.box-func .box-colData .icons a{padding:3px 5px;float:left;}
.box-func .box-colData .icons a img{border:none;margin:0;padding:0;}
/*--------------------------------Edialog--------------------------------*/
#eDialog-modal .message label{font-weight:bold;margin-right:5px;font-size:14px;}
#eDialog-modal .message span{display:inline-block; padding-bottom:10px;}
#eDialog-modal .message label:after{content:":"; display:inline-block;}
/*--------------------------------TABLE[data-view="slide"]--------------------------------*/
.wrap {position: relative;margin:10px 0;}
.wrap div.frame {line-height: 30px;overflow: hidden;padding-bottom: 10px;}
.wrap div.frame ul.slidee {list-style: none;margin: 0;padding: 0;height: 100%;font-size:12px;position: relative;}
.wrap div.frame ul.slidee > li {float: left;width:324px;height: 100%;margin:5px 5px 12px 5px;padding:0;text-align:left;cursor: pointer;
-webkit-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);}
.wrap div.frame ul.slidee > li:first-of-type{margin-left: 10px;}
.wrap div.frame ul.slidee > li:last-of-type{margin-left: 5px;}
.wrap div.frame ul.slidee > li > div{padding:2px 5px;}
/* Scrollbar */
.scrollbar {margin:0 12px 5px 12px;height:2px;background: #ccc;line-height: 0;}
.scrollbar .handle {width: 100px;height: 100%;background: #292a33;cursor: pointer;}
.scrollbar .handle .mousearea {position: absolute;top: -9px;left: 0;width: 100%;height: 20px;}
/* Controls */
.controls{margin: 15px 0; text-align: center;}
.controls button{cursor: pointer;outline: 0;border: 1px solid #ccc;width:25px;margin: 0 5px;border-radius:20px;height:25px;background: #ccc;}
.controls button:hover{background: #267199;color: #fff;}
.controls button.disabled:hover{background: #ccc;color: #363636;}
/*--------------------------------TABLE[data-view="block"]--------------------------------*/
.table-view{ position:absolute; top:5px; right:40px; height:20px; display:block;}
.table-view .icon{ width:20px; height:20px; float:left; margin:0 5px; cursor:pointer;}
.table-responsive table[data-view="block"], .table-responsive table[data-view="block"] thead, .table-responsive table[data-view="block"] tbody, .table-responsive table[data-view="block"] th, .table-responsive table[data-view="block"] td, .table-responsive table[data-view="block"] tr, .table-responsive table[data-view="block"] tfoot {display: block!important; }
.table-responsive table[data-view="block"] thead{display:none!important;}
.table-responsive table[data-view="block"] thead tr {position: absolute!important;top: -9999px!important;left: -9999px!important;border-bottom:0!important;}
.table-responsive table[data-view="block"] tr {border: none!important;margin:0.5%!important;width:24%;float:left;}
.table-responsive table[data-view="block"] td, .table-responsive table[data-view="block"] tfoot th, .frame ul.slidee li > div{border: none!important;position: relative!important;padding-left: 51%!important; padding-top:2px!important;padding-bottom:2px!important;white-space: normal!important;text-align:left!important;margin-top:1px!important;min-height:30px;}
.table-responsive table[data-view="block"] td:before, .table-responsive table[data-view="block"] tfoot th:before, .frame ul.slidee li > div:before {position:absolute!important;
top:2px!important;left:6px!important;width:45%!important;padding-right:10px!important;text-align:left!important;font-weight:bold!important; border-right:none; text-transform: capitalize;}
.table-responsive table[data-view="block"] tr td:first-child span.ctxmenu,
.frame ul.slidee li > div span.ctxmenu{position:absolute;right:0px;top:0px;height:27px;width:20px;cursor:pointer; display:block !important;}
.box-table table[data-view="block"] tr .tdcolor, .box-table table[data-view="block"] tr .color, .box-table table[data-view="block"] tr .icon{ width:auto !important;}
.table-responsive table[data-view="block"] td:before, .table-responsive table[data-view="block"] tfoot th:before, .frame ul.slidee li > div:before{content:attr(data-title);line-height:25px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.table-responsive table[data-view="block"] tr td input[type="radio"], .frame ul.slidee li > div input[type="radio"], 
.table-responsive table[data-view="block"] tr td input[type="checkbox"], .frame ul.slidee li > div input[type="checkbox"]{ height:20px;}
.box-table table[data-view="block"] tr .tdcolor, .frame ul.slidee li > div.tdcolor{min-height:25px;}
.box-table table[data-view="block"] tr td span[class*='color'], .frame ul.slidee li div.tdcolor span[class*='color']{ margin:8px 0;}
.frame ul.slidee li > div{line-height:25px;border-bottom: 1px solid #D5D6D7 !important;}
/*--------------------------------List TREE--------------------------------*/
ul.listTree li{line-height:23px;float:none;width:calc(100% - 10px);max-width:none; padding: 5px; max-height: none;}
ul.listTree li a{display:block;float:none;height:auto; text-align: left; padding: 0 55px 0 0 !important; position: relative;}
ul.listTree li a span{text-align: left;}
ul.listTree > li:last-child, ul.listTree li ul li{border-bottom:none !important;}
ul.listTree li ul li{ padding: 0px 5px;}
ul.listTree .tree-menu-options{position: absolute;top: 0;right: 0;display: none;}
ul.listTree li a:hover .tree-menu-options {display: block}
ul.listTree .tree-menu-options .btn{cursor: pointer}
ul.listTree li.listGetter a:hover .btn{ display: inline-block;}
ul.listTree li.listGetter ul.subListTree{margin-left:5px; display: none;}
ul.listTree li.listGetter a[type='node']:after{width:7px;height:8px;float:left;margin:5px 3px 0 0;padding:1px;position: absolute;top:1px;left:0;}
ul.listTree li.listGetter a.active[type='node']:after{margin-top:6px;margin-left:-2px }
ul.listTree li.listGetter a[type='node'] span{margin-left:10px;cursor: pointer; text-align: left;}
ul.listTree li.listGetter ul.subListTree.active{display:block;}
#bpmnAddItem{position: absolute; width: 90%; display: none;}
#bpmnAddItem.active{ display: block;}
#bpmnAddItem button{ padding: 5px; margin:5px 5px 5px 0; float: right;}
/*--------------------------------Signature--------------------------------*/
.default_form .igrp_item.signature .divsignature {
	border-bottom: 1px solid darkgrey;padding: 24px 0 0 0;
	height: 60px;background-position: 50%;background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}
.default_form .igrp_item.signature div[signature='true'] {padding: 0;}
.default_form .igrp_item.signature .divsignature:hover {border-top: 1px solid #ccc;}
.default_form .igrp_item.signature .divsignature ul {
    position: absolute;
    clear: both;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.default_form .igrp_item.signature .divsignature ul li {
    float: left;
    list-style: none;
    width: 22px;
    height: 18px;
    border: 1px solid #ccc;
    border-top: none;
    padding: 2px;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.default_form .igrp_item.signature .divsignature ul li.control-edit {
    background-image: url(../img/icon/tools-bar/alterar-assinatura.png);
}
.default_form .igrp_item.signature .divsignature ul li.control-confirm {background-image: url(../img/icon/tools-bar/apply.png);}
.default_form .igrp_item.signature .divsignature ul li:first-child {border-right: none;}
.default_form .igrp_item.signature .divsignature .signature {width: 100%;height: 60px;}
.default_form .igrp_item.signature div[signature='true'] .signature {display: none;}
.default_form .igrp_item.signature span.signatureDesc {display: block;float: none;text-align: center;width: 100%;padding: 2px;font-size: 11px;font-style: italic;}
.default_form .igrp_item.signature:hover ul li {display: block;}

/* ROWS AND COLUMNS*/
.gen-row {
	display: block;
	position: relative;
}
.gen-row:after {
	content:"";
	display: block;
	clear: both;
}
.gen-inner { padding: 5px; }

.gen-container-item {
	margin-top:10px!important;
}



/*  WILLY TEMPLATE FOR IFRAME WINDWOS FULLSCREEN */
body.iframe-full-sreen{
	padding-top: 50px;
	background: #fafafa;
}
body.iframe-full-sreen .bodyPageRigth{
	margin: 0;
	width: 100%;
}
body.iframe-full-sreen .tool-bar[rel='noTable']{
	margin:0;
	border: 0;
	border-bottom:1px solid #ccc;
	position: fixed!important;
	top:0;
	z-index: 10;
	width:100%;
}

body.iframe-full-sreen #igrp-bodyPage.noTop{
	margin: 0!important
}
/* saf3+, chrome1+
@media screen and (-webkit-min-device-pixel-ratio:0) {
span.upload, .IGRP_lookupPopup, #formular_default .calendar{top:35px;}.IGRP_lookupPopup{height:26px;}#formular_default div.VKB_geral .VKB{ top:30px;}
}*/
/* IE9, IE10 */
@media screen and (min-width:0\0) {
 .IGRP_lookupPopup{height:25px;}
}
