@charset "utf-8";
/* CSS Document */
/*NOSi 2014*/
._hiddenMobile, .showTablet, .showDesktop, .showTabDesk{display:none;}
.showResponsive, .showMobile, .showTabMobile{display:block;}
.topLeftIgrp{ border:none !important;}
.resetPaddingMobile{ padding:0px !important;}
#igrp-topLogo .topLeft{width:36%}
#igrp-topLogo .topRigth{height:30% !important; padding:29px 10px 0 0 !important;}
#igrp-topMenu{height:40px;}
#igrp-topMenu .topMenuRigth{width:90%;}
#igrp-topMenu .topMenuRigth ul{margin-right:0;}
#igrp-topMenu .topMenuRigth ul li a{padding:12px 15px;}
#igrp-topMenu .topMenuRigth ul li a img{margin-top:5px 0;}
#igrp-topMenu .topMenuLeft{width:10%}
#igrp-topMenu .topMenuLeft #iconMenu{width:42px;}
.bodyPageLeft{width:0px;top:95px; transition:all;}
.bodyPageRigth{width:99%;}
div#igrp-topPage+div#igrp-bodyPage{margin-top:95px;}
div.bodyPageLeft+div.bodyPageRigth{left:0px;top:10px;width:99%;}
#igrp-bodyPage.open .bodyPageLeft{width:80%;}
#igrp-bodyPage.noTop .bodyPageLeft{top:40px;}
[class*='col-'], .col50100, .col15, .col25, .col75, .col85, .col10, .col90, .colLR, .conCenterLR, .colCenter, .colLCR{width:auto; float:none;}
.igrp_app_icon{height:55px;cursor:pointer; margin:5px 0;}
.igrp_icon{width:auto;float:left;padding:5px;cursor:pointer;}
.igrp_app_label{line-height:none;padding:20px;text-align:left;}
.slideMenu ul.menu li:last-child, ul.nav_sm li:last-child{border-bottom:none;}
#igrp-bodyPage.open .bodyPageLeft{overflow-y:auto; overflow-x:hidden;}
.itemFixed{position:relative !important;left:auto;top:auto;right:auto;z-index:auto;}
.itemFixed.top{top:auto !important;}
div.bodyPageLeft+div.bodyPageRigth .box-head.showTabMobile{ display:block !important;}
/*--------------------------------IGRP Responsive SIMPLE MENU--------------------------------*/
.IGRP-menu li{float:none;border-bottom:1px solid;max-width:none;min-width:inherit;}
.IGRP-menu li:last-child{border-bottom:none;}
.IGRP-menu li a, ul.IGRP-menu li a span{text-align:left;}
.IGRP-menu li a, #tabsMenu .IGRP-menu li a{padding:1px;}
.IGRP-menu li a span{display:inline-block;vertical-align:middle;width:auto;white-space:normal;}
#tabsMenu .itemTab .tab, #tabsMenu .itemTab ul.IGRP-menu.active{ border-bottom:1px solid;}
#tabsMenu .itemTab .tab:last-child, #tabsMenu, #simpleMenu{border-bottom:none;}
#tabsMenu .itemTab{border:none;}
#tabsMenu .itemTab .IGRP-menu li{border-top:1px dashed;}
#tabsMenu .itemTab .IGRP-menu li:first-child{border-top:none;}
#tabsMenu .itemTab .tab span{display:block;padding:13px;cursor:pointer;}
/*--------------------------------IGRP Item Form--------------------------------*/
#formular_default input, #formular_default label, #formular_default textarea{font-size:14px;}
#formular_default input{line-height:23px;}
#formular_default label{margin:5px;}
#formular_default select[multiple]{height:35px;}
#formular_default select[multiple] option{padding:3px 5px;}
#formular_default .igrp_item{ margin:0 5px;}
#formular_default input[class*='LOOKUP'], #formular_default input[class*='lookup']{padding-right: 41px;width: calc(100% - 48px);}
#formular_default input[type='radio'], #formular_default input[type='checkbox']{height:30px;}
#formular_default .calendar{width:25px;top: 1px;right: -2px;}
#formular_default .igrp_item.radio, #formular_default .igrp_item.checkbox{padding:5px 0;}
#formular_default .igrp_item.link{padding: 5px 0 5px 10px;}
#formular_default .igrp_item.link a{ display:block;}
.IGRP_lookupPopup{width:35px;height:33px;right:1px;top: 1px;}
.sp-replacer {padding: 4px 2px;top: 1px;right: -1px;}
#formular_default .igrp_item label{overflow:inherit;white-space:normal;}
.IGRP_lookupPopup img{margin-top:4px; margin-left:0px;}
span.upload{top:1px;height:29px;width:30px;}
.item{ position:relative !important; top:0 !important; left:0 !important;}
#formular_default div.VKB_geral .VKB img{padding:5px 1px;}
#formular_default div.VKB_geral .VKB{height:33px;right: 6px;top: 3px;}
#formular_default input.VKBLP_but, #formular_default input.VKBOK_but{line-height:15px;}
#formular_default div.VKB_geral div.VKB_main div input.VKB_button{}
.fingerDados label, #formular_default .fingerDados label{padding:2px;}
.IGRP_graph{width:100% !important; margin:2px auto !important;}
#formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon .calendar, #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon input[type='file'], #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon span.upload{right:29px;}
/*--------------------------------TABLE--------------------------------*/
.box-table table tr{line-height:35px;}
/*--------------------------------LEGEND--------------------------------*/
.box-table .box-legend {width:calc(100% - 10px);padding: 0 5px;}
.right-align{ float:none !important;}
.box-table .box-legend .legend-element{border-left:none;float:none;height:auto }
.box-table .box-legend .legend-element .label{width:80%;margin:auto;height:auto;display:inline-block;text-align:inherit;padding:5px 0;overflow:inherit;white-space:normal;}
.box-table .box-legend .legend-element .color-label{height:8px;display:inline-block;margin:auto;width:20%;}
/*--------------------------------tool-bar--------------------------------*/
.tool-bar[mobile='true']{text-align:left;}
.tool-bar[mobile='true'] .icon{position:absolute;right:40px;top:-26px;width:24px;height:21px;}
.tool-bar[mobile='true'] ul{float:none; display:none;}
.tool-bar[mobile='true'] ul.active{display:block;transition:height .5s;}
.tool-bar[mobile='true'] ul li:last-child, .tool-bar ul li:first-child{border:none;}
.tool-bar[mobile='true'] ul li{float:none;border-left:none;height:inherit;border-bottom:1px dashed;}
.tool-bar[mobile='true'] ul li a{width:auto; text-align:left; padding:10px;}
.tool-bar ul li a{width:48px;}
.tool-bar[mobile='true'] ul li a img{margin:0 5px 0 0; vertical-align:middle;}
.tool-bar[mobile='true'] ul li a span{display:inline-block;}
/*--------------------------------Separator Dialog--------------------------------*/
.IGRP_dialogbox{width:95%;height:90%;top:5%;left:2.5%;}
/*--------------------------------Map Process--------------------------------*/
.box-process{padding:0;}
.box-process ul li a{padding:12px;}
.showMobile .box-process .col.divBorder{border-left:none;border-right:none;border-bottom:none;}
.col_process{width:100%;}
.box-process.lateralMenu ul li a{background-position:97% 50% !important;}
.showMobile .box-process .col.addMarginBottom20{margin-bottom:0 !important;}
.showMobile .box-process .col:first-child{border-top:none;}
/*--------------------------------Process Flow--------------------------------*/
.process-flow{padding:0;}
.process-flow li{width:auto;float:none;text-align:left;border-bottom:1px solid;}
.process-flow li:last-child{border-bottom:none;}
.process-flow li a{padding:12px 5px;background-image: url(../img/pnext.png);background-position: 97% 50%;background-repeat: no-repeat;}
.process-flow li:hover a em, .process-flow li a .dot .stp_bar{display:none;}
.process-flow li a .dot{position:absolute;top:8px;}
.process-flow li a .dot .stp_num, .process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{top:0;left:2px;width:20px;height:20px;line-height:20px;}
.process-flow li a .stp_label{margin-top:0;padding-left:25px;font-size:12px;line-height:14px;}
.process-flow li.proc_end a .dot .stp_num div, .process-flow li.proc_start a .dot .stp_num div, .process-flow li a .stp_label{overflow:inherit;white-space:normal;width:auto;}
.process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{padding:0;}
.process-flow li[rel='end'] a .stp_label{margin-top:0;}
.process-flow li.end a{background-image:none;}
.process-flow li[rel='end']{border-bottom:none;}
.process-flow li.end a .stp_label{margin-left:0;}
.process-flow li.proc_end a .stp_label[rel='proc'], .process-flow li.proc_start a .stp_label[rel='proc']{display:block;}
/*--------------------------------Finger Print--------------------------------*/
.finger, .photo, .col50100{width:100%;float:none;}
.allFinger .titleFinger{text-align:left;}
.allFinger .dados{border-right:none !important;}
.tool-bar.barFinger ul li:first-child{border-left:1px solid;}
/*--------------------------------IGRP View--------------------------------*/
.viewName{border-top:1px solid;padding:8px 10px;}
.viewLabel{padding-left:10px;}
.viewValue{padding-right:10px;}
/*--------------------------------filter AZ--------------------------------*/
.filterAz span{width:10%;}
.filterAz span:last-child{margin-right:0; background:#FF0;}
/*--------------------------------link-opener--------------------------------*/
.link-opener{width:90%;}
/*--------------------------------LOGIN--------------------------------*/
#content-holder{display:block;width:100%;padding:0;}
#content-holder .inner .inner-left, #content-holder .inner .inner-right{float:none;display:block;width:100%;}
#content-holder .inner .inner-right{padding-top:10px;}
#content-holder .inner .inner-right .filds{width:95%;display:block;}
#content-holder .inner .inner-left{height: 56px;background-size:cover;background-repeat: no-repeat;background-position:50% 50%;}
/*--------------------------------PESQUISA GEOGRAFIA--------------------------------*/
.box-pesquisa ul li a.item-nivel-1pai{width:5%;}
.box-pesquisa ul li a.rootLink{width:50%;}
/*--------------------------------HOME APP--------------------------------*/
.app-img-logo{margin:10px 8px -5px 10px;}
.app-titulo-logo{margin-top:25px;}
.app-box-content-alter .IGRP-menu{float:none !important;margin-top:15px;}
.app-box-content-alter .IGRP-menu li{width:100%;}
.box-content.app-box-content-alter, .box-content.home-app{padding:0;}
.app-box-content-alter .IGRP-menu li, .app-box-content-alter #simpleMenu{border:none !important;}
.app-box-content-alter .IGRP-menu li{border-top:1px solid #d1d1d1  !important;}
.app-box-content-alter .col50100{width:100% !important; float:none !important;}
.app-box-content-alter .IGRP-menu li a span.icon{margin:5px;}
.app-col{ margin:0;}
.app-list1 span{margin-right:0;}
.app-box-content-alter .IGRP-menu li span.title{display:inline-block;}
.col50100+.col50100 .app-col{margin:5px 0;}
.app-list1 li:last-child span{border-bottom:none;}
/*--------------------------------TABLE[data-view="blocke"]--------------------------------*/
.table-responsive table[data-view="block"] tr{width:100%;float:none!important;margin:10px 0 !important;-webkit-box-shadow:none;box-shadow:none;}
.table-responsive table[data-view="block"] tr td:first-child{padding-right:30px;}
.table-responsive table[data-view="block"] tr td:first-child:after{display:none;}
.table-responsive table[data-view="block"] tr td input[type="radio"], .table-responsive table[data-view="block"] tr td input[type="checkbox"]{ height:25px;}
.table-responsive table[data-view="block"] td:before {line-height: 38px;}

.col.graph .col-1-4.item.charts {position: absolute !important;right: 6px !important;top: 15px !important;z-index: 2;left: inherit !important;width: 30%;}