
/* Example wrapper */
.wrap {
	position: relative;
	margin:10px 0;
}

/* Frame */
.frame {
	height: 250px;
	line-height: 30px;
	overflow: hidden;
	padding-bottom: 10px;
}
.frame ul.slidee {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size:12px;
	position: relative;
}
.frame ul.slidee > li {
	float: left;
	width:310px;
	height: 100%;
	margin:5px 5px 12px 5px;
	padding:0;
	text-align:left;
	cursor: pointer;
	-webkit-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.5);
}
.frame ul.slidee li:first-of-type{margin-left: 10px;}
.frame ul.slidee li:last-of-type{margin-left: 10px;}

.frame ul.slidee li > div{
	padding:2px 5px;
}
/* Scrollbar */
.scrollbar {
	margin:0 12px 5px 12px;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls{margin: 15px 0; text-align: center;}
.controls button{
    cursor: pointer;
    outline: 0;
    border: 1px solid #ccc;
    width:25px;
    margin: 0 5px;
    border-radius:20px;
    height:25px;
    background: #ccc;
}
.controls button:hover{background: #267199;color: #fff;}
.controls button.disabled:hover{background: #ccc;color: #363636;}
/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }