

#gen-blocky-view .farSide {
  text-align: right;
}

#gen-blocky-view .farSide {
  text-align: left;
}

/* Buttons */
#gen-blocky-view button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
#gen-blocky-view button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
#gen-blocky-view button.primary>img {
  opacity: 1;
}
#gen-blocky-view button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
#gen-blocky-view button:hover>img {
  opacity: 1;
}
#gen-blocky-view button:active {
  border: 1px solid #888 !important;
}
#gen-blocky-view button:hover {
  box-shadow: 2px 2px 5px #888;
}
#gen-blocky-view button.disabled:hover>img {
  opacity: 0.6;
}
#gen-blocky-view button.disabled {
  display: none;
}
#gen-blocky-view button.notext {
  font-size: 10%;
}

#gen-blocky-view h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Tabs */
#gen-blocky-view #tabRow>td {
  border: 1px solid #ccc;
  border-bottom: none;
}
#gen-blocky-view td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
}
#gen-blocky-view td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
#gen-blocky-view td.taboff:hover {
  background-color: #eee;
}
#gen-blocky-view td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
#gen-blocky-view td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
html[dir=rtl] td.tabmax {
  text-align: left;
}

#gen-blocky-view table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
#gen-blocky-view td {
  padding: 0;
  vertical-align: top;
}
#gen-blocky-view .content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}

#gen-blocky-view pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}



#gen-blocky-view #content1_blocks {
  padding: 0;
}
#gen-blocky-view .blocklySvg {
  border-top: none !important;
}
#gen-blocky-view #content2_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}
#gen-blocky-view #languageMenu {
  vertical-align: top;
  margin-top: 15px;
  margin-right: 15px;
}

/* Buttons */
#gen-blocky-view button {
  padding: 1px 10px;
  margin: 1px 5px;
}

/* Sprited icons. */
#gen-blocky-view .icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
#gen-blocky-view .trash {
  background-position: 0px 0px;
}
#gen-blocky-view .link {
  background-position: -21px 0px;
}
#gen-blocky-view .run {
  background-position: -42px 0px;
}
