<div class="form-group col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#">
    <label for="{#path#/@name}">#label.val#</label>
    <xsl:call-template name="VirtualKeyBoard">
        <xsl:with-param name="type" select="'#[keyType]#'"/>
        <xsl:with-param name="rel" select="concat('#parent.tag#_#tag#_',position())"/>
        <xsl:with-param name="input_type" select="'password'"/>
        <xsl:with-param name="input_name" select="#path#/@name"/>
        <xsl:with-param name="id" select="'#parent.tag#_#tag#'"/>
        <xsl:with-param name="placeholder" select="'#[placeholder]#'"/>
      
    </xsl:call-template>
</div>