<xsl:if test="not(#tag#/@visible)">
  <td align="#[align]#" data-row="{position()}" data-title="{../../fields/#tag#/label}" class="#type#">
    <input type="hidden" name="{../../../fields/#tag#/@name}_fk_desc" value="{#tag#_desc}"/>
    <div class="form-group">
      <div class="input-group form-color-picker" format="#[format]#">
        <input type="text" value="{#tag#}" format="#[format]#" class="form-control" #[required]# id="#parent.tag#_#tag#" name="{#path#/@name}"/>
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
  </td>
</xsl:if>

