<div class="form-group col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#" #[required]#>
	<label for="{#path#/@name}">
		#label.val#
	</label>
	<div class="input-group">
        <input type="text" class="form-control not-form" readonly=""/>
        <span class="input-group-btn">
            <span class="btn btn-#[class]# file-btn-holder">
                <i class="fa fa-upload"></i><input id="{#path#/@name}" name="{#path#/@name}" #[required]# value="{#path#/value}" target-rend="#[targetrend]#" class="transparent #[rendvalue]#" type="file" #[multiple]# accept="#[accept]#">
                    <xsl:call-template name="setAttributes">
                        <xsl:with-param name="field" select="#path#"/>
                    </xsl:call-template>
                </input>
            </span>
        </span>
    </div>
</div>  

