body {
    -webkit-print-color-adjust: exact;
    /*background: rgb(204,204,204);*/
    background: #525659;
    text-align: justify;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div[size="A3"] {
    width: 297mm;
    min-height: 420mm;
}

div[size="A3L"] {
    width: 420mm;
    min-height: 297mm;
}

/*------------------------------------------*/
div[size="A4"] {
    width: 210mm;
    min-height: 297mm;
}

div[size="A4L"] {
    width: 297mm;
    min-height: 210mm;
}

/*------------------------------------------*/
div[size="A5"] {
    width: 148mm;
    min-height: 210mm;
}

div[size="A5L"] {
    width: 210mm;
    min-height: 148mm;
}

/*------------------------------------------*/
div[size="A6"] {
    width: 105mm;
    min-height: 148mm;
}

div[size="A6L"] {
    width: 148mm;
    min-height: 105mm;
}

/*------------------------------------------*/
div[size="A7"] {
    width: 74mm;
    min-height: 105mm;
}

div[size="A7L"] {
    width: 105mm;
    min-height: 74mm;
}

/*--------------------------------------*/
div[size] #footer {
    width: 100%;
}

div[size] #footer .rfooter {
    width: calc(100% - 135px);
}

div[size] #footer .holder-footer {
    width: 100%;
    background-color: #fff;
    display: block;
    height: 55px;
}

.page {
    background: white;
    display: block;
    margin: 5mm auto;
    box-shadow: 0 0 1mm rgba(0,0,0,0.5);
    position: relative;
    font-size: 12px;
    font-family: "Times New Roman";
}

body.isNotIE .page {
    margin: 0 0 20px -8px;
}

body.readypdf {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body.readypdf iframe {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.page #header {
    padding: 10px 20px;
}

.page #content {
    padding: 20px 20px 120px 20px;
    display: block;
    /* margin-bottom: 10px; */
}

.page[hasfooter="N"] #content {
    padding: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #267199;
}

.rfooter {
    float: left;
    padding: 68px 10px 0 10px;
}

#containerQrcode, .containerQrcode {
    padding: 1px;
    width: 29mm;
    background-color: #fff;
    float: left;
    margin-left: 15px;
    margin-bottom:8px;
    /*margin-top: -43px;*/
}

.isNotIE #containerQrcode, .isNotIE .containerQrcode {
    margin-bottom: -12px !important;
}

.contraProva {
    font-size: 12px;
    float: left;
}

.contraProva .clabel {
    text-transform: uppercase;
    text-align: left;
    color: #faf7f7;
}

.contraProva .val {
    color: #000;
    font-size: 16px;
}

.userprint {
    font-size: 11px;
    color: #faf7f7;
    text-align: right;
    float:right;
  
}

canvas {
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    line-height: 0;
}

table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0;
}

table:not('.clean') tbody tr:nth-of-type(odd) {
    background-color: #fbfcfc;
}

table th, table td {
    padding: 8px 5px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
    width: auto;
    word-break: break-all;
}

table.clean, table.clean thead tr th, table.clean tbody tr td {
    border: none;
}

/*
https://github.com/danfickle/openhtmltopdf/wiki/Page-features
div[size="A4"]:before{
    content: url('');
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 50vh;
    opacity: 0.5;
}

.fixed{
  position: absolute;
  left: 1cm;
  right: 1cm;
  border: 1px solid #ddd;
  min-height: 80px;
}

#content{
  margin:3cm 0;
}

#header{
  top: 1cm;
}

#footer{
  bottom: 1cm;
}*/
p {
    line-height: 18px;
    margin: 3px 0;
}

@media print {
    html, body {
        -webkit-print-color-adjust: exact;
        background: #fff;
        margin: 0;
        padding: 0;
      
    }

/*     @top-left, @top-right, @top-center { */
/*         display: none; */
/*     } */

/*     @bottom-center, @bottom-left, @bottom-right { */
/*         display: none; */
/*     } */

    table {
        width: 100%;
    }

    table thead, table tfoot, table tbody {
        display: table-header-group;
    }

    .page {
     /*   background: white;
      
        font-size: 12px;
        font-family: "Times New Roman";
        page-break-after: always;
        */
        border: initial;
        border-radius: initial;
        box-shadow: 0 0 0 #fff;
        background: initial;
        margin: 0;
        padding: 0;
        
    }

    .page #header {
      
       /* padding: 0;*/
    }

    .page #content {
    /*   break-after: page;
           margin-bottom:20px;
    padding:0;*/    
   -fs-page-break-min-height: 50px;
    }
    
    .page[hasfooter="Y"] #content {
	/*openhtml2pdf css propertie*/
    -fs-page-break-min-height: 170px;
	}

    .page footer {
       
          break-before: page;
        /*  height: 400px;
        width: 420mm\9;*/
    }

    .page #footer {       
    	position:fixed;
  		bottom: 0;
        page-break-before: always;
        page-break-inside: auto;
    }

    /* div[size="A3"] #content .holder {
        width: 297mm\9;
    }

    div[size="A3L"] #content .holder {
        width: 420mm\9;
    }

    ------------------------------------------
    div[size="A4"] #content .holder {
        width: 210mm\9;
    }

    div[size="A4L"] #content .holder {
        width: 297mm\9;
    }

    ------------------------------------------
    div[size="A5"] #content .holder {
        width: 148mm\9;
    }

    div[size="A5L"] #content .holder {
        width: 210mm\9;
    }

    ------------------------------------------
    div[size="A6"] #content .holder {
        width: 105mm\9;
    }

    div[size="A6L"] #content .holder {
        width: 148mm\9;
    } 

    /*------------------------------------------
    div[size="A7"] #content .holder {
        width: 74mm\9;
    }

    div[size="A7L"] #content .holder {
        width: 105mm\9;
    }
    
    */
  p{
  	line-height: 18px;
  	margin:0;
	}
   
    p a {
        word-wrap: break-word;
    }

    a:link:after, a:visited:after {
        content: "(" attr(href) ") ";
    }

    a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
}
