/*TABLE*/

.box table.table{
  margin-bottom: 0;
}

.table-box{
  overflow-x:auto;
  position: relative;
  
}
.box-header+.table-box{
  padding-top: 0
}

table thead {
  border-bottom: 1px solid #ddd;
}

table thead th{
  font-weight: 500
}

table th[align="center"]{
  text-align: center;
}

table th[align="right"]{
  text-align: right;
}

table tfoot{
  background: #ececec;
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
   background-color: #fbfcfc;
}

/*ctx menu*/
.table-context-menu {
  position: absolute;
  display:none;
  min-width: 140px;
  max-width: 300px;
  box-shadow: 0px 4px 10px 0px #ddd
}

.table-context-menu>li>a{
  border-radius: 0!important;
  padding: 5px 10px;
  position: relative;
}

.table-context-menu li>a.btn{
  text-align: left;
}

.table-context-menu>li>a .icon-item-holder{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    text-align: center;
    padding: 5px 5px;
}
.table-context-menu>li>a.list-group-item:last-child{
  margin-bottom: -1px;
}

.table-context-menu>li>a .icon-item-holder+span{
  margin-left: 20px;
  display: block;
}

.table-context-menu.open{
	display: block;
}

.table-context-menu > li.ctx_hidden {
  display: none!important
}

.table-img{
  max-height: 80px;
}

table td.img{
  width: 70px;
}


/* IGRP TABLE FILTER */
.igrp-table-filter{
  margin-top: 10px;
  padding: 10px 0;
  margin-bottom: 0px;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}

.box-header+.table-box .igrp-table-filter{
  margin-top: 10px;
}

.igrp-table-filter ul.pagination {
  margin:0;
  display: block;
}

.igrp-table-filter ul.pagination:after{
  content:"";
  display: block;
  clear: both
}

.igrp-table-filter ul.pagination li a{
  border-radius: 0!important;
  padding: 4px 0;
  /*margin: 1px;*/
  width: 25px;
  text-align: center;
}
/**/


/*.table-context-menu > .ctx-holder {
	display:block;
	position:static;
	margin-bottom:5px;

}
.table-context-menu > .ctx-holder > li {
	position: relative;
  border-bottom: 1px solid #ccc;
}

.table-context-menu > .ctx-holder > li:last-child {
  border-bottom: 0;
}

.table-context-menu > .ctx-holder > li.ctx_hidden {
	display: none!important
}

.table-context-menu > .ctx-holder > li a span.ctx-title { 
	margin-left:0;  
}

.table-context-menu > .ctx-holder>li:hover{
  background: #f5f5f5
}

.table-context-menu > .ctx-holder>li>a{
  text-align: left;
  border: 0;
  padding-left: 35px;
  background: white;
}

.table-context-menu > .ctx-holder>li>a .icon-item-holder{
  position: absolute;
  top:0;
  left: 0;
  padding: 9px; 
}*/



/* table buttns*/

.table-btn{
  width: 40px;
  text-align: center;
  font-size: 18px;
  /*border-left: 1px solid #F4F4F4;*/
  padding: 0!important;
  /*background-color: rgba(0,0,0,.02)*/
}


table .lookup-parser{
  cursor: pointer;
  text-decoration: underline
}

table .lookup-parser:hover {
    text-decoration: underline;
}

table tbody tr:hover{
  background-color: rgba(49, 176, 213, 0.05)!important
}

table tbody tr.ctx-open{
  background-color: rgba(49, 176, 213, 0.1)!important
}


table tbody tr.row-active{
  background-color: rgba(213, 255, 92, 0.3)!important
}

table td.checkbox, 
table td.radio{
  display: table-cell;
  margin: 0;
}

table th.bs-checkbox,
table td.bs-checkbox {
  width:40px;
  text-align: center;
}

.table>thead>tr>th{
  border-width: 1px;
  line-height: 1
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
  padding: 8px 10px;
  vertical-align: middle;
}

/* inline ctx menu*/
.igrp-table-ctx-th{
  min-width: 125px;
}
.igrp-table-ctx-td>ul{
  margin:0;
  padding: 0;
  display: block;
  float: right;
}
.igrp-table-ctx-td>ul>.operationTable{
  float: left;
  text-align: center;
  margin-right: 4px;
  min-width: 28px;
  min-height: 28px;
}

table.align .igrp-table-ctx-td>ul>.operationTable{
  min-width:0;
  min-height:0;
}

.igrp-table-ctx-td>ul>.operationTable > .btn{
    width: 28px;
    padding: 4px 6px;
    margin: 2px 0;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.igrp-table-ctx-td>ul>.operationTable > .btn .ctx-title{
  display: none;
}


/*EXPORT*/
.dataTables_wrapper .dt-buttons{
  display: none!important;
  visibility: hidden!important
}

.box-header+.box-body .table-export-options {
  margin-top: 10px;
}