
.gen-container-hover {
	background: rgba(255, 255, 150, 0.3);
	border: 1px solid rgba(255, 255, 150, 0.5);
	margin: 5px;
	height:55px;
}
.gen-row {
	margin: 10px 8px;
	padding-top:10px; 
	/*padding: 10px 5px;
	border:1px solid #ddd;
	background: rgba(255,255,255,.5);*/
	position: relative;
}

.gen-row .gen-row-options{
	position: absolute;
	right: -2px;
	padding: 2px;
	top: -6px;
	z-index: 150;
}

.gen-row .gen-row-options ul li:hover{
	background-color: rgba(148, 148, 148, 0.);
}

.gen-row .gen-row-options ul li{
	float:left;
	margin-left: 5px;
	font-size:10px;
	cursor: pointer;
	padding: 1px 2px;
	border: 1px solid #ddd;
	border-bottom: 0;
	/* color: #ccc; */
	background-color: rgba(204, 204, 204, 0.55);
	color: white;
}

.gen-row .gen-row-options ul li[rel="column"]:hover .columns-structure{
	display: block;
}

.gen-row .gen-row-options ul li .columns-structure{
	width: 100px;
	padding: 5px;
	background: rgba(255,255,255,.8);
	border: 1px solid #ccc;
	display: none;
	right: 100%;
	margin-right: -45px;
	position: absolute;
	box-shadow: 0px 0px 5px 1px #ccc;
}

.gen-row .gen-row-options ul li .columns-structure span{
	display: block;
}

.gen-row .gen-row-options ul li .columns-structure span:after{
	display: block;
	content:"";
	clear: both
}

.gen-row .gen-row-options ul li .columns-structure > span{
	background: white
}

.gen-row .gen-row-options ul li .columns-structure > span:hover .gen-column-option:after{
	background: #eee
}

.gen-row .gen-row-options ul li .columns-structure span .gen-column-option:after{
	height: 20px;
	display: block;
	content: "";
	margin:2px -1px 2px 0px;
	border:1px solid #ccc;
}

/*.gen-row .gen-row-options ul li[rel="add-row"]:before{
	content:"add row";
	display: block;
	text-align: right;
}
.gen-row .gen-row-options ul li[rel="delete-row"]:before{
	content:"delete row";
	display: block;
	text-align: right;
}
.gen-row .gen-row-options ul li[rel="column"]:before{
	content:"columns";
	display: block;
	text-align: right;
}
*/
.gen-row:after {
	content: "";
	display: block;
	clear: both
}


.gen-row .gen-column {
	background: transparent;
	
}

.gen-row .gen-column.ui-sortable-helper, #gen-view .gen-row.ui-sortable-helper{ visibility: visible!important }

.gen-row .gen-column-inner {
	margin-left: -1px;
	margin-top: -1px;
	border:1px solid rgba(204, 204, 204, 0.4);
	background: rgba(255,255,255,.4);
	transition:background-color .5s;
	padding: 0px;
	box-shadow:0 0px 5px 0px rgba(204, 204, 204, 0.4);
}

.gen-container-placeholder {
	min-height: 55px;
	background-color: transparent;
	transition:background-color .5s;
}
/* GEN-TABS */