/* page set up */
.IGRP_overlay{
	z-index: 0;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.link-opener{
	left: 15%;
    height: 80%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
}

.link-opener .opener-close{
	position: fixed;
	z-index: 1;
	right:calc(15% - 25px);
	top:10%;
}

[gen-class="file-visible"] {
	opacity: 1!important;
	position: relative!important;
	top: 0!important;
	left: 0!important;
	border:0!important;
	margin:0!important;
	height: auto!important;
}

.inner-pad{
	padding:5px;
}

#gen-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.2);
	z-index: 10000;
	display: none;
}

.IGRP_overlay.active{
	background-color: rgba(0,0,0,.4);
}


body{
	transition:opacity 1s;
	top: 0;
  	position: fixed;
 	left: 0;
  	width: 100%;
  	height: 100%;
}

body.waiting {
	cursor: wait;
}

body.waiting *{
	cursor: wait!important;
}

body.startin:before {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	content:'loading...';
	top:50%;
	margin-top:-15px;
	font-size: 18px 
}
body.startin {
	opacity: 0.6;
	position: fixed;
	height: 100%;
	width: 100%;
	left:0;
	top:0;
	background:whitesmoke;
	z-index: 999999;
}
body.startin * { 
	visibility: hidden!important 
}
body.loading-gen-data .gen-container-placeholder,body.loading-gen-data .gen-row{
	visibility: hidden;
}

.clr {
	clear:both;
}


.form-hidden {
	display: none!important;
	visibility: hidden!important;
	opacity: 0!important;
}
#igrp-tools {
	float:right;
}

#igrp-tools .tool-bar{
	background: transparent;
	margin: 0;
	border: 0;
}
#igrp-tools .tool-bar ul li{ background:transparent; }
#igrp-tools .tool-bar ul li a span{ display: none }

.increase-height:after {
	display: block;
	content:'drop-here';
}
.padded {
	padding: 5px;
}
#igrp-topPage,.bodyPageLeft {
	z-index:600;
}
#content{
	position:relative;
	background: whitesmoke;
	/* height: 500px; */
	overflow: hidden;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
}
#content:after {
	display: block;
	clear: both;
	content:'';
}



body.importing *, body.starting *{
	cursor: wait!important;
}

body.importing, body.starting {
	cursor: wait!important;
}

body.importing #gen-overlay, body.starting #gen-overlay{ display: block}

body.importing .gen-container-placeholder li {
	visibility: hidden;
}
body.importing .gen-container-placeholder { opacity: 0 }

.gen-container-item {
	margin-top:0!important;
}

span span[gen-lbl-setter] {
	margin:0!important;
	padding: 0!important;
	border: 0!important;
	float:none!important;
	outline:0!important;
}

.box-content:nth-child(1) {
	margin: 0!important;
}
.table-container{
	margin-bottom: 0;
	border:0;
}
.tool-bar ul li { height: auto; }

/*controllers VIEW / CODE LIST*/

.bodyPageRigth {
	
}
#igrp-bodyPage { padding: 0 }
#gen-main-holder {
	background:transparent;
	position: static;
}
#gen-views-control {
	position: absolute;
	z-index: 10;
}
#gen-views-control ul li.active{ font-weight: bold; }
#gen-views-control ul li{
	display: inline-block;
	padding: 4px;
}
#gen-views-control ul li span{ 
	cursor:pointer;
}

/* sub */
.gen-views-control.active .gen-v-types-sub {
	display: inline-block;
}
.gen-v-types-sub {
	display: none;
}

.gen-v-types-sub-item {
	margin-left: 10px;
	display: list-item;
	color:#ccc;
	text-transform: none;
}


/*TYPES - CONTAINERS / FIELDS LIST*/

#igrp-bodyPage.noTop #gen-types-holder{
	position: fixed;
	top:30px;
	width: calc(16% + 4px);
}

section#gen-types-holder:before {
	display: block;
	content: "";
	margin-top: 75px;
}


body[screen="full"] section#gen-types-holder:before {
	margin-top: 0;
}

#gen-types-holder {
	width: 14%;
	position: absolute;
	left: 0;
	background: whitesmoke;
	margin-left: 0;
	
	z-index: 1120;
	/* float: left; */
	/* top: 75px; */
	overflow: hidden;
	height: 100%;
}
#gen-types-holder ul#gen-types-menu[has-menu="1"] li {
	width: 33.333333%;
}
#gen-types-holder ul#gen-types-menu li {
	float: left;
	margin:0;
	width: 50%;
	background: #e8e7e7;
  	border-bottom:1px solid;
  	text-transform: uppercase;
  	cursor:pointer;
  	text-align: center;
  	color:#cccccc;
  	padding: 0;
  	line-height: 20px;
}
#gen-types-holder #gen-types-menu li span{
	display: block;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	padding:5px 1.5%;
  	border-right:1px solid #cccccc;
}
.gen-declared-containers.draggin,.gen-fields li.draggin {
	opacity: 0.6;
}
#gen-types-holder #gen-types-menu li:last-child span{
	border-right:0;
}

.gen-declared-containers.gen-undeclared{ display: none!important; }

#gen-types-menu {
	z-index: 500;
	position: relative;
}
#gen-types-holder ul#gen-types-menu li.active {
	 border-bottom:0;
	 padding-top: 1px;
	 background: whitesmoke;
}
#gen-types-rel {
  background: whitesmoke;
  border-top: 1px solid #267199;
  margin-top: -1px;
  position: absolute;
  height: calc(100% - 105px);
  width: 100%;
  overflow: auto;
  top:105px;
}

body[screen="full"] #gen-types-rel {
	top: 30px;
	height: calc(100% - 30px);
}

.gen-menu-rel{ 
	display: none;
	/*position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;*/
}

/*.gen-menu-rel:before{
	display: block;
	margin-top:40px;
	content: ""
}
*/
/* MODULES */
.gen-menu-rel.active { display: block;}


.gen-menu-rel[rel="settings"]:after{
	content:"";
	display: block;
	clear: both;
} 

.gen-menu-rel[rel="settings"] .col.item{
	background: none!important;
}

.gen-menu-rel[rel="settings"] .igrp_item.checkbox{
	padding-top: 5px!important;
}



.gen-menu-rel[rel="modules"] ul.listTree li{
	border-bottom: 1px dotted rgba(204,204,204,0.5)!important;
}

.gen-menu-rel[rel="modules"] ul.listTree li:last-child{
	border-bottom: 0!important;
}

.gen-menu-rel[rel="modules"] ul.listTree li a{
	height: 20px;
	display: block;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	padding: 2px 34px 2px 4px !important;
}

/*ul.listTree .tree-menu-options .btn:after{
	content:""!important; 
	width: 16px;
	height:16px;
}

ul.listTree .tree-menu-options .btn.addItem:after{
	background: url('../img/icon/modules/svg/add.svg') no-repeat;
	background-size: 80%;
	background-position: center;
	background-color: rgba(49, 177, 49, 0.66);
}

ul.listTree .tree-menu-options .btn.editItem:after{
	background: url('../img/icon/modules/svg/edit.svg') no-repeat;
	background-size: 80%;
	background-position: center;
	background-color:rgba(236, 226, 43, 0.66);
}*/

.gen-menu-rel[rel="modules"] ul.listTree li a .tree-menu-options{ 
	text-align: right;
}

ul.listTree li.listGetter a[type='node'] span{
	cursor: inherit;
}

ul.listTree li.listGetter a{ cursor: pointer ; }

ul.listTree > li.listGetter a:hover{
	text-decoration: none;
}

ul.listTree > li.listGetter ul li a:hover{
	text-decoration: underline;
}

ul.listTree li.listGetter a.active[type='node']:after{
	margin-left:0;
}

.gen-menu-rel[rel="modules"] #gen-apps-holder > .listTree > li:nth-child(even) {
	background: #f0f0f0;
}
#gen-apps-holder ul li a.selected {
	text-decoration: underline;
}

.gen-menu-rel[rel="modules"] ul.listTree li a .tree-menu-options .btn:after {
/*	width: 12px;
    height: 12px;
    margin: 1px;
    position: relative;
    cursor: pointer;
    content:"";
    display: inline-block;
    background-repeat: no-repeat;*/
    background: transparent;
    padding: 1px;
    color:#363636;
    width: auto;
  
}

.gen-menu-rel[rel="modules"] ul.listTree li a:hover .tree-menu-options .addItem:after {
	content:'[add]';
    /*background: url('../../../themes/default/img/icon/tools-bar/add.png');
      background-size:12px;*/
}	
.gen-menu-rel[rel="modules"] ul.listTree li a:hover .tree-menu-options .editItem:after {
	content:'[edit]';
   /* background: url('../img/icon/containers-setts.png');*/
}	

#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li:nth-child(even){
	background-color: #f0f0f0;
}

#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li{
	margin: 0;
	display: none;

	/*width: 33.33333%;
	float:left;*/
	cursor:pointer;
}


#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul { padding: 10px 5px; }

#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li{  
	padding: 3px 0; 
	background-repeat: no-repeat;
    background-position: right center;
    border-bottom: 1px dotted #ccc;
}
#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li:hover, #gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li.draggin{ 
	background-color: rgba(175, 201, 216, 0.26);
}


#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul.gen-containers li span{
	color:#1ca965;
}
#gen-types-rel .gen-menu-rel:not([rel="modules"]):not([rel="settings"]) ul li span{
	display: block;
    padding: 5px;
    color: #1c7aa9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 10px;
   
    font-weight: bold;
}


/* modules frame */
#gen-apps-modules-frame {
	position: fixed;
	width: 60%;
	left: 20%;
	height: 80%;
	top:10%;
	display: none;
	z-index: 602;
}
#gen-apps-modules-frame iframe{ 
	width:;background:#fafafa;
	min-height:0;
	height: 100%;
	position: relative;
}
#gen-main-holder li { list-style: none!important }

#gen-types-holder .gen-menu-rel ul.gen-containers li.active{
	display: block;
}
#gen-types-holder .gen-menu-rel ul.gen-fields li.active{
	display: block;
}
#gen-types-holder ul.gen-fields li{ 
	z-index: 100;
	display: none;
}

/* FILTER */

#gen-app-choser {
	background: transparent;
}
#gen-app-choser .igrp_item{
	margin: 0
}

/*VIEWRS PREVIEW / CODE*/
.gen-viewers.active {
	visibility: visible;
	opacity: 1;
}
.gen-viewers {
	opacity: 0;
	visibility: hidden;
	float:right;
	/* min-height: 100%; */
	background-position: 1px -20px;
	z-index: 100;
	height: 100%;
	position: absolute;
	width: 86%;
	left: 14%;
	background-color: white;
}

#igrp-bodyPage.noTop #gen-noif-holder {
	display: none
}

body[screen="full"] #gen-view {
	top: 30px;
	height: calc(100% - 30px);
}

#gen-view {
	background:url('../img/grid15.png') #f0f0f0;
	/*min-height: 550px;*/
	border-left:1px solid #ccc;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position: absolute;
	left: 14%;
	width: 86%;
	height: calc(100% - 105px);
	top:105px;
	overflow-x: hidden;
	overflow-y: auto;
}
#gen-view:after {
	content: "";
	padding-bottom: 30px;
	display: block;
}
#gen-view.active {
	visibility: visible;
}
#gen-view li.gen-declared-containers{
	min-height: 40px;
	display: block;
	position:relative;
}
li.gen-declared-containers{
	list-style: none;
}

body[screen="full"] #gen-code-view,body[screen="full"] .gen-vw-inner{
	top:30px;
	height: calc(100% - 30px);
}

#gen-code-view, .gen-vw-inner {
	display: block;
 	position: absolute;
 	padding: 0!important;
  	
	width: 100%!important;
  	margin: 0 auto!important;
  	
	top: 105px;
  	
	/* min-height:519px; */
  	resize: none;
	height: calc(100% - 105px);
}

#gen-plqsl textarea {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0px;
}

#gen-code .CodeMirror.cm-s-default, #gen-plsql .CodeMirror.cm-s-default{ 
	top: 0; 
	position: absolute;
	/* min-height:518px; */ 
	width: 100%; 
	height: 100%;
	left: 0;
}



/*TOOLSBAR*/
#igrp-bodyPage.noTop #gen-toolbar {
	position: fixed;
	top: 30px;
	width:calc(84% - 4px);
}
#gen-toolbar {
	right: 0;
	width: 86%;
	height: 31px;
	background:whitesmoke;
	border-bottom: 1px solid #ccc;
	z-index: 1110;
	position: absolute;
	border-left: 1px solid #ccc;
  	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	top: 75px;
	box-shadow: 0 1px 2px 0px #ccc;
}

#gen-toolbar #gen-page-title {
	position: relative;
	display: block;
	float: left;
	line-height: 30px;
	padding: 0 10px;
	color: #267199;
	font-size: 14px;
	font-weight: bold;
}

#gen-toolbar #gen-page-title .title{
	min-height: 18px;
	display: inline-block;
}

/*

#gen-toolbar #gen-page-title i#gen-page-loading{
	width:45px;
	height: 15px;
	position: absolute;
	right: 0;
	top: 8px;
	display: none;
	float: left;
	background: url('../img/cloader.gif') no-repeat left center;
	background-size: 40%;
}*/


#gen-toolbar #view-types{
	float: left;
}

#gen-toolbar #view-types li {
	float: left;
	cursor: pointer;
}
#gen-toolbar #view-types li.gen-views-control:last-child{
	border-right:1px solid #ccc;
}
#gen-toolbar #view-types li.gen-views-control{
	color:#cecece;
	text-transform: uppercase;
	padding: 10px;
	border-left:1px solid #ccc;
	font-size:11px;
}

#gen-toolbar #view-types li.gen-views-control.active{
	color:#267199;
}


#gen-toolbar #view-types > span{
	cursor: pointer;
}
#gen-toolbar #view-types li:hover ul{
	display: block;
}
#gen-toolbar #view-types li ul{
	display: none;
	transition: all 1s;
	width: 440px;
	float: left;
	background: #ccc;
	margin-top: 11px;
	margin-left: -8px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#gen-toolbar #viewtypes li ul li{
	cursor: pointer;
	display: inline-block;
	padding: 2px;
	margin:0 2px;
}
.box-collapser .table-responsive { }
/*CONTAINERS HOLDER*/
.gen-container-holder {
	margin: 8px;
	position: relative;
	min-height: 5px;
	display: none;
}
.gen-container-hover {
	background: rgba(255, 255, 150, 0.3);
	border: 1px solid rgba(255, 255, 150, 0.5);
	margin: 5px;
}

.gen-container-holder .container-settings, .gen-tab-holder .container-settings{
	position: relative;
	height: 18px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	background: #f0f0f0;
	cursor: move;
}
.gen-container-holder .container-settings .container-settings-title, .gen-tab-holder .container-settings .container-settings-title{
	  position: relative;
	  float: left;
	  padding: 3px 5px;
	  background: #e7e7e7;
	  color:#b1b1b1;
	  border-right: 1px solid #ccc;
}
.gen-container-holder .container-settings .c-holder-loading {
	display: none;
	background: url('../img/cloader.gif') no-repeat center;	
	background-size: 40%;
	width: 45px;
	height: 18px;
	display: block;
	float: left;
}

.gen-container-holder .container-settings .container-options, .gen-tab-holder .container-settings .container-options{
	float:right;
	position: relative;
	margin-right: 2px;
	transition:opacity .5s;
}
.gen-container-holder:hover .container-settings .container-options{
}
.gen-container-holder .container-settings .container-options li, .gen-tab-holder .container-settings .container-options li{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 1px;
	position: relative;
	cursor: pointer;
}
.gen-container-holder .container-settings .container-options li.container-edit,.gen-tab-holder .container-settings .container-options li.container-edit{
	background-position: 0 0;
	background: url('../img/icon/settings.png');
	background-repeat: no-repeat;
	background-size: 14px;
}
.gen-container-holder .container-settings .container-options li.container-remove, .gen-tab-holder .container-settings .container-options li.container-remove{
	background-position: 0 0;
	background: url('../img/icon/trash_1.png');
	background-repeat: no-repeat;
	background-size: 13px;
}
.gen-container-holder .container-settings .container-options li.container-edit.active{
}
.gen-container-holder .container-settings .container-options li.container-edit:hover{
	/*background-position: 0 -12px;*/
}
.gen-container-holder .container-settings .container-options li.container-mover{
	background-position: -12px 0px;
	cursor: move;
}
.gen-container-holder .container-settings .container-options li.container-mover:hover{
	background-position: -12px -12px;
}

/* FIELDS HOLDER*/
.gen-fields-holder, .th-field-holder, .gen-ctx-menu-holder { position: relative!important; }

.box-table table th.gen-fields-holder.checkbox, .box-table table th.gen-fields-holder.radio {
	width: 30px!important;
	height: 25px;
}

.box-table table th.gen-fields-holder input{
	display: none!important;
}

table th.gen-fields-holder[align=""]{ text-align: left; }

/*table th.gen-fields-holder .field-edt-options{
	position: relative;
	left: 5px;
	top:-1px;
}*/

table th.gen-fields-holder[align="right"] .field-edt-options{
	left: 0px;
	top:-1px;
}

.gen-fields-holder:hover,
.th-field-holder:hover,
.gen-ctx-menu-holder:hover{
	background:rgba(236, 241, 247, 0.5)!important;
	box-shadow: 0px 0px 2px 0px #ccc;
}
.gen-fields-holder.on-edition, 
.th-field-holder.on-edition, 
.gen-ctx-menu-holder.on-edition  {
	background:rgba(236, 241, 247, 0.8)!important;
	box-shadow: 0px 0px 5px 1px #ccc;
}
td.gen-fields-holder:hover:not(.on-edition) {
	background: none!important
}

.th-field-holder:hover .field-edt-options{
	visibility: visible;
}
.gen-fields-holder:hover .field-edt-options, 
.gen-fields-holder.on-edition .field-edt-options,
.gen-ctx-menu-holder:hover .field-edt-options,
.gen-ctx-menu-holder.on-edition .field-edt-options
{ 
	opacity: 1;
}
.field-edt-options[display="inline"]{ display: inline-block; }
.field-edt-options[display="block"]{top:0;left:0;position:relative; display: block;width:auto;float:none; margin:0;}
.field-edt-options[position="center"]{text-align: center; }
.field-edt-options{
	opacity: 0;
	top: 5px;
	position: absolute;
	width: 32px;
	max-width: 100%;
	right: 0;
	vertical-align: middle;
	text-align: center;
	margin-left: 5px;
	transition:opacity .5s;
}

.field-edt-options.center{
	text-align: center;
}
.gen-fields-holder:hover .field-edt-options{
}
/*.gen-fields-holder .field-edt-options{
	position: absolute;
	margin-top:5px;
	margin-left: 2px;
	display: block;
	width: 32px;
}*/
/*.gen-fields-holder .field-edt-options.no-margin{
	margin-top: 0
}
.gen-fields-holder .field-edt-options.block{
	width:auto;
}
.gen-fields-holder:hover .field-edt-options.block{
	display: block;
	position: relative;
}
.gen-fields-holder:hover .field-edt-options { display: inline-block; }*/
.field-edt-options div{
	display: inline-block;
	background: url('../img/icon/containers-setts.png');
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	margin: 1px;
	position: relative;
	cursor: pointer;
}
.field-edt-options div:last-child{
	margin-right: 4px;
}
.field-edt-options div.field-edit{
	background-position: 0 0;
}
.field-edt-options div.field-edit:hover{
	background-position: 0 -12px;
}
.field-edt-options div.field-edit:hover, .on-edition .field-edt-options div.field-edit{
	background-position: 0 -12px;
}
.field-edt-options div.field-remove{
	background-position: -24px 0px;
}
.field-edt-options div.field-remove:hover{
	background-position: -24px -12px;
}
.field-edt-options div{
}
/*EDITION HOLDER*/
#gen-edition-dialog-holder {
	
	visibility: hidden;
}
#gen-edition-dialog-holder.active {
	visibility: visible;
}

#gen-edition-dialog-holder.active #gen-edition-dialog {
	display: block;
}
#gen-edition-dialog {
	position: absolute;
	z-index: 300;
	top:0;
	left: 0;
	height: 100%;
	margin-top: 0;
	width: 100%;
	display: none;
	overflow: auto;
	/*border-top:1px solid #ccc;*/
	/*min-width: 270px;*/
	/*box-shadow: 0px 0px 5px 1px #ccc;*/
}

#gen-proprieties-applier{
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 17%;
	background: #ccc;
}

#gen-edition-dialog-holder .CodeMirror {
	border:none;
}

#gen-edition-xsl-options {
	background: #f0f0f0;
	padding:5px;
	border-bottom: 1px solid #ccc;
	text-align: right;
}
.gen-edition-contents {
	display: none;
}

.gen-edition-contents.active {
	display: block;
}
/*.gen-edition-contents {
	height: 0;
	overflow: hidden;
	transition: height .5s;
}
.gen-edition-contents.active {  
	height: auto;
}*/

.gen-edition-contents:after {  
	display: block;
	clear: both;
	content:"";
}

/*GEN EDIT ACCORDION*/
h3.gen-edition-title-ctrl {
    background: #26719B;
    padding: 10px 8px;
    color: white;
    border-bottom: 1px solid #0B4769;
    text-transform: uppercase;
    cursor: pointer;
}


#gen-edition-dialog table{
	/*min-width: 265px;*/
	width: 100%;
}

#gen-edition-dialog div[rel="closer"]{
	position: absolute;
	right: -8px;
	top: -8px;
	cursor: pointer;
	display: none
}
#gen-edition-dialog table tr {
	background: transparent!important;
}
#gen-edition-dialog table tr td {
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

#gen-edition-dialog table tr:nth-child(odd) td {
	background-color: #f0f0f0;
}

#gen-edition-dialog table tr:nth-child(even) td {
	background-color: whitesmoke
}
#gen-edition-dialog .edition-lbl {
	padding-right: 10px;
	text-transform: capitalize;
	vertical-align: middle;
}
#gen-edition-dialog .propriety-setter{
	margin: 2px 0;
}
#gen-edition-dialog .setter-holder .propriety-setter[rel="title"] {
	width: 77%;
}

#gen-edition-dialog .edition-val:after{
	content: "";
	display: block;
	clear: both;
}

#gen-edition-dialog .setter-holder .propriety-setter[rel="hasTitle"],

#gen-edition-dialog .setter-holder .propriety-setter[rel="collapsible"] {
	width:50%;
	float: left;
}

#gen-edition-dialog .setter-holder[rel="type"],#gen-edition-dialog .setter-holder[rel="name"] {display: none}
#gen-edition-dialog ul[rel="img"] {
	border: 1px solid #ccc;
	background:white;
	max-height: 200px;
	overflow: auto;
}
#gen-edition-dialog ul[rel="img"] li{
	display:inline-block;
	margin: 2px;
	padding: 2px;
}
#gen-edition-dialog ul[rel="img"] li.active{
	outline: 1px solid #ccc;
  background: rgb(202, 218, 234)
}
#gen-edition-dialog ul[rel="img"] li img{
	max-width: 18px;
	padding: 2px;
}


#gen-edition-dialog .gen-edition-btn:hover{
	opacity: 1;
}

#gen-edition-dialog .gen-edition-btn[rel="gen-edt-apply"]{
	/*background: rgb(181, 210, 255);*/
}
#gen-edition-dialog .gen-edition-btn[rel="gen-edt-cancel"]{
	/*background: rgb(228, 90, 90);*/
}
#gen-edition-dialog .gen-edition-btn{
  outline: 0;
  padding: 10px;
  /*color: white;
  box-shadow: 0 0 2px 0px #b1b1b1;*/
  font-size: 12px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  border-left: 1px solid #ccc;
  transition: opacity .5s;
  opacity: .65;
 }
#gen-edition-dialog .arrow-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	right: 8px;
	top: -8px;
	position: absolute;
	border-bottom: 8px solid #ccc;
	z-index:302;
}

#gen-edition-dialog.bottom-arrow .arrow_box{
	top: 100%;
	margin-top:18px;
}

#gen-edition-dialog.bottom-arrow .arrow_box:before{
	border-bottom-color:transparent;
	border-top-color:#ccc;
}

#gen-edition-dialog.bottom-arrow .arrow_box:after{
	border-bottom-color:transparent;
	border-top-color:#e1e1e1;
	border-width: 9px;
    margin-left: -9px;
}
#formular_default #gen-proprieties-editor .igrp_item{
	margin:0 5px;
	padding:5px 5px 10px 5px;
}

#formular_default #gen-proprieties-editor .igrp_item[rel="tag"] .edition-val{
	margin-right:25px;
}

#formular_default #gen-proprieties-editor input[rel="gen_autotag"] {
	position: absolute;
	right: 5px;
	top:35px;
}

#formular_default #gen-proprieties-editor input[rel="gen_autotag"] {
	position: absolute;
	right: 5px;
	top:35px;
}

#gen-proprieties-editor .igrp_item.checkbox{
	padding-top:5px;
}

#formular_default #gen-proprieties-editor .proprieties-holder.col, #gen-proprieties-editor .col.item{
	background: none;
}
#formular_default #gen-edition-dialog .proprieties-holder.col, #gen-proprieties-editor .col.item{
	border-bottom: 1px solid #ccc;
}


.highcharts-container{width:100% !important; height:100% !important;}

#gen-proprieties-editor .col:nth-child(even) {
	background: #ECECEC!important;
}


.arrow_box {
	position: absolute;
	background: #5b7b8f;
	border-left: 0;
	border-right:0;
	right:16px;
	top:0px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	/*left: 50%;*/
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(91, 123, 143, 0);
	border-bottom-color: #f0f0f0;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 9px;
	margin-left: -9px;
}
.-place-holder- {
	min-height: 25px;
}
/*IGRP FIX*/
.box-table table tbody tr:hover, .box-table table tbody tr.active, .table-responsive td:first-child.active{
	background: none!important;
}
/*
SORTABLE
*/
.tstt {
	height: 100px;
	width: 100%;
	background: red
}

[gen-id="drop-zone"]:after {
	content:"";
	display: block;
	clear: both;
}

[gen-id="drop-zone"].no-fields:after, [gen-fields].no-fields:after,[gen-id="group-contents"].active.no-fields:after{
	content:'drop field'!important;
	text-transform: capitalize!important;
	font-size: 14px!important;
	text-align: center!important;
	padding: 15px!important;
	display: block!important;
}

table tr[gen-id="drop-zone"]:after{
	content:"";
	display: none;
	clear: both;
}
/*[gen-id="drop-zone"].no-fields:after,
[gen-id="thead-content"].no-fields:after,
[gen-fields].no-fields:after {
	content:'drop field';
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
	padding: 15px;
	display: block
}*/
[gen-fields].no-fields{
	background: #fafafa;
	border-bottom:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
}
thead .gen-container-sortable-placeholder, 
thead .ui-sortable-helper{
	display: table-cell;
	width: 75px!important;
}
thead tr.no-fields .gen-container-sortable-placeholder{
	width: 100%!important;
}
[gen-id="drop-zone"].no-fields .gen-container-sortable-placeholder ,
thead tr.no-fields .gen-container-sortable-placeholder {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
}
.gen-simplemenu-placeholder {
	min-height: 65px;
	background:rgba(255, 255, 150, 0.3)!important;
}

.gen-tabmenu-placeholder {
	min-height: 79px;
	background:rgba(255, 255, 150, 0.3)!important;
}

thead .gen-container-sortable-placeholder{
	display: table-cell;
}

thead .ui-sortable-helper {
	display: none!important;
}

.ui-sortable-helper{ visibility: hidden!important }
,.ui-sortable-helper { display: none!important }
.sorting table tbody {display: none!important}

/*SORTABLE PLACEHOLDER*/
.gen-container-holder > .gen-container-sortable-placeholder {
	display: none
}
.gen-container-holder .gen-container-sortable-placeholder {
	width: 100%;
}
.gen-container-sortable-placeholder {
	background:rgba(255, 255, 150, 0.3)!important;
}
.gen-container-sortable-placeholder_left {
	background:rgba(255, 255, 150, 0.3)!important;
	float:left!important;
}
.gen-form-placeholder { float:left; min-width:25%;background:rgba(255, 255, 150, 0.3)!important; min-height: 74px;}



/*fixed*/
body[screen="full"] #gen-types-holder{
	position: fixed;
	top:0;
	height: 100%;
}

body[screen="full"] #gen-toolbar{
 	position: fixed;
 	top:0;
 }


/*notif*/
body[screen="full"] #gen-noif-holder{
    padding: 1px 10px;
    /*background-color: white;
    position: fixed;
    z-index: 10000000000000;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    top: 25%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px 1px #ccc;*/
    display: none;
}

body[has-message="true"] #gen-noif-holder{
	display: block;
}

 body #gen-noif-holder .notification {
 	box-shadow:0px 0px 6px 1px #ccc
 }
  body[screen="full"] #gen-noif-holder .notification {
 	
 }

/* HIDDEN FIELDS*/
.box-content.collapsed .gen-hidden-holder{
	display: none;
}
.gen-hidden-holder {
	border-bottom: 1px dashed #ccc;
	background: whitesmoke;
}
.gen-hidden-holder:before{
	content:"Hidden Fields:";
	color: #ccc;
	padding:0 10px;
	display: inline-block;
}

.gen-hidden-holder .gen-fields-holder{
	display:inline-block;
	padding: 8px 10px;
	padding-right: 16px;
}
.gen-hidden-holder .gen-fields-holder:after{
	content: attr(tag);
}
.gen-hidden-holder .field-edt-options{
	right: 0
}

 /*TAB HACK*/

/* .itemTab .groupItemTab { min-height: 40px; }*/

.gen-group-editing {
	min-height: 43px!important;
	min-width: 120px!important;
}
.gen-group-editing .gen-group-namer{
	position: absolute;
	left:5px;
	top:50%;
	margin-top:-13.5px;
	width: calc(100% - 22px)!important;
}
 /*HIDDEN ELEMENTS*/
 .hidden-item-holder {
 	  margin-bottom: 10px;
	  margin-top: 5px;
	  margin-left: 10px;
	  /*border: 1px dashed #ccc;*/
	  color:#ccc;
	  float: left;
	  padding: 4px 10px;
 }


 .hidden-item-holder:before {
 	padding: 2px;
 	content: attr(tag);
 	display: block;
 }


/*ELEMETNS*/
.gen-container-holder[type="toolsbar"] .field-edt-options{ margin-top: -6px; }


/* GROUPS */
.gen-group-adder {
	position: absolute;
	z-index: 5;
	cursor: pointer;
	right: 0;
	top: 50%;
	margin-top: -14px;
	padding: 5px 0;
	width: 16px;
	/* background: whitesmoke; */
	/* border: 1px solid #ccc; */
}



.gen-group-adder:hover:after {
	/*background-image: url('../img/icon/add_green.png');
	border-color:#1e8f1b;*/
	opacity: 1;
}
.gen-group-adder:after {
	background-image: url('../img/icon/add186.png');
	background-color:green;
	background-repeat: no-repeat;
	display: block;
	content: "";
	width: 14px;
	height: 14px;
	background-size: 10px;
	/* border-radius: 100%; */
	background-position: center;
	border: 1px solid green;
	opacity: .2;
	transition:all .5s;
}

.gen-group-menu {
	position: absolute;
	top: -4px;
	right: -4px;
	z-index: 10;
}
.gen-group-holder:hover .gen-group-menu .gen-group-item-rmv {
	display: block;
}

.gen-group-menu .gen-group-item-rmv:hover {
	opacity: 1;
}

.gen-group-menu .gen-group-item-rmv {
	padding: 2px;
	width: 8px;
	height: 8px;
	background-color: #ee0909;
	background-image: url('../img/icon/delete_white.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8px;
	display: block;
	/* border-radius: 100%; 
	box-shadow: 0px 0px 5px 1px #eee;*/
	opacity: .2;
	border: 1px solid #fff;
	cursor: pointer;
	display: none;
	transition:all .5s;
}

[gen-id="container-group"] .ui-sortable-placeholder, .gen-tab-menu-h  .ui-sortable-placeholder{
	background: rgba(255,255,255,0.4)!important;
	display: block!important;
	visibility: visible!important;
}
.gen-ctx-menu.gen-ctx-on {
	display: block!important;
}
.gen-ctx-menu .ui-sortable-helper {
	display: none!important;
	visibility: visible!important;
}
.ctx-place-holder{
	
	min-height: 32px!important;
	visibility: visible!important;
	background:rgba(255, 255, 150, 0.3)!important;
}

/*
	PAGE SETTINGS
*/
#gen-page-setts-icon {
    width: 14px;
    height: 14px;
    background-position: 0 0;
    background: url('../img/icon/settings.png');
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin: 0 15px 0 5px; 
    position: relative;
    top: 8px;
    cursor: pointer;
}
#gen-page-setts.active #gen-page-setts-content{
	display: block;
	border-bottom:1px solid #ccc;
	
}
#gen-page-setts #gen-page-setts-content{
	
	 
	
}
#gen-page-setts #gen-page-setts-content:after{
	content: "";
	display: block;
	clear: both;
	
}
#gen-page-setts {
	position: relative;
    clear: both;
    background: #f0f0f0;
    /*box-shadow: 0px 0px 5px 1px #ccc;*/
   /* border-bottom: 1px solid #ccc;*/
   
}
#gen-page-setts  [rel="gen-page-setts-togg"]{´}
#gen-page-setts  [rel="gen-page-setts-togg"]{
	clear: both;
	padding:2px 0;
	text-align: center;
	cursor: pointer;
	background: #DEDEDE;
}

#gen-page-setts-btns {
	text-align: right;
	padding: 20px 5px;
	clear: both;
}


#gen-page-setts-btns button{
	margin:5px;
	padding: 5px
}

#gen-page-setts-btns button.active{
	border-radius: 0;
    margin: 5px;
    border: 1px solid #004469;
    padding: 8px;
    background-color: #267199;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}


#gen-page-setts-btns button:not([disabled]):hover{
	box-shadow: 0 0 5px 1px #ccc
}

#gen-page-setts .arrow_box{
    left: 88px;
    top: 0px;
    display: none;
}

#gen-page-setts.active .arrow_box{
	display: block;
}

#gen-page-setts .arrow_box:after{
	border-bottom-color:#f0f0f0;
}
#gen-page-setts:after {
	content: "";
	display: block;
	clear: both
} 


/*SHEETS CONFIG*/
#gen-sheets {
	width: 100%;
	left: 14%;
	bottom: 0;
	position: fixed;
	background: whitesmoke;
	border-top: 1px solid #ccc;
}

#content[rel="gen-contents-holder"].editing #gen-sheets {
	width:69%;
}
#gen-sheets-list:after{
	display: block;
	content: "";
	clear: both;
}
#gen-sheets-list li{  
	
}

/*GEN EDITION NEW 17.09.15*/

body:not([screen="full"]) #gen-proprieties-editor{
	top:105px;
	height: calc(100% - 105px);
}

#gen-proprieties-editor{
	position: fixed;
	width: 17%;
	right: 0;
	top:30px;
	height: calc(100% - 30px);
	display: none;
	z-index: 1000;
	box-shadow: 0px 5px 5px 2px #ccc;
	border-top: 1px solid #ccc;
	background: whitesmoke;
}
#content.editing #gen-view{
	width: 69%;
}
#content.editing #gen-proprieties-editor{
	display: block;
}

#gen-page-settings {
	display: none;
	position: absolute;
	top: 0
	left:0;
	width: 100%;
	height:100%;
	overflow: auto;
}


#gen-page-settings .item[item-name="replace"], #gen-page-settings .item[item-name="label"]{
	background: #ECECEC;
	border-bottom:1px solid #ccc;
}

#gen-page-settings.active {
	display: block;
}

#gen-p-title {
	padding: 10px 5px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(223, 223, 223);
    font-weight: bold;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 16px;
}

#gen-p-type{
	
}

/* CUSTOM CONTAINER JS */

#gen-types-rel #gen-tab-js-holder ul li { display: block; }

#gen-types-rel #gen-tab-js-holder ul li span{ color:#CC0D0D; }

.gen-tab-holder { position: relative; }

/* PAGE SHEETS */
.gen-tab-content-holder:after{ content:"";display: block;clear: both; }

.gen-tab-content-holder { position: fixed;top:-200%; }

.gen-tab-content-holder.active { position: relative;top:auto; }

#gen-sheets-list li { display: inline-block;padding: 5px; }



/* SEPARATOR DIALOG HACK*/
.IGRP_dialogbox {
	z-index: 5000;
}


