#igrp-right-panel iframe{
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .4s;
}

#igrp-right-panel.loading{
  cursor: wait;
}

#igrp-right-panel.loading iframe{
    opacity: 0;
}

#igrp-right-panel.loading>.modal-dialog>.loader {
  border:4px solid #6d6d6d;
  border-radius: 50%;
  border-top:4px solid #bdbdbd;
  width: 40px;
  height: 40px;
  min-height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  z-index: 9999991
}

#igrp-right-panel.loading:after{
    content:"";

}

#igrp-right-panel.loading .modal-dialog{
   background: #f5f5f5
}

.igrp-right-panel-close {
    position: absolute;
    z-index: 10;
    color: #909090;
    left: 6px;
    font-size: 24px;
    font-weight: 300;
    top: 0px;
    cursor: pointer;   
}
#igrp-right-panel .igrp-right-panel-close :hover {
    color: #333333a1;
    background: #eee;
}

