<xsl:if test="not(#tag#/@visible)">
    <td align="#[align]#" data-row="{position()}" data-title="{../../fields/#tag#/label}" item-name="#[tag]#" item-type="#type#">
        <div class="" item-name="#tag#" item-type="#type#">
          <label class="container-box" >  
            <input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
            
    		<xsl:if test="#tag# != '-0'">
    			
                <input type="radio" name="p_#tag#_fk" value="{#tag#}" class="#type# checkdcontrol" rel="F_#parent.tag#" #[disabled]# #[readonly]# #[required]#  check-rel="#tag#">
                    <xsl:call-template name="setAttributes">
                        <xsl:with-param name="field" select="//#path#"/>
                    </xsl:call-template>
                    <xsl:if test="#tag#_check= #tag#">
                        <xsl:attribute name="checked">checked</xsl:attribute>
                    </xsl:if>
                </input>
                <span class="radiomark"></span>
            </xsl:if>
            
             <input type="hidden" name="p_#tag#_check_fk" class="#tag#_check">
	         	<xsl:if test="#tag#_check = #tag#">
	                <xsl:attribute name="value"><xsl:value-of select="#tag#"/></xsl:attribute>
	            </xsl:if>
	         </input>
	         
          </label>  
        </div>
        <xsl:if test="#tag#_check != #tag#">
            <input type="hidden" class="#tag#" name="p_#tag#_fk" value="{#tag#}"/>
        </xsl:if>
    </td>
</xsl:if>