<div class="col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#" #[required]#>
  <div class="form-group radiolist clear" #[required]#>
     <label>
        #label.val#
        #[tooltip]#
     </label>
        <xsl:for-each select="#list.path#/option">
            <div class="radio radiolist col-md-#[child_size]# form-check">
                <input #[required]# type="radio" id="{../../@name}-{position()}" name="{../../@name}" value="{value}" class="form-check-input radiolist #[change]#" label="{text}">
                    <xsl:call-template name="setAttributes">
                        <xsl:with-param name="field" select="//#path#"/>
                    </xsl:call-template>
                    <xsl:if test="@selected='true'">
                        <xsl:attribute name="checked">checked</xsl:attribute>
                    </xsl:if>
                </input>
                <label style="font-weight: normal !important;" for="{../../@name}-{position()}" class="container-box form-check-label"> 
                    <span><xsl:value-of select="text"/></span>
                </label>
            </div>
        </xsl:for-each>
    </div>
</div>