@import url('../../libs/datatable/dataTables.bootstrap5.min.css');
@import url('../../libs/datatable/responsive.bootstrap.min.css');
/*@import url('../../libs/datatable/buttons.dataTables.min.css');*/

.igrp-table .igrp-table-ctx-th{
    width: 1px;;
}

.igrp-table td .btn-ctx-inline-item{
    display: flex;
    align-items: center;
}

.igrp-table td .btn-ctx-inline-item[icon-position="right"]{
    flex-direction: row-reverse;
}

.igrp-table td .btn-ctx-inline-item .ctx-title {
    margin-left: 4px;;
}

.igrp-table td .btn-ctx-inline-item[icon-position="right"] .ctx-title{
    margin-right: 4px;;
}


.igrp-table .card-header{
    border-bottom: 0;
}



table-ctx-holder{}