.IGRP-separatorlist .table-card td:first-of-type {
    padding-left: 16px;
}

.IGRP-separatorlist .splist-form-holder{
    display:none;
}

.IGRP-separatorlist .splist-form-holder.active{
    display:block
}

.IGRP-separatorlist .table-row-add{
    display: none!important;
}

