.btn {
   
}
 
.btn:focus, 
.btn:active:focus, 
.btn.active:focus {

}
 
.btn-primary {
   
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    
}
 
.btn-primary:active, .btn-primary.active {
   
}