.invisible {
	position: fixed!important;
	top:-500%!important;
	left:-500%!important;
	visibility: hidden!important;
}

.tooltip .tooltip-inner {
  	background-color:#f8f8f8 !important; 
  	color: #000; 
  	border: 2px solid #aeceed;
  	font-weight: bold;
  	font-size: 12px;
}

.tooltip.top > .tooltip-arrow {
    border-top-color:#aeceed;
}

#igrp-sidebar{
	border-right: 0;
	padding-top: 35px;
	padding-bottom:10px;
}

.treeview-menu li > a .app-info{
	font-size: 9px;
    margin: 0 5px 10px 5px;
    color: rgba(245, 245, 245, 0.85);
    text-transform: capitalize;
    text-decoration: none;
    display: block;
}

.btn-list-item .card .card-container:hover,
.treeview-menu li > a:hover{
	text-decoration: none;
}

.btn-list-item .card .card-container:hover .card-text,
.treeview-menu li > a:hover .card-text{
	text-decoration: underline;
}

.treeview-menu li > a > span.app-info{
	color: rgba(51, 51, 51, 0.74);
}

.treeview-menu li > a > i{
	margin-top: -19px;
}

.btn-list-item .card-text{
	margin: 15px 0 0 0;
}

.btn-transparent {
	background: transparent;
	border:0;
	box-shadow: none;
	color: white
}

.btn-transparent:hover {
	color:;
}

.btn-transparent:active {
	box-shadow:none;
}


#igrp-sidebar::-webkit-scrollbar {
    background-color: #ffffff!important;
}

.data_atend{
	text-align: center;
    background: #eae9e9;
    color: #8d8e8f;
    padding: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    font-size: 18px;
    text-transform: uppercase;
    z-index: 10;
    display: none;
}

.data_atend span{
	display: block;
}