html,
body{
	height: 100%;
}

#home .container-fluid{
	padding: 0;
	position: relative;
	top:70%;
}
/* top menu */
#home #app-top-menu{
	position: absolute;
	z-index: 10;
	right: 15px;
	top: 15px;
	font-size: 24px;
}

#home #app-top-menu a{
	margin:10px;
	display: block;
	float: left;
	color: inherit;
}

#home #app-top-menu a:hover{
	color: inherit;
}

/* slider */
#home .carousel{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:55%;

}

#home .carousel .carousel-inner{
	position:static;
}

#home .carousel .item{
	height: 100%;
	width: 100%;
	background-color:#f0f0f0;
    /*background-attachment: fixed;*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#home .app-logo{
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -125px;
	text-align: center;
}

#home .app-logo-title{
	position: absolute;
    width: 100%;
    text-align: center;
    top: 70%;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 5px #f5f5f5;
}

#home .app-logo-title h2{
	margin:0 0 10px;
}

#home .app-logo-subtitle{
	font-size: 16px;
}

#home .app-logo img{
	width:250px;
}

/*Init*/
#home #app-buttons{
}

#init-holder{
	width: 60px;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    bottom:41%;
    right:10%;
    border-radius: 50%;
    z-index: 11;

}

#home #app-init{
	display: block;
	font-size: 24px;
	height: 100%;
    width: 100%;
    border-radius: 50%;
    /*background: #e91e63;*/
    box-shadow: 0px 0px 10px #686564;
}

#home #init-holder.waiting #app-init i{
	visibility: hidden;
}

#home #init-holder #app-init i{
	left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -12px;
}

#home #init-holder #app-init:hover{
	zoom: 1;
}

#home #init-holder.waiting:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(255,255,255,.6);
	left: 0;
	top: 0;
	outline:1px solid none;
	border-radius: 50%;
}

#home #init-holder.waiting:after{
	content: "\f1ce";
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    color: white
}

#home #app-statistics{
	margin: 5px 0;
	font-size: 20px;
	z-index: 10;
}



#home #app-info-modal .modal-header{
	background: #5cb85c;
	color: white;
	font-size: 24px
}



#home #app-info-modal table{
	margin-top: 15px
}

#home #app-info-modal table tr{
	cursor: pointer;
}

#home #app-info-modal table tr td a{
	visibility: hidden;
	color: #5cb85c;
	font-size: 20px;
}
#home #app-info-modal table tr:hover td a{
	visibility: visible;
}

/*search btn*/
#home #app-search-req-btn{
	margin-top: 28px;
}

#app-search-req-abort{
	position: absolute;
	right: 0;
	top:0;
	box-sizing: initial;
}

#home #app-info-modal.searching #app-search-req-btn{
	cursor: none;
	opacity: .5
}

#home #app-info-modal.searching #app-search-req-btn i{
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

#home #app-info-modal.searching #app-search-req-btn i:before{
	content:"\f110";
}

#home #app-search-req-btn i{
	line-height: 20px
}

/* bottom contents */
#home #app-bottom-contents {
    position: fixed;
	box-shadow: 5px 1px 5px #ccc;
	left: 0;
	right: 0;
	z-index: 10;
	bottom:0;
	background: #fff;	
	height:45%;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#home #app-bottom-contents .box{border:none;}
#home #app-bottom-contents .highcharts-credits{display: none !important;}

/*#home #app-bottom-contents > div, #home #app-bottom-contents .icon{
	visibility: hidden;
}

#home #app-bottom-contents.active{
	bottom: 0;
	display: block;
}*/

#home #app-bottom-contents .title{
	padding: 5px 20px;
	background: #925a7c;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	letter-spacing: 2px;
}

#home #app-bottom-contents .title .icon-user{
	position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    font-size: 18px;
}

#home #app-bottom-contents.active > div, 
#home #app-bottom-contents.active .icon{
	visibility: visible;
}

.info-statistics{
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	outline: none;
	text-transform: none;
	text-decoration: none;
}

.info-statistics:hover{
	outline: none;
	text-transform: none;
	text-decoration: none;
}

.info-statistics[rel="down"], .info-statistics[rel="down"]:hover{
	/*margin-top: -18px;
	color: #925a7c;*/
	color: #925a7c;
    position: absolute;
    top: -16px;
    right: 50%;
    margin-right: -7.5px;
}

#app-bottom-contents:after{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	content: '';
	display: none;
	z-index: 10;
}

.tooltip .tooltip-inner {
  	background-color:#f8f8f8 !important; 
  	color: #000; 
  	border: 2px solid #aeceed;
  	font-weight: bold;
}

.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #aeceed;
}

#app-bottom-contents.active:after{
	display: block;
}
#app-bottom-contents .view-hoje{
	border:4px solid #925a7c;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    margin:36px 5px;
    height: 100px;
    position: relative;
    float: left;
}

#app-bottom-contents .view-hoje span{
	display: block;
	padding: 10px;
}

#app-bottom-contents .view-hoje .view-value{
	width: 100%;
    text-align: center;
    top: 40%;
    margin-top: -27px;
    position: absolute;
    font-weight: 600;
    color: #727374;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;
}

#app-bottom-contents .view-hoje .view-label{
	position: absolute;
    top: 50%;
    width: 100%;
    color: #9fa0a0;
}

#app-bottom-contents .view-mes{
    background: #e9dee5;
    margin: 15px;
    border-radius: 2px;
}

#app-bottom-contents .view-mes:after{
	display: block;
	content: "";
	clear: both;
}

#app-bottom-contents .view-mes span{
	padding: 5px;
	float: left;
}

#app-bottom-contents .view-mes .view-value{
	background: #925a7c;
    color: #fff;
    font-weight: 600;
    border-radius: 2px 0 0;
    width: 25%;
    min-width:60px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 28px;
    height: 38px;
    cursor: pointer;
}

#app-bottom-contents .view-mes .view-label{
	color:#727374;
	text-transform: uppercase;
	line-height: 28px;	
}

.view-total_atend{
	margin:10px 0 0 0; 
}

.view-total_atend span{
	display: block;
	padding: 5px 10px 0 10px;
	text-align: left;
	color: #727374;
	text-transform: uppercase;
	cursor: pointer;
}

.view-total_atend span.view-value{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* MODAL */

@media (min-width: 768px) {
  	.modal-dialog {
    	margin: 5% auto;
  	}
}


@media (max-width: 700px) {
	#home .carousel{
		height: 70%;
	}
	#app-bottom-contents .view-hoje{
		float: none;
		margin: 15px auto;
	}
	#home #app-bottom-contents{
  		position: relative;
  	}
  	.view-total_atend{
  		margin:0 0 20px 0;
  	}
  	#init-holder{
  		bottom: 25%;
  	}
  	#app-bottom-contents .view-mes{
  		margin: 20px 0;
  	}
}