
.sa-sidebar-search{
    padding: 0 ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 10;
}
.sa-sidebar-search input{
	background:transparent;
	border:0;
	color: white
}

.sa-sidebar-search input:focus{
	border: 0;
	box-shadow: none;
}

.sa-sidebar-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.6);
}
.sa-sidebar-search ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,.6);
}
.sa-sidebar-search :-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,.6);
}
.sa-sidebar-search :-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.6);
}


/* toolsbar */

#sa-btns-holder{
	padding: 5px;
	text-align: right;
}

#sa-btns-holder a{
	margin-left:6px;
}
#sa-btns-holder a i{
	margin-right: 4px
}

#sa-save-holder a{
	margin-left: 5px;
}

.sa-toolbar  ul{
	margin:0;
}

.sa-toolbar  ul li{
	position: relative;
	font-size: 25px;
	padding: 0 15px;
	float: left;
	height: 35px;
}

.sa-toolbar  ul li:not(:last-child):after{
	height: 60%;
	content:"";
	top:20%;
	right: 0;
	width: 2px;
	background: grey;
	position: absolute;
}

.sa-toolbar  ul li a{
	padding:0 0;
	margin-top: 5px;
	font-size: 20px;
}

.time-title{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top: -15px;
	left: 15px;
	width: 100%;
	color: grey;
}
.time-title i{
	margin-right: 5px;
}

#sa-time-tracker {
	display: table;
    font-weight: bold;
    text-align: center;
}

#sa-time-tracker div{
	display: table-cell;
    
    padding: 0 2px;
}
#sa-time-tracker div:after{
	font-size: 18px;
	text-transform: uppercase;
}

#sa-time-tracker #second:after{
	content:"s";
}

#sa-time-tracker #minute:after{
	content:"m";
}

#sa-time-tracker #hour:after{
	content:"h";
}


.btn-list-item .card .card-container{
	/*border:1px solid rgba(0, 0, 0, 0.1);*/
	padding:15px 0 0 0;
	background: #fff;
	border-radius: 5px;
	text-transform: capitalize;
	position: relative;
	text-decoration: none;
}

.btn-list-item .card{
	border-radius: 5px;
}

.card-icon{
	/*display: none;*/
}

.treeview-menu li{
	position: relative;
}

/* drag n drop ghost*/

.treeview-menu li.is-favorite a{
	opacity: .4;
	cursor:not-allowed;
}

.treeview-menu li.sortable-ghost{
	opacity: .4
}
.sa-favorites-holder li.sortable-ghost {
	width:25%;
	float: left;
	margin: 15px 0;
	padding: 0 15px;
}


@media (max-width: 991px){
	.sa-favorites-holder li.sortable-ghost {
	    width: 50%;
	}
}


.sa-favorites-holder li.sortable-ghost a{
	background: #ccc;
	height: 62px;
	display: block;
}

.sa-favorites-holder li.sortable-ghost a i{
	display: none;
}

.sa-favorites-holder li.sortable-ghost a span{
	display: block;
	position: absolute;
	left: 35px;
	bottom: 20px;
	text-transform: uppercase;
}


#sa-favorites-list {
	min-height: 200px;
}

.sa-remove-favorite{
	position: absolute;
    right: 15px;
    top: 0px;
    color: rgba(0,0,0,.2);
    padding: 5px;
    font-size: 16px;
    z-index: 10;
}

.sa-remove-favorite:hover{
	color: rgba(0,0,0,.6)
}

.btn-list-item .card-icon{
	margin:0 auto;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

body[template="c_cidadao"] .btn-list-item .card .card-container{
	background: #fff;
}

body[template="c_cidadao"] .btn-list-item .card .card-container span{
	background: #5cb85c; 
}
.btn-list-item .card .card-container span{
	padding: 5px 5px 5px 25px;
}	
.btn-list-item .card .card-container span.card-text{
	border-radius:0 0 5px 5px;
	position: relative;
}
.btn-list-item .card .card-container span.card-text.active{
	border-radius: 0;
	/*padding-bottom: 0;*/
}

.btn-list-item .card .card-container span.card-text i{
	position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 8px;
}

.btn-list-item .card .card-container span.card-text.active i{
	margin-top: -6px;
}

.btn-list-item .card .card-container span.card-text.active .plus, 
.btn-list-item .card .card-container span.card-text .minus{
	display: none;
}

.btn-list-item .card .card-container span.card-text.active .minus{
	display: block
}

.btn-list-item .card .card-container span.app-info{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -9px;
	display: none;
	font-size: 11px;
    text-transform: capitalize;
}

.btn-list-item .card .card-container span.app-info.active{
	border-radius:0 0 5px 5px;
	z-index: 12;
	display: block;
}