 
.btn-primary {
   background: #4496C1;
   border-color: 
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #267199;
}
 
.btn-primary:active, .btn-primary.active {
   
}