<xsl:if test="not(#tag#/@visible)">
    <td data-row="{position()}" data-title="{../../fields/#tag#/label}" class="checkbox">
        <input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
        <xsl:if test="#tag# != '-0'">
            <input type="checkbox" name="{../../fields/#tag#/@name}_fk" value="{#tag#}" class="checkbox" rel="F_#parent.tag#">
                <xsl:call-template name="FIELD_validator">
                    <xsl:with-param name="field" select="../../fields/#tag#"/>
                </xsl:call-template>
                <xsl:if test="#tag#_check= #tag#">
                    <xsl:attribute name="checked">checked</xsl:attribute>
                </xsl:if>
            </input>
        </xsl:if>
    </td>
</xsl:if>