.igrp-calendar .fc-toolbar .fc-center,
.igrp-calendar .fc-toolbar .fc-left,
.igrp-calendar .fc-toolbar .fc-right{
	position:relative;
}

.igrp-calendar .fc-toolbar .fc-left{
	/*margin-left: 50px*/
}

.igrp-calendar .fc-toolbar .fc-prev-button,
.igrp-calendar .fc-toolbar .fc-next-button,
.igrp-calendar .fc-toolbar h2{
	display: inline;	
	float: left;
}

.igrp-calendar .fc-toolbar .fc-prev-button,
.igrp-calendar .fc-toolbar .fc-next-button{
	box-shadow: none;
	-webkit-appearance:none;
	background: none;
	border:0;
	margin: 4px 6px 0;

}

.igrp-calendar .fc-head .fc-widget-header{
	vertical-align: middle;
	background:whitesmoke;
}
.igrp-calendar .fc-head .fc-widget-header span{
	display: block;
	padding:5px 0;
}