.igrp-calendar .fc-toolbar .fc-center,
.igrp-calendar .fc-toolbar .fc-left,
.igrp-calendar .fc-toolbar .fc-right{
	position:relative;
}

.igrp-calendar .fc-toolbar .fc-left{
	/*margin-left: 50px*/
}

.igrp-calendar .fc-toolbar .fc-prev-button,
.igrp-calendar .fc-toolbar .fc-next-button,
.igrp-calendar .fc-toolbar h2{
	display: inline;	
	float: left;
	outline: none;
}

.igrp-calendar .fc-toolbar .fc-prev-button,
.igrp-calendar .fc-toolbar .fc-next-button{
	box-shadow: none;
	-webkit-appearance:none;
	background: none;
	border:0;
	margin: 4px 6px 0;

}

.igrp-calendar .fc-head .fc-widget-header{
	vertical-align: middle;
	background:whitesmoke;
}
.igrp-calendar .fc-head .fc-widget-header span{
	display: block;
	padding:5px 0;
}

.table-context-menu .dropdown-menu{
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 4px 10px 0px #ddd;
    -webkit-box-shadow:0px 4px 10px 0px #ddd;
    border-radius:0;
    border: none;
}

.table-context-menu .dropdown-menu li a.btn{
	text-align: left;
	border: none;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	border-radius:0;
}