<xsl:if test="not(#tag#/@visible)">
    <td align="#[align]#" data-row="{position()}" data-title="{../../fields/#tag#/label}" class="#type#" item-name="#[tag]#">
        <input type="hidden" name="{../../../fields/#tag#/@name}_fk_desc" value="{#tag#_desc}"/>
        <div class="form-group" item-name="#tag#" item-type="#type#">
            <div class="input-group" item-name="#tag#" item-type="#type#">
                <input rel="F_#parent.tag#" type="text"  name="{../../../fields/#tag#/@name}_fk" value="{#tag#}" class="form-control gen-date" id="#parent.tag#-#tag#" #[required]# format="#[format]#" />
                <span class="input-group-btn gen-date-icon">
                    <span class="btn btn-#[class]#"><i class="fa fa-calendar"></i></span>
                </span>
            </div>
        </div>
    </td>
</xsl:if>