table{border:#cecece 1px solid;border-spacing:0;border-collapse:collapse;position: relative;width: 100%;}
table thead tr th, table tbody tr td{border:#cecece 1px solid; padding:2px 5px;line-height:25px;}
table thead tr th{background: #d8d8d8;}
table tbody tr td{vertical-align:text-top;}
table th{text-transform:capitalize;}
/*table tr:nth-child(odd){background-color: #f7f7f7;}
table tr:nth-child(even){background-color: #e2e2e2;}
*/
table.clean, table.clean thead tr th, table.clean tbody tr td{border:none;}
hr.page, p.page{display: none !important;}
p{line-height: 18px;margin: 3px 0;}
#tri {
  background: #05314e;
  display: inline-block;
  height:38px;
  position: relative;
  width:60px;
}
#tri:before {
  border-top:22px solid #05314e;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top:38px;
  width: 0;
}
.footer{display: block;height:60px; }
.footer .nave{position: absolute;width: 21cm;bottom: 0;}
.lfooter, .rfooter{display: inline-block;border-bottom:60px solid #267199;position: relative;}
.lfooter{width: 10px;}
.rfooter{width:673.5px;}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
  .rfooter{ width:667px; } 
}
#containerQrcode{display: inline-block; padding:5px; width: 100px; height: 100px;}
.contraProva{padding: 0 10px;font-size: 16px;position: absolute;bottom: -58px;}
.contraProva .label{text-transform:uppercase; text-align: left; color: #faf7f7;}
.contraProva .val{color: #000; font-size: 18px;}
.userprint{font-size: 11px; color: #faf7f7;right: 5px;bottom: -55px;position: absolute;}
.userprint span{padding: 0 5px}

 body{-webkit-print-color-adjust:exact;background: rgb(204,204,204);}
  @page {
    size:A4;
    margin: 0;
    /*@top-left { content: element(header);}*/
  }


body div[size="A4"], .wrap {
      background: white;
      width: 21cm;
      min-height:29.7cm;
      min-height:28.7cm\9;
      display: block;
      margin: 0 auto;
      min-height:29.7cm;
      min-height:28.7cm\9;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
      position: relative;
      font-size: 12px;
      font-family:"Times New Roman";
    }
    #content{
      padding:10px 20px 130px 20px;
      display: block;
      margin-bottom: 60px;
    }
    #content:after, #header:after, #footer:after{
      content: "";
      display: block;
      clear: both;
    }
    #header, #footer{
      position: relative;
      width: 21cm;
      display: block;
    }
    #header{
      top: 0;
      min-height:80px;
    }
    p{margin:3px 0;}
    #footer{
      bottom: 0;
      position: absolute;
    }

@media print {

  body, div[size="A4"]{
    width: 21cm;
    height:29.7cm;
    height:28.7cm\9;
    margin:0;
    box-shadow: 0;
    padding:0;
    page-break-after: always;
    page-break-inside:avoid;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust: exact !important;
    font-size: 14px;
    font-family:"Times New Roman";
    position: relative;
  }
  #header{padding: 10px;page-break-inside: avoid;}
  #header, #footer{width: 21cm;page-break-inside: avoid;}
  #footer{position: absolute;height: 60px; left: 10px; bottom:0;}
  #content{margin: 0; padding:10px 20px;}
  table{border:#cecece 1px solid;border-spacing:0;border-collapse:collapse;position: relative;width: 100% !important;}
  table thead tr th, table tbody tr td{border:#cecece 1px solid; padding:2px 5px;line-height:25px;}
  table.clean, table.clean thead tr th, table.clean tbody tr td{border:none;}
  table thead tr th{background: #d8d8d8;}
  table th{text-transform:capitalize;}
  table thead {display: table-header-group;}/*page-break-inside: avoid;*/
  table tfoot { display: table-footer-group;}
  table tbody { display: table-row-group;}
  hr.page, p.page{display: none !important;}
  .page-break{ page-break-after:always;page-break-inside:avoid;}
  p{line-height: 18px;margin: 3px 0;}
  #tri {
    background: #05314e;
    display: inline-block;
    height:38px;
    position: relative;
    width:60px;
  }
  #tri:before {
    border-top:22px solid #05314e;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top:38px;
    width: 0;
  }
  .footer{display: block;height:60px; }
  .footer .nave{position: absolute;width: 21cm;bottom: -20px;}
  .lfooter, .rfooter{display: inline-block;border-bottom:60px solid #267199;position: relative;}
  .lfooter{width: 10px;}
  .rfooter{width:673.5px;}
  @media print and (-webkit-min-device-pixel-ratio:0){ 
    .rfooter{ width:667px; } 
  }
  #containerQrcode{display: inline-block; padding:5px; width: 100px; height: 100px;}
  .contraProva{padding: 0 10px;font-size: 16px;position: absolute;bottom: -58px;}
  .contraProva .label{text-transform:uppercase; text-align: left; color: #faf7f7;}
  .contraProva .val{color: #000 !important; font-size: 18px;text-shadow: 0 0 5px #FFF !important;}
  .userprint{font-size: 11px; color: #faf7f7;right: 5px;bottom: -55px;position: absolute;}
  .userprint span{padding: 0 5px}

  body{-webkit-print-color-adjust:exact !important;print-color-adjust: exact !important;}
	@page {
	    size:A4;
	    font-size: 14px;
	    font-family:"Times New Roman";
	    @top-left, @top-right, @top-center { display: none; }
	    @bottom-center, @bottom-left, @bottom-right { display: none; }
	    /*@top-left {content: element(header);
	    table thead {display: table-header-group;}*/
  		table tfoot { display: table-footer-group;}
  		table tbody { display: table-row-group;}
  }
  .col{display:block;background: #ccc;padding: 10px;font-size: 12px; font-weight: bold;}
  img {
    max-width: 100%;
    position: relative;
  }
  p a {
  	word-wrap: break-word;
  }
  a:link:after, a:visited:after { 
    content: "(" attr(href) ") ";
  }
  a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
    content: ""; 
  }
}