<div class="form-group col-sm-#[size]# #[right]# gen-date-picker-wrapper" item-name="#tag#" item-type="#type#" #[required]#>
  <label for="{#path#/@name}">
    #label.val#
  </label>
  <div class="input-group">
      <input type="text" value="{#path#/value}" data-range="#[range]#" class="form-control gen-date-picker #[change]#" id="#tag#" name="{#path#/@name}" #[required]# format="#[format]#" maxlength="#[maxlength]#" #[readonly]# #[disabled]# placeholder="#[placeholder]#">
      	<xsl:call-template name="setAttributes">
            <xsl:with-param name="field" select="#path#"/>
        </xsl:call-template>
      </input>
      <span class="datepicker-clear fa fa-times"></span>
      <span class="input-group-btn gen-date-icon">
        <a class="btn btn-#[class]#"><i class="fa fa-calendar"></i></a>
      </span>
  </div>
</div>