.text-neutral-200 {
  color: var(--neutral-200)!important;
}
.text-neutral-300 {
  color: var(--neutral-300)!important;
}
.text-neutral-400 {
  color: var(--neutral-400)!important;
}
.text-neutral-500 {
  color: var(--neutral-500)!important;
}
.text-neutral-600 {
  color: var(--neutral-600)!important;
}
.text-neutral-700 {
  color: var(--neutral-700)!important;
}
.text-neutral-800 {
  color: var(--neutral-800)!important;
}
.text-neutral-900 {
  color: var(--neutral-900)!important;
}


.text-primary-200 {
  color: var(--primary-200)!important;
}
.text-primary-300 {
  color: var(--primary-300)!important;
}
.text-primary-400 {
  color: var(--primary-400)!important;
}
.text-primary-500 {
  color: var(--primary-500)!important;
}
.text-primary-600 {
  color: var(--primary-600)!important;
}
.text-primary-700 {
  color: var(--primary-700)!important;
}
.text-primary-800 {
  color: var(--primary-800)!important;
}
.text-primary-900 {
  color: var(--primary-900)!important;
}
.text-primary-1000 {
  color: var(--primary-1000)!important;
}
.text-primary-1100 {
  color: var(--primary-1100)!important;
}


.text-secondary-100 {
  color: var(--secondary-100)!important;
}
.text-secondary-500 {
  color: var(--secondary-500)!important;
}


.text-warning-200 {
  color: var(--warning-200)!important;
}
.text-warning-300 {
  color: var(--warning-300)!important;
}
.text-warning-400 {
  color: var(--warning-400)!important;
}
.text-warning-500 {
  color: var(--warning-500)!important;
}
.text-warning-600 {
  color: var(--warning-600)!important;
}


.text-danger-200 {
  color: var(--danger-200)!important;
}
.text-danger-300 {
  color: var(--danger-300)!important;
}
.text-danger-300 {
  color: var(--danger-300)!important;
}
.text-danger-400 {
  color: var(--danger-400)!important;
}
.text-danger-500 {
  color: var(--danger-500)!important;
}
.text-danger-600 {
  color: var(--danger-600)!important;
}