.cp-lime {
  background: #a4c400!important;
  border-color: #a4c400!important;
  color: white!important;
}
.cp-lime-text {
  color: #a4c400!important;
}

.cp-green {
  background: #60a917!important;
  border-color: #60a917!important;
  color: white!important;
}
.cp-green-text {
  color: #60a917!important;
}

.cp-emerald {
  background: #008a00!important;
  border-color: #008a00!important;
  color: white!important;
}
.cp-emerald-text {
  color: #008a00!important;
}

.cp-teal {
  background: #00aba9!important;
  border-color: #00aba9!important;
  color: white!important;
}
.cp-teal-text {
  color: #00aba9!important;
}

.cp-cyan {
  background: #1ba1e2!important;
  border-color: #1ba1e2!important;
  color: white!important;
}
.cp-cyan-text {
  color: #1ba1e2!important;
}

.cp-indigo {
  background: #6a00ff!important;
  border-color: #6a00ff!important;
  color: white!important;
}
.cp-indigo-text {
  color: #6a00ff!important;
}

.cp-violet {
  background: #aa00ff!important;
  border-color: #aa00ff!important;
  color: white!important;
}
.cp-violet-text {
  color: #aa00ff!important;
}

.cp-pink {
  background: #f472d0!important;
  border-color: #f472d0!important;
  color: white!important;
}
.cp-pink-text {
  color: #f472d0!important;
}

.cp-magenta {
  background: #d80073!important;
  border-color: #d80073!important;
  color: white!important;
}
.cp-magenta-text {
  color: #d80073!important;
}

.cp-crimson {
  background: #a20025!important;
  border-color: #a20025!important;
  color: white!important;
}
.cp-crimson-text {
  color: #a20025!important;
}

.cp-red {
  background: #e51400!important;
  border-color: #e51400!important;
  color: white!important;
}
.cp-red-text {
  color: #e51400!important;
}

.cp-orange {
  background: #fa6800!important;
  border-color: #fa6800!important;
  color: white!important;
}
.cp-orange-text {
  color: #fa6800!important;
}

.cp-amber {
  background: #f0a30a!important;
  border-color: #f0a30a!important;
  color: white!important;
}
.cp-amber-text {
  color: #f0a30a!important;
}

.cp-yellow {
  background: #e3c800!important;
  border-color: #e3c800!important;
  color: white!important;
}
.cp-yellow-text {
  color: #e3c800!important;
}

.cp-brown {
  background: #825a2c!important;
  border-color: #825a2c!important;
  color: white!important;
}
.cp-brown-text {
  color: #825a2c!important;
}

.cp-olive {
  background: #6d8764!important;
  border-color: #6d8764!important;
  color: white!important;
}
.cp-olive-text {
  color: #6d8764!important;
}

.cp-steel {
  background: #647687!important;
  border-color: #647687!important;
  color: white!important;
}
.cp-steel-text {
  color: #647687!important;
}

.cp-mauve {
  background: #76608a!important;
  border-color: #76608a!important;
  color: white!important;
}
.cp-mauve-text {
  color: #76608a!important;
}

.cp-sienna {
  background: #a0522d!important;
  border-color: #a0522d!important;
  color: white!important;
}
.cp-sienna-text {
  color: #a0522d!important;
}

.cp-khaki {
  background: #f0e68c!important;
  border-color: #f0e68c!important;
  color: white!important;
}
.cp-khaki-text {
  color: #f0e68c!important;
}

.cp-black {
  background: #000000!important;
  border-color: #000000!important;
  color: white!important;
}
.cp-black-text {
  color: #000000!important;
}

.cp-darkkhaki {
  background: #bdb76b!important;
  border-color: #bdb76b!important;
  color: white!important;
}
.cp-darkkhaki-text {
  color: #bdb76b!important;
}
