<div class="col-1-#[size]# item" item-name="#tag#">
    <div class="igrp_item LOOKUP">
        <label class="#[required]#">
            <xsl:if test="string-length(#label.path#) >45">
                 <xsl:attribute name="title"><xsl:value-of select="#label.path#"/></xsl:attribute>
            </xsl:if>
            #label.val#
        </label>
        <div class="itemIcon">
            <input type="LOOKUP" name="#name.attr#" value="#value.attr#" class="LOOKUP #[change]# #[required]#" #[readonly]# #[disabled]#>
                <xsl:call-template name="FIELD_validator">
                    <xsl:with-param name="field" select="#path#"/>
                </xsl:call-template>
            </input>
            <xsl:call-template name="lookup-tool">
                <xsl:with-param name="page" select="rows/page"/>
                <xsl:with-param name="ad_hoc" select="'1'"/>
                <xsl:with-param name="action" select="'LOOKUP'"/>
                <xsl:with-param name="name" select="#path#/@name"/>
                <xsl:with-param name="js_lookup" select="#path#/lookup"/>
            </xsl:call-template>
        </div>
        <div class="_clear"/>
    </div>
    <div class="_clear"/>
</div>