<xsl:if test="not(#tag#/@visible)">
    <td data-row="{position()}" data-title="{../../fields/#tag#/label}" class="LOOKUP">
        <input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
        <div class="itemIcon">
            <input type="LOOKUP" name="{../../fields/#tag#/@name}_fk" value="{#tag#}" class="LOOKUP" rel="F_#parent.tag#">
                <xsl:call-template name="FIELD_validator">
                    <xsl:with-param name="field" select="../../fields/#tag#"/>
                </xsl:call-template>
            </input>
            <xsl:call-template name="lookup-tool">
                <xsl:with-param name="page" select="//rows/page"/>
                <xsl:with-param name="ad_hoc" select="'1'"/>
                <xsl:with-param name="action" select="'LOOKUP'"/>
                <xsl:with-param name="name" select="concat(../../fields/#tag#/@name,'_fk')"/>
                <xsl:with-param name="js_lookup" select="../../fields/#tag#/lookup"/>
            </xsl:call-template>
        </div>
    </td>
</xsl:if>