<xsl:choose>
	<xsl:when test="not(//#path#/@visible)">
		<td data-row="{position()}" data-title="{../../fields/#tag#/label}" class="link" is-button="#[button]#" item-name="#[tag]#">
			<xsl:choose>
	          <xsl:when test="#tag# != '' or //#path#/@target = 'listAssociation'">
	            <a href="{#tag#}" id="#[id]#" class="link bClick btn btn-#[class]# #[btnSize]#" sharpadbclient="#[adbcli]#" target-fields="#[target_fields]#" target="#[target]#" name="#tag#">
	              <i class="fa #[img]#"/>
	              <span><xsl:value-of select="#tag#_desc"/></span>
	            </a>
	          </xsl:when>
	          <xsl:otherwise>
	            <xsl:value-of select="#tag#_desc"/>
	          </xsl:otherwise>
	        </xsl:choose>
	        <input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
	        <input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
		</td>
		
	</xsl:when>
	<xsl:otherwise>
		<input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
  		<input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
	</xsl:otherwise>
</xsl:choose>
