/* sidebar */

/*#igrp-sidebar.sidebar{
    background: #29679d
}
#igrp-sidebar .nav-sidebar > li > a{
    color: white;
    border-color: #0000000a;

}
.treeview-menu>li>a{
    color: white;
}
.treeview-menu{
    background: #ffffff1a
}


*/