<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="app.xsl" type="text/xsl"?>
<rows>
    <link_img>http://localhost/igrp-design-system-beta/IGRP2.4</link_img>
    <title>Dummie XML prototype</title>
    <site>
        <welcome_note>Oba</welcome_note>
        <footer_note>2019 - Copyright NOSI v.190711</footer_note>
        <user_name>Hexagon</user_name>
        <button type="specific">
            <title>Sair</title>
            <app>DUA</app>
            <page />
            <link>#</link>
            <target>_self</target>
            <img>exit.png</img>
        </button>
    </site>
    <page>undefined</page>
    <app>generator</app>
    <template>velzon</template>
    <plsql>
        <action>undefined</action>
        <package_instance></package_instance>
        <package_db></package_db>
        <package_html></package_html>
        <table_name></table_name>
        <with_replace>false</with_replace>
        <with_label>false</with_label>
        <with_biztalk>false</with_biztalk>
        <dynamic_menu>false</dynamic_menu>
        <copy_menu>false</copy_menu>
        <package_copy_db />
        <package_copy_html />
        <preserve_url>/igrp-design-system-beta/IGRP2.4/core/formgen/types/check_file.php?v=undefined</preserve_url>
    </plsql>
    <slide-menu file="../../../xml/IGRP-slide-menu.xml?v=2" />
    <top_menu file="../../../xml/IGRP-top_menu.xml?v=2" />
    <content>
        <title>IGRP 2.4 Dashboard</title>
        <form_1 type="form" xml-type="form" title="Form" gen-type="container" gen-group="">
            <fields>
                <form_1_text_1 name="p_form_1_text_1" type="text" maxlength="250" required="false" change="false" readonly="false" disabled="false" disablehtml="true" placeholder="" desclabel="false" inputmask="" tooltip="false" disable_copy_paste="false">
                    <label>Text</label>
                    <value>Dolor ut deserunt aperiam sit</value>
                </form_1_text_1>
                <form_1_date_1 name="p_form_1_date_1" type="date" format="d-m-Y" enableTime="true" range="false" disableWeekends="false" disabledBeforetoday="false" daysoff="false" maxlength="250" required="false" change="false" placeholder="" desclabel="false" tooltip="false" disable_copy_paste="false">
                    <label>Date</label>
                    <value>04-06-2016</value>
                </form_1_date_1>
            </fields>
            <tools-bar>
                <item id="button_79f5_90f1" type="form" code="" class="primary" rel="form_1_button_1" refresh_components="">
                    <title>Gravar</title>
                    <app/>
                    <page/>
                    <link/>
                    <parameter>?</parameter>
                    <target>_blank</target>
                    <img position="right">btn-primary|fa-send-o</img>
                    <preview/>
                </item>
            </tools-bar>
        </form_1>
        <formlist_1 type="formlist" xml-type="formlist" title="Contactos" gen-clean="true" gen-type="container" gen-group="true">
            <fields>
                <formlist_1_text_1 name="p_formlist_1_text_1" type="text" maxlength="250" required="false" change="false" readonly="false" disabled="false" disablehtml="true" placeholder="" inputmask="" desc="true">
                    <label>Nome</label>
                </formlist_1_text_1>
                <formlist_1_email_1 name="p_formlist_1_email_1" type="email" maxlength="250" required="false" change="false" readonly="false" disabled="false" placeholder="" desc="true">
                    <label>Email</label>
                </formlist_1_email_1>
            </fields>
            <table>
                <value>
                    <row>
                        <formlist_1_text_1 name="p_formlist_1_text_1" desc="true">Sed sit deserunt anim sit</formlist_1_text_1>
                        <formlist_1_text_1_desc name="p_formlist_1_text_1_desc">Sed sit deserunt anim sit</formlist_1_text_1_desc>
                        <formlist_1_email_1 name="p_formlist_1_email_1" desc="true">putemlu@example.com</formlist_1_email_1>
                        <formlist_1_email_1_desc name="p_formlist_1_email_1_desc">putemlu@example.com</formlist_1_email_1_desc>
                    </row>
                    <row>
                        <formlist_1_text_1 name="p_formlist_1_text_1" desc="true">Magna deserunt adipiscing stract anim</formlist_1_text_1>
                        <formlist_1_text_1_desc name="p_formlist_1_text_1_desc">Magna deserunt adipiscing stract anim</formlist_1_text_1_desc>
                        <formlist_1_email_1 name="p_formlist_1_email_1" desc="true">ruddama@example.com</formlist_1_email_1>
                        <formlist_1_email_1_desc name="p_formlist_1_email_1_desc">ruddama@example.com</formlist_1_email_1_desc>
                    </row>
                    <row>
                        <formlist_1_text_1 name="p_formlist_1_text_1" desc="true">Perspiciatis aliqua ut magna sit</formlist_1_text_1>
                        <formlist_1_text_1_desc name="p_formlist_1_text_1_desc">Perspiciatis aliqua ut magna sit</formlist_1_text_1_desc>
                        <formlist_1_email_1 name="p_formlist_1_email_1" desc="true">gefho@example.com</formlist_1_email_1>
                        <formlist_1_email_1_desc name="p_formlist_1_email_1_desc">gefho@example.com</formlist_1_email_1_desc>
                    </row>
                    <row>
                        <formlist_1_text_1 name="p_formlist_1_text_1" desc="true">Aliqua iste unde accusantium laudantium</formlist_1_text_1>
                        <formlist_1_text_1_desc name="p_formlist_1_text_1_desc">Aliqua iste unde accusantium laudantium</formlist_1_text_1_desc>
                        <formlist_1_email_1 name="p_formlist_1_email_1" desc="true">mis@example.com</formlist_1_email_1>
                        <formlist_1_email_1_desc name="p_formlist_1_email_1_desc">mis@example.com</formlist_1_email_1_desc>
                    </row>
                    <row>
                        <formlist_1_text_1 name="p_formlist_1_text_1" desc="true">Natus lorem accusantium omnis voluptatem</formlist_1_text_1>
                        <formlist_1_text_1_desc name="p_formlist_1_text_1_desc">Natus lorem accusantium omnis voluptatem</formlist_1_text_1_desc>
                        <formlist_1_email_1 name="p_formlist_1_email_1" desc="true">poz@example.com</formlist_1_email_1>
                        <formlist_1_email_1_desc name="p_formlist_1_email_1_desc">poz@example.com</formlist_1_email_1_desc>
                    </row>
                </value>
            </table>
        </formlist_1>
    </content>
    <blockly></blockly>
</rows>