<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>IGRP</display-name>
  
  <servlet>
    <servlet-name>igrp</servlet-name>
    <servlet-class>nosi.core.servlet.IgrpServlet</servlet-class>
    <init-param>
      <param-name>workspace</param-name>
      <param-value>C:\Users\isaias.nunes\git\IGRP-Framework\IGRP</param-value>
    </init-param>
    <init-param>
      <param-name>autentication_type</param-name>
      <param-value>db</param-value>
    </init-param>
  </servlet>
  
   <servlet>
    <servlet-name>oauth2</servlet-name>
    <servlet-class>nosi.core.servlet.OAuth2</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>igrp</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>oauth2</servlet-name>
    <url-pattern>/oauth2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/webapps?r=igrp/home/index</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/webapps?r=igrp/error-page/exception</location>
  </error-page>
  
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  
</web-app>