<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>IGRP</display-name>

  <context-param>
      <param-name>workspace</param-name>
      <param-value>C:\git\IGRP-Framework\IGRP</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>igrp</servlet-name>
    <servlet-class>nosi.core.servlet.IgrpServlet</servlet-class>
    <init-param>
      <param-name>authentication_type</param-name>
      <param-value>db</param-value>
    </init-param>
     <init-param>
      <param-name>env</param-name>
      <param-value>dev</param-value> 
    </init-param>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet>
    <servlet-name>igrpsso</servlet-name>
    <servlet-class>nosi.core.servlet.IgrpAuth2SSO</servlet-class>
    <init-param>
	    <param-name>oauth2.client_id</param-name>
	    <param-value>YOUR_CLIENT_ID</param-value>
    </init-param>
    <init-param>
	    <param-name>oauth2.client_secret</param-name>
	    <param-value>YOUR_CLIENT_SECRET</param-value>
    </init-param>
    <init-param>
	    <param-name>oauth2.endpoint</param-name>
	    <param-value>IGRP_OAUTH2_ENDPOINT</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>nosi.core.servlet.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <filter>
    <filter-name>IgrpCharacterEncoding</filter-name>
    <filter-class>nosi.core.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>IgrpCharacterEncoding</filter-name>
    <servlet-name>igrp</servlet-name>
  </filter-mapping>
  
  <filter>
		<filter-name>BasicSecurity</filter-name>
		<filter-class>nosi.core.filter.BasicSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BasicSecurity</filter-name>
		<servlet-name>igrp</servlet-name>
	</filter-mapping>
  
  <servlet-mapping>
    <servlet-name>igrp</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/webapps?r=igrp/home/index</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/webapps?r=igrp/error-page/exception</location>
  </error-page>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <servlet>
    <servlet-name>igrpsso</servlet-name>
    <servlet-class>nosi.core.servlet.IgrpSSO</servlet-class>
    <init-param>
      <param-name>role_name</param-name>
      <param-value>IGRP_ADMIN</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>igrpsso</servlet-name>
    <url-pattern>/igrpsso</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <security-constraint>
    <display-name>Default IGRP Security Constraints</display-name>
    <web-resource-collection>
      <web-resource-name>IGRP SSO</web-resource-name>
      <url-pattern>/igrpsso</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>IGRP_ADMIN</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <description>Non-Existent Role - this prevents direct access to JSPs</description>
    <role-name>IGRP_ADMIN</role-name>
  </security-role>
  
  <listener>
  	<listener-class>nosi.core.listener.BasicListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>nosi.core.listener.ThreadLocalListener</listener-class>
  </listener>
  
</web-app>