<xsl:if test="not(#tag#/@visible)">
  <td align="#[align]#" data-row="{position()}" data-title="{../../../fields/#tag#/label}" class="#type#" item-name="#[tag]#">
    <input type="hidden" name="{../../../fields/#tag#/@name}_fk_desc" value="{#tag#_desc}"/>
    <div class="form-group" item-name="#tag#" item-type="#type#">
      <xsl:variable name="#tag#_val" select="#tag#"/>
      <select class="form-control select2 #[change]#" id="#parent.tag#_#tag#" input-rel="{../../../fields/#tag#/@name}_fk" #[required]# #[multiple]# rel="F_#parent.tag#">
        <xsl:call-template name="setAttributes">
          <xsl:with-param name="field" select="#path#"/>
        </xsl:call-template>
        <xsl:for-each select="//#list.path#/option">
          <option value="{value}">
            <xsl:call-template name="select-multiple-value">
              <xsl:with-param name="value" select="value"/>
              <xsl:with-param name="selected" select="$#tag#_val"/>
              <xsl:with-param name="delimiter" select="'#[delimiter]#'"/>
            </xsl:call-template>
            <span>
              <xsl:value-of select="text"/>
            </span>
          </option>
        </xsl:for-each>
      </select>
      <input name="{../../../fields/#tag#/@name}_fk" type="hidden" value="{$#tag#_val}" />
    </div>
  </td>
</xsl:if>

