
body{
	font-family: Roboto,sans-serif;
    color: #616a78;
    font-weight: 300;
    font-size: 13px;
    
    background: #f3f5f7
}

body.fixed-nav{
	padding-top: 53px;
}

body.sidebar-off .navbar-brand{
	display: none;
}

/*box*/
.box,
.toolsbar-holder.boxed {
	border:0;
	box-shadow: 0 0px 10px rgba(0,0,0,0.1)
}
.box .box-header{
	border-bottom: 0;
	background: transparent;
	padding: 6px 15px;
}

.content-header>*,
.box .box-header .box-title{
	font-weight: 400
}
/*forms*/
.form-group label,
.view-block .view-label{
	font-weight: normal!important
}
.form-group label input+span{
	font-weight: normal;
}
*[role="form"] .box-head.subtitle span{
	font-weight: 400!important
}
.slider-handle{
	background-color: #3f4a59!important;
	background-image: linear-gradient(to bottom,#3f4a59 0,#2e3744 100%)!important;
}
/*table*/
table thead th{
	font-weight: 500!important
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfdfe;
}
/*head titles*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 400
}

/*buttons*/
.btn{
    border-radius: 2px;
    outline: none !important;
    -webkit-transition: 0.15s linear;
    transition: 0.15s linear;
    position: relative;
    border-color:transparent;
}
.input-group-btn .btn.btn-default{
	border-color: #EAEAEA
}
/*text colors*/
a, 
.clickable,
.btn-default,
.box .box-header .box-title,
*[role="form"] .box-head.subtitle span{
	color:#3f4a59;
}

.old-v .self-boxed-item{
	background: #f3f5f7!important
}


::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    /* border-radius: 5px; */
}
::-webkit-scrollbar {
    width : 6px;
    height: 6px;
    background-color: transparent;
}
