<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="app.xsl" type="text/xsl"?>
<rows>
    <link_img>http://localhost/igrp-design-system-beta/IGRP2.4</link_img>
    <title>Dummie XML prototype</title>
    <site>
        <welcome_note>Oba</welcome_note>
        <footer_note>2019 - Copyright NOSI v.190711</footer_note>
        <user_name>Hexagon</user_name>
        <button type="specific">
            <title>Sair</title>
            <app>DUA</app>
            <page />
            <link>#</link>
            <target>_self</target>
            <img>exit.png</img>
        </button>
    </site>
    <page>undefined</page>
    <app>generator</app>
    <template>default</template>
    <plsql>
        <action>undefined</action>
        <package_instance></package_instance>
        <package_db></package_db>
        <package_html></package_html>
        <table_name></table_name>
        <with_replace>false</with_replace>
        <with_label>false</with_label>
        <with_biztalk>false</with_biztalk>
        <dynamic_menu>false</dynamic_menu>
        <copy_menu>false</copy_menu>
        <package_copy_db />
        <package_copy_html />
        <preserve_url>/igrp-design-system-beta/IGRP2.4/core/formgen/types/check_file.php?v=undefined</preserve_url>
    </plsql>
    <slide-menu file="../../../xml/IGRP-slide-menu.xml?v=2" />
    <top_menu file="../../../xml/IGRP-top_menu.xml?v=2" />
    <content>
        <title>IGRP 2.4 Dashboard</title>
        <toolsbar_1 type="toolsbar" xml-type="toolsbar" gen-type="menu" gen-group="">
            <item type="specific" code="" rel="toolsbar_1_button_1" refresh_components="">
                <title>Button</title>
                <app/>
                <page/>
                <link/>
                <target>_blank</target>
                <img position="">btn-primary|fa-angle-right</img>
                <preview/>
            </item>
        </toolsbar_1>
        <table_1 type="table" xml-type="table" title="Table" gen-type="container" gen-group="true">
            <fields>
                <table_1_text_1 name="p_table_1_text_1" type="text" maxlength="30" showLabel="true" align="left" lookup_parser="false" iskey="false" group_in="">
                    <label>Text</label>
                </table_1_text_1>
                <table_1_date_1 name="p_table_1_date_1" type="date" range="false" disableWeekends="false" disabledBeforetoday="false" daysoff="false" maxlength="30" showLabel="true" align="left" lookup_parser="false" iskey="false" group_in="">
                    <label>Date</label>
                </table_1_date_1>
            </fields>
            <table>
                <value>
                    <row>
                        <context-menu>
                            <param>p1=linha1</param>
                            <param>p2=linha1</param>
                        </context-menu>
                        <table_1_text_1 name="p_table_1_text_1">Doloremque rem aperiam aliqua</table_1_text_1>
                        <table_1_date_1 name="p_table_1_date_1">04-07-2017</table_1_date_1>
                    </row>
                    <row>
                        <context-menu>
                            <param>p1=linha1</param>
                            <param>p2=linha1</param>
                        </context-menu>
                        <table_1_text_1 name="p_table_1_text_1">Magna ut deserunt ipsum anim</table_1_text_1>
                        <table_1_date_1 name="p_table_1_date_1">03-05-2014</table_1_date_1>
                    </row>
                    <row>
                        <context-menu>
                            <param>p1=linha1</param>
                            <param>p2=linha1</param>
                        </context-menu>
                        <table_1_text_1 name="p_table_1_text_1">Labore stract amet perspiciati</table_1_text_1>
                        <table_1_date_1 name="p_table_1_date_1">03-05-2014</table_1_date_1>
                    </row>
                    <row>
                        <context-menu>
                            <param>p1=linha1</param>
                            <param>p2=linha1</param>
                        </context-menu>
                        <table_1_text_1 name="p_table_1_text_1">Iste aperiam rem laudantium ac</table_1_text_1>
                        <table_1_date_1 name="p_table_1_date_1">02-03-2011</table_1_date_1>
                    </row>
                    <row>
                        <context-menu>
                            <param>p1=linha1</param>
                            <param>p2=linha1</param>
                        </context-menu>
                        <table_1_text_1 name="p_table_1_text_1">Iste mollit consectetur unde a</table_1_text_1>
                        <table_1_date_1 name="p_table_1_date_1">03-05-2010</table_1_date_1>
                    </row>
                </value>
                <context-menu>
                    <item id="button_7faf_ce48" type="specific" code="" class="success" rel="editar" refresh_components="">
                        <title>Editar</title>
                        <app/>
                        <page/>
                        <link/>
                        <parameter>?</parameter>
                        <target>_blank</target>
                        <img position="left">btn-ghost-success|fa-edit</img>
                        <preview/>
                    </item>
                    <item id="button_a0b4_8271" type="specific" code="" class="danger" rel="eliminar" refresh_components="">
                        <title>Eliminar</title>
                        <app/>
                        <page/>
                        <link/>
                        <parameter>?</parameter>
                        <target>_blank</target>
                        <img position="right">btn-ghost-danger|fa-trash-o</img>
                        <preview/>
                    </item>
                </context-menu>
            </table>
        </table_1>
    </content>
    <blockly></blockly>
</rows>