<div class="col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#">
    <div class="form-group checkboxlist clear" #[required]#>
        <label>
            <xsl:value-of select="#path#/label"/>
            #[tooltip]#
        </label>
        <div class="row m-0">
            <xsl:for-each select="#list.path#/option">
                <div class="form-check checkboxlist col-md-#[child_size]#">
                    <input #[required]# type="checkbox" id="{../../@name}" name="{../../@name}" value="{value}" class="form-check-input checkboxlist #[change]#" label="{text}" #[disabled]#>
                        <xsl:call-template name="setAttributes">
                            <xsl:with-param name="field" select="//#path#"/>
                        </xsl:call-template>
                        <xsl:if test="@selected='true'">
                            <xsl:attribute name="checked">checked</xsl:attribute>
                        </xsl:if>
                    </input>
                    <label style="font-weight: normal !important;" for="{../../@name}">
                        <xsl:value-of select="text"/>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </xsl:for-each>
        </div>
    </div>
</div>