<xsl:choose>
	<xsl:when test="//#parent.path#/fields/#tag#/@table='true'">
		<td data-row="{position()}" data-title="{../../fields/#tag#/label}" class="#type#">
			<span class="separator-list-td-val color" style="background-color:{#tag#_desc}"></span>
			<input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
			<input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
		</td>
	</xsl:when>
	<xsl:otherwise>
		<input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
  		<input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
	</xsl:otherwise>
</xsl:choose>
