
/*BUTTONS*/
.btn-primary{
  background-color: #4496C1;
  border-color: rgb(55, 135, 177);
}

.btn-primary:hover{
  background-color: rgb(55, 135, 177);
  border-color: #267199;
}
/*OUTLINE BUTTONS*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
