.gen-toolbar-placeholder {  
	
	background:rgba(255, 255, 150, 0.3)!important;
	min-height:52px!important; 
}
.gen-declared-containers[name="toolsbar"] .ui-sortable-helper {
	min-height: 52px;
}

/* align left */
.tool-bar ul[items-align="left"] .gen-toolbar-placeholder{
	float:left; 
}
.tool-bar ul[items-align="justified"] .gen-toolbar-placeholder{
	
}