body{overflow-y:auto;overflow-x:hidden;}
body.noscroll{overflow:hidden;}
body.loading, body.loading *, body.loading iframe{cursor:wait !important;}
.bodyColor{background:#e8e7e7;}
body, body textarea{font-size:12px;font-style:normal;font-weight:normal;font-family:Arial;text-align:justify;color:#363636;}
#igrp-topMenu{background:#267199;}
span.upload{background:url(../img/icon/attach.png) center no-repeat #267199;}
#igrp-topPage{webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.3); border-bottom-color:transparent;}
div.bodyPageLeft{background:#294460;opacity:.98;}
#igrp-topLogo .topLeft .topLeftIgrp{border-color:#000 !important;color:#437395;font-size:14px;font-weight:bold;letter-spacing:3px;text-transform:uppercase;}
#igrp-topLogo .topLeft .topLeftIgrp span{font-size:10px !important;text-transform:none !important;font-weight:normal !important;letter-spacing:normal !important;}
#igrp-topLogo .topLeft .topLeftTitle{text-transform:uppercase;color:#000;font-size:14px;font-weight:700;letter-spacing:1px;}
#igrp-topLogo .topRigth{text-align:right;color:#706d6d;font-size:11px;}
#formular_default label{font-weight:bold;}
/*--------------------------------scrollbar--------------------------------*/
#igrp-bodyPage.open .bodyPageLeft:hover{overflow-y:auto; overflow-x:hidden;scrollbar-track-color: #bebebe;scrollbar-arrow-color: #bebebe;}
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{background-color: #bebebe;/* border-radius:5px;*/}
/*-------------------------------- PAGE --------------------------------*/
.divBorder{border:1px solid;}
#igrp-topMenu .topMenuRigth ul li{border-right-color:#294460;}
#igrp-topMenu .topMenuLeft #iconMenu{background:url(../img/iconMenu.png) 32% 40% #294460 no-repeat;opacity:.98;}
#igrp-topMenu .topMenuLeft .pageTitle{color:#e8e7e7;font-weight:bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.slideMenu, span.upload{color:#FFF;}
.bodyPageLeft .home a{background:url(../img/home.png) left no-repeat;}
.slideMenu ul.menu li, .bodyPageLeft .home{border-bottom-color:#267199}
.slideMenu ul.menu li ul.submenu{background:#3D87AD;}
.slideMenu ul.menu li ul.submenu li, .slideMenu ul.menu li ul.submenu li span.star{border-bottom-style:dotted; border-bottom-width:1px; border-color:#FFFFFF;}
.slideMenu ul.menu li ul.submenu li span.star{background-image:url(../img/icon/start.png);background-position:50% 112%;background-repeat:no-repeat; background-color:#59a1c6; border-left:1px solid #146189;}
.slideMenu ul.menu li ul.submenu li span.star.active{background-position:50% -10%;}
.slideMenu ul.menu li ul.submenu li:last-child, .slideMenu ul.menu li ul.submenu li:last-child span.star{border-bottom:none;}
.slideMenu ul li div.liMenu.active{ background:#267199; border-bottom:1px solid #05354b;}
.igrp_app_icon{background-color: #e9e7e8;}
.igrp_app_label, .igrp_app_label a, .r-tabs .r-tabs-accordion-title .r-tabs-anchor, ul.IGRP-menu a {color: #363636;}
.igrp_app_alert{background-color:#F00;color:#fff;}
.box-app .app-title{color: #ccc;}
.igrp_app_alert a {color: #fff;}
.box-app .no_app{opacity: 0.4;filter:alpha(opacity = 40);}
.box-app .no_app, .box-app .no_app *{cursor:progress;}
.slideMenu ul.menu li{font-size:12px;text-transform:uppercase; }
.slideMenu ul.menu li ul.submenu li a{color:#d1d8de;}
.box-content{border-color:#d1d1d1 !important;}
.box-content, .IGRP_dialogboxTop, .IGRP_dialogboxCenter, .dialog_btnContainer, .col, #tabsMenu .itemTab .IGRP-menu, #tabsMenu ul.IGRP-menu li.active{background:#fafafa;}
.box-content .titlecollapser, .box-content .tabcollapser, .dialog .title, .box-head, .tabMenuHolder .IGRP-menu, #tabsMenu .IGRP-menu{background:#e1e1e1; color:#363636;}
.box-collapser, .r-tabs .r-tabs-nav .r-tabs-tab, ul.IGRP-menu li, .addBorder, #formular_default input, #formular_default select, .divBorder, .box-process ul li, .process-flow li,
ul.IGRP-menu li a, .tabMenuHolder .itemTab, .tabMenuHolder .itemTab .tab, .tabMenuHolder .itemTab ul.IGRP-menu.active, #tabsMenu .itemTab, #tabsMenu .itemTab .tab,
#tabsMenu .itemTab ul.IGRP-menu.active, .borderColor{border-color:#d1d1d1 !important;}
.box-content.notTitle .titlecollapser{color:#e1e1e1;}
.IGRP-menu:after{content:"";clear: both;display: block;}
.IGRP-menu.groupItemTab,.tabMenuGroups li.active {background: #fafafa;}
#formular_default .fingerDados input.berror, .fingerDados input.berror{border-color:#F00 !important;color:#F00 !important;}
.box-head.subtitle{ background:transparent;border-bottom:2px solid #267199;color:#267199;}
#formular_default label span.error, .fingerDados label.error span.error{margin:0 0 0 5px;font-size:10px;color:#F00;}
.r-tabs .r-tabs-accordion-title{ border-color:#eee !important;}
.r-tabs .r-tabs-nav .r-tabs-tab a{color:#565656;font-weight:bold;}
ul.IGRP-menu li:hover, .igrp_app_icon:hover{background:#dde6ef;}
ul.IGRP-menu li a span, #tabsMenu .itemTab .tab span{color:#565656;font-size:13px;}
#simpleMenu ul.itemMenu li a.active, .itemTab ul.itemMenu li a.active{text-decoration:underline;font-weight:bold;}
.iconcollapser{background:url(../img/sepUp.png) no-repeat;}
.box-content.collapsed .iconcollapser{background:url(../img/sepDown.png) no-repeat;}
.r-tabs .r-tabs-nav .r-tabs-state-active, .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor, .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{background-color: #fff;}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor{background-color:#d1d1d1;}
.r-tabs .r-tabs-nav, .IGRP_lookupPopup {background: none repeat scroll 0 0 #267199;}
.IGRP_datepicker{background:transparent;}
#formular_default .igrp_item.link a, a.link{color:#267199;cursor:pointer;}
#formular_default .igrp_item.link a:hover, a.link:hover{text-decoration:underline;}
.box-head.showTabMobile{webkit-box-shadow:3px 3px 0px rgba(0,0,0,0.3);box-shadow:3px 3px 0px rgba(0,0,0,0.3);border-bottom-color:transparent; background:#cdced0;color:#0b435e;}
/*-------------------------------- datepicker --------------------------------*/
#ui-datepicker-div, div.VKB_geral div.VKB_main{background:#fefefe;border-color:#d9e0e0 !important;webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e{ border-color:#969393;}
.ui-icon-circle-triangle-w{background:url(../img/call-left-arrow.png) no-repeat;}
.ui-icon-circle-triangle-e{background:url(../img/call-right-arrow.png) no-repeat;}
#ui-datepicker-div table{border-color:gray;}
#ui-datepicker-div table tr td[data-handler="selectDay"], #ui-datepicker-div table tr td[data-handler="selectDay"] a{border-color:#ddd;color:#333 !important;text-shadow: 0 1px 0 #f3f3f3;}
#ui-datepicker-div table tr td a.ui-state-default:hover{background:#1c7aa9;border-color:#ddd;color:#fff !important;text-shadow:0 1px 0 #f3f3f3;}
#formular_default .calendar{background:url(../img/calendar.png) no-repeat center #267199;}
div.VKB_geral .VKB{background:#267199; border-color:#267199 !important;}
/*-------------------------------- VKB --------------------------------*/
div.VKB_geral div.VKB_main{border-top:none !important;}
#formular_default div.VKB_geral div.VKB_main div input.VKB_button{background:#fff;border-color:#999;font-size:12px;color:#000;}
#formular_default div.VKB_main input.VKB_button:hover{border-color:#1c7aa9 !important;font-weight:bold;}
#formular_default div.VKB_main input.VKBOK_but, #formular_default div.VKB_main input.VKBLP_but, #formular_default div.VKB_main input.SHIFT_but, #formular_default div.VKB_main input.SHIFT_but:hover{border-color:#ccc;background:#fff;color:#000;}
#formular_default div.VKB_main input.VKBOK_but, #formular_default div.VKB_main input.VKBLP_but{color:#FFF;background:#1c7aa9;}
#formular_default div.VKB_main input.SHIFT_but{border-color:#000;}
#formular_default div.VKB_main input.VKBOK_but, #formular_default div.VKB_main input.VKBLP_but, #formular_default div.VKB_main input.SHIFT_but, #formular_default div.VKB_geral div.VKB_main div input.VKB_button{webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);box-shadow:1px 1px 3px rgba(0,0,0,0.3);}
/*-------------------------------- TABLE --------------------------------*/
.box-table table th {background-color: #d8d8d8;}
table th{text-transform:capitalize;}
table tr:nth-child(odd){background-color: #f7f7f7;}
table tr:nth-child(even){background-color: #e2e2e2;}
.box-table table td, .box-table table th, .table-container, .table-responsive table.IGRP_formlist tr td:first-child .respDelRow, .table-responsive tr td:first-child.active, .table-responsive tr td:first-child.active span.ctxmenu{ border-color:#cecece !important;}
.table-responsive tr td:first-child span.ctxmenu{background:url(../img/ctxmenu.png) no-repeat center;}
.box-table table tbody tr:hover, .box-table table tbody tr.active, .table-responsive td:first-child.active{background:#edfeff;}
.table-responsive table.IGRP_formlist tr td *.error{border:1px solid #F00 !important;}
/*.table-responsive td:first-child.active{box-shadow:2px 1px 5px;}*/
.sorting_desc {background: url("../img/icon/sort_desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);}
.sorting_asc {background: url("../img/icon/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);}
.sorting {background: url("../img/icon/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0);}
.box-table table tbody tr td a, .link a{text-decoration:underline;color:#267199}
.box-table table tbody tr td a:hover, .link a:hover{text-decoration:none;}
/*-------------------------------- Context Menu --------------------------------*/
ul.contextMenu, #ctxSepListDialog, .dialog, .ui-dialog-buttonpane, .link-opener{webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.3);border-color:rgba(204,204,204,0.8);background:#fff;color:#000;}
ul.contextMenu li.operationTable, #ctxSepListDialog li{border-bottom-color:#e3e3e3}
ul.contextMenu li.operationTable:hover, #ctxSepListDialog li:hover{background:rgba(206,206,206,0.5);}
ul.contextMenu li.operationTable:hover a{color:#000;}
ul.contextMenu li.operationTable.ctx_hidden{display:none;}
/*-------------------------------- LEGEND --------------------------------*/
.box-table .box-legend .legend-element{border-color:#D1D2D2 !important;}
.box-table .box-legend .legend-element .label{text-transform:capitalize;}
.color1{background:#DC2B4C !important;}
.color2{background:#EA9126 !important;}
.color3{background:#95C11F !important;}
.color4{background:#C4D9E8 !important;}
.color5{background:#A34B96 !important;}
.color6{background:#EFDB22 !important;} 
.color7{background:#006A91 !important;}
.color8{background:#DB94C0 !important;}
.color9{background:#A56B3C !important;}
/*-------------------------------- tool-bar --------------------------------*/
.tool-bar, .tool-bar ul li{border-color:#d1d1d1 !important;}
.tool-bar[mobile='true'] .icon{background:url(../img/iconMenu.png) 50% 49% #294460 no-repeat;}
.tool-bar ul li{background:#f7f7f7;}
.tool-bar ul li:hover{background:#dde6ef;}
.tool-bar ul li a{text-decoration:none;}
.tool-bar ul li a span{font-size:11px;}
/*-------------------------------- buttonBar addRow --------------------------------*/
/*.buttonBar, .buttonBar a, .addRow{background:#267199;}*/
.buttonBar{background:#bbcedc;}
.buttonBar span.img{background:#00557a;}
.buttonBar a{ background:#267199;}
.addRow.separador, .addRowFormlist.addRow{background:#67a1b7;}
.buttonBar a, .addRow a{color:#e4e7ec;display:inline-block;font-size:13px;border-left:1px solid;border-color:#0a4361;}
.addRow.separador a, .addRowFormlist.addRow a{color:#00445e;font-weight:normal;border-color:#00445e;}
/*-------------------------------- notification --------------------------------*/
.notification{color:#292b2e;}
.notification .close{background:url(../img/icon/close.png) no-repeat center;}
.notification .icon{background-image:url(../img/icon/mIcon.png);background-repeat:no-repeat;}
.notification.info{background:#a6b4c3;}
.notification.info .icon{border-color:#192d3b;background-color:#355c85;background-position:98% 40%;}
.notification.warning{background:#dac0a5;}
.notification.warning .icon{border-color:#a76c2d;background-color:#c37e33;background-position:66% 40%;}
.notification.error{background:#cba5a1;}
.notification.error .icon{border-color:#772b22;background-color:#9a3529;background-position:2% 40%;}
.notification.success{background:#bcc8ac;}
.notification.success .icon{border-color:#587239;background-color:#719448;background-position:34% 40%;}
/*--------------------------------Separator Dialog--------------------------------*/
.IGRP_overlay{background:rgba(0,0,0,0.5)}
body.loading .IGRP_overlay{background:url(../img/loading.gif) no-repeat rgba(255,255,255,0.8) 50%;}
.IGRP_overlay.menu{background:transparent;}
.IGRP_btn_close{background:url(../img/icon/close-dialog.png) no-repeat center;}
.IGRP_dialogboxTop, .IGRP_dialogboxCenter, .dialog_btnContainer{webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.3);border-color:rgba(204,204,204,0.8);}
/*--------------------------------Dialog--------------------------------*/
.dialog .message, .ui-dialog-buttonpane{border-top:1px solid #d1d1d1;}
.ui-dialog-buttonpane button{color:#fff;border:none;outline:none;}
.ui-dialog-buttonpane button:nth-child(1){background:#95C11F;}
.ui-dialog-buttonpane button:nth-child(2){background:#DC2B4C;}
/*--------------------------------Map Process--------------------------------*/
.box-process ul li a, #tabsMenu .itemTab .tab span{background-image:url(../img/pnext.png);background-position:97% 50%; background-repeat:no-repeat;}
.box-process.lateralMenu ul li a{background-position:99% 50%;}
.box-process ul li.active a, #tabsMenu .itemTab .tab span.active{background-image:url(../img/pdown.png);}
.box-process ul li ul li a, .box-process ul li.active ul li a{ background-image:none;}
/*--------------------------------Process Flow/workFlow--------------------------------*/
.process-flow li a .dot .stp_num, .process-flow li a .dot .stp_bar{background:#d9d9d9;color:#fff;font-size:14px;}
.process-flow li.stage a .dot .stp_num, .process-flow li.stage a .dot .stp_bar, .process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_end a .dot .stp_bar, .process-flow li.proc_start a .dot .stp_num, .process-flow li.proc_start a .dot .stp_bar{background:#477096;}
.process-flow li.curent a .dot .stp_num, .process-flow li.curent a .dot .stp_bar, .workFlow .process-flow li.active a .dot .stp_num{background:#ca583a;}
.process-flow li.end a .dot .stp_num, .process-flow li.end a .dot .stp_bar{background:#9a3529;}
.process-flow li a em{webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.3);background:#fff; color:#000;border:1px solid #fff;font-size:12px;font-weight:normal;}
.process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{font-size:12px;}
.workFlow .process-flow li.active a .dot .stp_num{z-index:1;}
/*--------------------------------Finger Print--------------------------------*/
.allFinger .dados{border-right:2px solid;}
.allFinger{border-top:1px solid;}
.allFinger .titleFinger{border-bottom:1px solid; background:#d7d7d7;color:#4f5051;font-weight:600;}
.allFinger, .allFinger .dados, .allFinger .titleFinger{border-color:#cecece;}
.allFinger .icon{background:url(../img/icon/finger.png) no-repeat center;}
.allFinger #left .icon{background-position:-7% 50%;}
.allFinger #right .icon{background-position:67% 50%;}
.allFinger .photo .icon{background-position:32% 50%;}
.allFinger .signature .icon{background-position:100% 50%;}
/*--------------------------------SIMPLE/TABS MENU--------------------------------*/
#tabsMenu ul.IGRP-menu li.active, .tabMenuHolder ul.IGRP-menu li.active{position:relative;top:1px;}
#tabsMenu ul.IGRP-menu li.active a, .tabMenuHolder ul.IGRP-menu li.active a{font-weight:bold;}
#tabsMenu .itemTab .tab span.active, .tabMenuHolder .itemTab .tab span.active{background-color:#dde6ef;}
/*--------------------------------IGRP View--------------------------------*/
.viewName{font-size:18px;font-weight:bold;}
.viewLabel{font-weight:bold;}
.viewDados h1{border-bottom:2px solid #267199; color:#267199;}
/*--------------------------------IGRP debug--------------------------------*/
.debug{background:#fafafa;}
#igrp-footerPage, #igrp-footerPage .icon, #igrp-footerPage .col{background-color:#d1d1d1;}
#igrp-footerPage .icon{background-image:url(../img/debug.png);background-position:50% 100%;background-repeat:no-repeat;cursor:pointer;}
#igrp-footerPage.active .icon{background-position:50% -14%;}
#igrp-footerPage .search{background:#fff;}
.debug ul li{font-size:11px;}
.debug ul li:nth-child(even){background:#f1f1f1;}
/*--------------------------------filter AZ--------------------------------*/
.filterAz span a:hover, .filterAz span a.active{background:#267199;color:#fff;font-weight:bold;}
/*--------------------------------link-opener--------------------------------*/
.link-opener .opener-close{background:url(../img/opener-close.png) no-repeat center;}
/*--------------------------------Table Graph--------------------------------*/
.table_graph table thead tr th, .table_graph table tbody tr td:first-child{background:#ccc; font-weight:bold;}
/*--------------------------------PESQUISA GEOGRAFIA--------------------------------*/
.box-pesquisa ul li:nth-child(even){background:#f1f1f1;}
.box-pesquisa ul li{border-bottom:1px dotted;}
.box-pesquisa ul li a.item-nivel-1:hover, .box-pesquisa ul li a.item-nivel-1pai:hover{text-decoration:underline;}
.box-pesquisa ul li a span.seta{font-size:16px;text-align:left;}
/*--------------------------------HOME APP--------------------------------*/
.app-titulo-logo{font-weight:bold;font-size:13px;}
.app-box-content-alter .IGRP-menu li{border-left:1px solid #999;border-top:1px solid #999;border-bottom:1px solid #999;}
.app-box-content-alter .IGRP-menu li:last-child{border-right:1px solid #999;}
.app-box-content-alter #simpleMenu{border-left:0px;border-top:0px;border-bottom:0px; }
.app-list2 .app-p3, .app-list3 li{border-top:1px solid #999;}
.app-list3 li, .app-list1 span{border-bottom:1px solid #999;}
.app-list1 span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.app-list1 li:hover, .app-list1 li span a:hover, .app-list1 li a:hover{background:none !important;}
.app-img-icon{background:url(../img/icon/arrow.png) left no-repeat;padding-left:20px;}
.app-list2 .app-p1, .app-list3 .app-p2{color:#267199;}
.app-list3 .app-p1{font-weight:bold;}
.app-list1 a{color:#767676}
.app-list1 li:hover{background-color:#DDE6EF;}
.app-list3 li:last-child, .app-list1 li:last-child span{border-bottom:none; }
.app-list3 .app-p1{text-transform:uppercase; }
/*--------------------------------HOME Colaboradores--------------------------------*/
.box-func .box-colData .box-img{border:1px solid #398ab5;background-position:center;background-repeat:no-repeat;background-size:cover;}
.box-colData .title{color:#4f4f4f;text-transform:uppercase;}
.box-colData .conctato{color:#00acd7;}
.box-func .box-colData .box-data div.label{border-right:1px solid #e0dcdd;}
.box-func .box-colData .box-data div.value{text-align:right;}
.box-colData.color{background:#f5f5f5;}
.box-func .box-colData .box-data .box-colData.color .box-colData{border-bottom:1px dashed #e0dcdd;}
.box-func .box-colData .box-data div.label, .box-func .box-colData .box-data div.value{font-size:11px;}
.box-func .box-colData .box-data .box-colData.color .box-colData:last-child{border-bottom:none;}
.box-colData .percent .bar-evolut[rel='50']{background:#063;}
.box-colData .percent .bar-evolut[rel='40']{background:#CC0;}
.box-colData .percent .bar-evolut[rel='20']{background:#F00;}
/*--------------------------------CALENDAR--------------------------------*/
.fc-content-skeleton table tr:nth-child(even), .fc-slats table tr:nth-child(even), .fc-slats table tr:nth-child(odd){background-color:transparent;}
.fc th{line-height:30px; background:#e1e1e1; color:#4f5051;}
.fc-day-number{color:#202121;font-size:13px;}
/*--------------------------------TABLE[data-view="blocke"]--------------------------------*/
.table-view .icon{ background:url(../img/icon/icover-flow.png) no-repeat 50%;}
.table-view .icon.slide{ background-position:2% 50%;}
.table-view .icon.list{ background-position:40% 50%;}
.table-view .icon.block{ background-position:79% 50%;}
.table-view .icon.slide.active, .table-view .icon.slide:hover{background-position:22% 50%;}
.table-view .icon.list.active, .table-view .icon.list:hover{background-position:60% 50%;}
.table-view .icon.block.active, .table-view .icon.block:hover{ background-position:99% 50%;}
.table-responsive table[data-view="block"] tr {-webkit-box-shadow:1px 0px 2px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow:1px 0px 2px 0px rgba(50, 50, 50, 0.5);box-shadow:1px 0px 2px 0px rgba(50, 50, 50, 0.5);}
.table-responsive table[data-view="block"] td{border-bottom: 1px solid #D5D6D7!important;}
.table-responsive table[data-view="block"] td:before {font-weight:bold;}
/*--------------------------------List TREE--------------------------------*/
ul.listTree li{border-bottom:1px dashed rgba(204,204,204,0.5) !important;}
ul.listTree li a{font-style:normal;}
ul.listTree .tree-menu-options .btn:after {display: block; color: #fff;text-align: center;line-height: 14px;width: 14px;float: left;height: 14px;margin: 0 1px;text-align: center;cursor: pointer;}
ul.listTree li a .addItem:after{content: "+";background-color:rgba(49, 177, 49, 0.66);}
ul.listTree li a .deleteItem:after{content: "x";background-color:rgba(220, 43, 76, 0.66);}
ul.listTree li a .editItem:after{content: "-";background-color:rgba(236, 226, 43, 0.66);}
ul.listTree li.listGetter a:hover{text-decoration:underline;}
ul.listTree li.listGetter a[type='node']:after{content:"";background: url(../img/pnext.png) no-repeat;/*border:1px solid;color:#363636;*/cursor:pointer;}
ul.listTree li.listGetter a.active[type='node']:after{content:"";background: url(../img/pdown.png) no-repeat;line-height: 7px;}
ul.listTree li.listGetter a span{text-transform: capitalize;}
#bpmnAddItem{ z-index:1;webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.3);border-color:rgba(204,204,204,0.8);background:#fff;color:#000;}
#bpmnAddItem button{color: #fff;border: none;outline: none; cursor: pointer;}
#bpmnAddItem button#bpmnSend{ background: #95C11F;}
#bpmnAddItem button#bpmnReset{ background: #DC2B4C;}