
*[role="form"] .box-head.subtitle{
  padding: 0px 10px;

}

*[role="form"] .box-head.subtitle span{
	display: inline-block;
	padding: 5px 0;
	position: relative;
	top: 1px;
	border-bottom: 1px solid
}

label {
	margin-bottom: 8px;
	font-weight: 600
}
.form-group > label,
.form-link {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*fields*/
textarea.form-control {
	min-height: 108px;
}

select.form-control.select2+span.select2-container{
	width: 100%!important;
}

.select2-container .select2-selection--multiple{
	min-height: 34px!important;
}

.form-group a.form-link.btn{
	margin-top: 28px;
	margin-bottom: 0
}

.form-group a.form-link.btn.btn-link{
	text-align: left;
	display: inline-block;
}

.form-group a.form-link{
	margin-top: 32px;
	margin-bottom: 7px;
}

.IGRP_formlist .form-group a.form-link{
	margin: 0;
}

.form-link-offset, .form-check-offset{
	padding-top: 34px;
	padding-bottom: 8px;
	margin: 0;
}

.input-group-addon,
.input-group-btn{
	cursor:pointer;
}

.buttonBar { 
	text-align: right;
	padding: relative;
}
.gen-form-footer {
	text-align: right;
	padding-right:25px;
	padding-left: 25px; 
}
.gen-form-footer > button{
	margin-left: 10px;
	position: relative;
}
.gen-form-btns > a.btn{
	margin-left:4px;
}
/*button file*/
.input-group .input-group-btn .btn .fa{
	line-height: 20px;	
}
.file-btn-holder {
  position: relative;
  overflow: hidden;
}

.form-group[item-type="file"] input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  -moz-background: transparent;
  display: block;
  z-index: 1;
  cursor:pointer!important;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/*plaintext*/
form [item-type="plaintext"]{
	
}

/*height hack*/
form .form-group[item-type="lookup"],
form .form-group[item-type="select"],
form .form-group[item-type="date"]{
	height: 62px;
}



/* FORM VALIDATION */
.form-validator-label {
	position: absolute;
	left: 15px;
    top: 15px;
    font-size: 10px;
    font-weight: normal!important;
    color: #c9302c;
}

.input-group .form-validator-label {
	left:0;
	top:-12px;
}

*[item-type="checkboxlist"] .form-validator-label,
*[item-type="radiolist"] .form-validator-label {
	top:-15px;
	left:-20px;
}

*[item-type="checkbox"] .form-validator-label,
*[item-type="radio"] .form-validator-label{
	left:-20px;
}

/*REQUIRED - 27.01.17 - William Lima*/
[role="form"] .form-group[required="required"]>label:not(.form-validator-label):before,
[role="form"] .form-group[required="required"]>.checkbox > label:not(.form-validator-label):after,
[role="form"] .form-group[required="required"]>.radio > label:not(.form-validator-label):after/*,
[role="form"] :not([item-type="checkboxlist"]) [required="required"] .checkbox>label:not(.form-validator-label):after,
[role="form"] :not([item-type="checkboxlist"]) [required="required"] .radio>label:not(.form-validator-label):after,
[role="form"] :not([item-type="radiolist"]) [required="required"] .radio>label:not(.form-validator-label):after*/{
	content:"*";
	position: relative;
	top: 1px;
	color:#ca2418;
	margin-right: 2px;
	font-weight: bold;
}

[role="form"] [item-type="checkboxlist"] label:not(.form-validator-label):after,
[role="form"] [item-type="radiolist"] label:not(.form-validator-label):after{
	display: none
}

[role="form"] :not([item-type="checkboxlist"]) [required="required"] .checkbox label:not(.form-validator-label):after,
[role="form"] :not([item-type="radiolist"]) [required="required"] .radio label:not(.form-validator-label):after{
	margin-right: 0;
	margin-left: 2px;
}

.checkboxlist .checkbox, .radiolist .radio{
	margin-top: 0;
	padding: 0;
}

.checkboxlist .checkbox+.checkbox, .radiolist .radio+.radio{
	margin-top: 0;
}

.checkboxlist > label, .radiolist > label{
	margin-bottom: 10px;
}