
body{
	background:#fafafa;
}

body.portal-nav{
	padding-top: 0;
}

body.portal-nav #igrp-top-nav{
	display: none
}

body.portal-nav #igrp-contents{
	padding: 0;
	margin:0!important;
	width: 100%;
}

body.portal-nav .content{
	padding-top: 0
}

body.portal-nav #igrp-sidebar{
	display: none;
}
