  /* Force table to not be like tables anymore */
  .table-responsive table, 
  .table-responsive thead, 
  .table-responsive tbody, 
  .table-responsive th, 
  .table-responsive tr, .showResponsiveTable { 
    display: block!important; 
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .table-responsive thead, .table-responsive table.hideItem{
    display:none!important;
  }
  .table-responsive thead tr { 
    position: absolute!important;
    top: -9999px!important;
    left: -9999px!important;
    border-bottom:0!important;
  }
  .table-responsive tr { 
    border: none!important;
    margin:6px 0!important;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
}
  .table-responsive td { 
    /* Behave  like a "row" */
    position: relative!important;
    padding-left:38%!important; 
    white-space: normal!important;
    text-align:left!important;
	display:none;
	min-height:35px;
  }
  .table-responsive td.active{display:block;}
  .table-responsive td:before { 
    /* Now like a table header */
    position: absolute!important;
    /* Top/left values mimic padding */
    left: 6px!important;
	height:100%;
    width:35%!important; 
    white-space: nowrap!important;
    text-align:left!important;
    font-weight: bold!important;
	border-right:1px solid #cecece;
  }
  .table-responsive tr td.fBtn, .table-responsive tr td.bEdDel, .table-responsive tr td.operationTable{display:none !important;}
  .table-responsive tr td:first-child span.ctxmenu{position:absolute;right:0px;top:0px;height:34px;width:32px;cursor:pointer;}
  /*
  Label the data
  */
  .table-responsive tr td:first-child:after{top:14px;
	  right:30px;height:16px;width:16px;display:block;position:absolute;
	  text-align:center;line-height:15px;content:'';background:url(../img/sepDown.png) no-repeat; cursor:pointer;}
  .table-responsive tr td.active:first-child:after{background:url(../img/sepUp.png) no-repeat;}
  .table-responsive tr.noDelete td:first-child:after, .table-responsive tr.default td:first-child:after{right:7px;}
  .table-responsive td:before{content: attr(data-title); }
  .box-table.table-responsive table td{border-right:none !important; border-left:none !important;}
  .table-responsive tr td:first-child{display:block;padding-right:50px; border-bottom:none;}
  .table-responsive tr.noDelete td:first-child, .table-responsive tr.default td:first-child{padding-right:25px;}
  .table-responsive tr td:first-child.active{border-bottom:1px solid;}
  .box-table.table-responsive table tr td span[class*='color']{display:initial;}
  .box-table.table-responsive table tr .tdcolor, .box-table.table-responsive table tr .icon, .box-table.table-responsive table td.bEdDel{width:auto !important;}
  /*FORMLIST*/
  .table-responsive table.IGRP_formlist td:first-child.active{margin-bottom:10px;}
  .box-table.table-responsive table.IGRP_formlist td{padding:0;}
  .box-table.table-responsive table.IGRP_formlist td input, .box-table.table-responsive table.IGRP_formlist td div.chosen-container{margin:3px 0;}
  .box-table.table-responsive table.IGRP_formlist td div.chosen-container{ width:97% !important;}
  #formular_default .table-responsive table.IGRP_formlist td input{width:calc(100% - 25px);}
  #formular_default .table-responsive table.IGRP_formlist tr td:first-child input{width:calc(100% - 65px);}
  #formular_default .table-responsive table.IGRP_formlist tr.noDelete td:first-child input{width:calc(100% - 40px);}
  #formular_default .table-responsive table.IGRP_formlist td input[type="radio"], #formular_default .table-responsive table.IGRP_formlist td input[type='checkbox']{width:15px;height:25px;}
  #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr td .itemIcon input[type='file'], #formular_default 								.box-table.table-responsive table.IGRP_formlist tbody tr td .itemIcon span.upload{top:4px;right:13px;}
  #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr td .itemIcon .calendar{top:4px;right:15px;}
  #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr td:first-child .itemIcon .calendar, #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr td:first-child .itemIcon input[type='file'], #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr td:first-child .itemIcon span.upload{right:54px;}
  #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon .calendar,
  #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon input[type='file'], #formular_default .box-table.table-responsive table.IGRP_formlist tbody tr.noDelete td:first-child .itemIcon span.upload{right:30px;top:4px;}
  .table-responsive table.IGRP_formlist tr td:first-child .respDelRow{position:absolute;right:-3px;top:13px;text-align:center;width:32px;height:69%; cursor:pointer;}
  .table-responsive table.IGRP_formlist tr.noDelete td:first-child .respDelRow{ display:none !important;}
  .table-responsive table.IGRP_formlist td:first-child:after{top:16px;}
  ul.ctxSepListDialog{right:30px;}
