@charset "utf-8";
/* CSS Document */
/*NOSi 2014*/
._hiddenTablet, .showDesktop, .showMobile{ display:none;}
.showResponsive, .showTablet, .showTabMobile{display:block;}
#igrp-topLogo .topLeft{width:75%}
#igrp-topLogo .topLeft .topLeftTitle{padding:20px 0 1px 4px;width:70%;}
#igrp-topLogo .topRigth{padding:28px 5px 0 0;}
#igrp-topMenu{height:40px;}
#igrp-topMenu .topMenuRigth{width:90%;}
#igrp-topMenu .topMenuRigth ul{margin-right:0;}
#igrp-topMenu .topMenuRigth ul li a{padding:12px 15px;}
#igrp-topMenu .topMenuRigth ul li a img{margin-top:5px 0;}
#igrp-topMenu .topMenuRigth{width:90%;}
#igrp-topMenu .topMenuLeft{width:10%}
#igrp-topMenu .topMenuLeft #iconMenu{width:42px;}
.bodyPageLeft{width:0px;top:95px; transition:all;}
.bodyPageRigth{width:99%;}
div#igrp-topPage+div#igrp-bodyPage{margin-top:95px;}
div.bodyPageLeft+div.bodyPageRigth{left:0px;top:10px;width:99%;}
#igrp-bodyPage.open .bodyPageLeft{width:300px;}
#igrp-bodyPage.noTop .bodyPageLeft{top:40px;}
[class*='col-']{width:50%;}
.col-1-1{width: 100%; float: none;}
.colTab{width:100% !important;}
.colLR, .conCenterLR, .colCenter, .colLCR{width:auto; float:none;}
.igrp_app_icon{ height:55px; cursor:pointer;}
.igrp_icon{ width:auto; float:left; padding:5px;cursor:pointer;}
.igrp_app_label{ line-height:none; padding:20px; text-align:left;}
.slideMenu ul.menu li:last-child{border-bottom:none;}
#igrp-bodyPage.open .bodyPageLeft{overflow-y:auto; overflow-x:hidden;}
.itemFixed{position:relative !important;left:auto;top:auto;right:auto;z-index:auto;}
.itemFixed.top{top:auto !important;}
div.bodyPageLeft+div.bodyPageRigth .box-head.showTabMobile{ display:block !important;}
/*--------------------------------IGRP Item Form--------------------------------*/
#formular_default input, #formular_default label{font-size:14px;}
#formular_default input{line-height:23px;padding:5px;height:23px;}
#formular_default label{ margin:5px;}
#formular_default input[class*='LOOKUP'], #formular_default input[class*='lookup']{padding-right:35px;width: calc(100% - 35px);}
#formular_default input[type='file']{top:0;width:98%;height:30px;}
#formular_default .igrp_item.link{padding:27px 0 14px 0;}
#formular_default .igrp_item.link a{display:block;}
#formular_default select{height:35px;}
#formular_default .igrp_item.color{padding-bottom:9px;}
#formular_default .igrp_item.radio, #formular_default .igrp_item.checkbox{padding-bottom:6px;}
.IGRP_lookupPopup{width:35px;height:30px;right:-4px;}
.IGRP_lookupPopup img{margin-top:4px; margin-left:2px;}
span.upload{top:0;right:-1px;height:30px;line-height:32px;}
.item{ position:relative !important;top:0 !important;left:0 !important;}
#formular_default div.VKB_geral .VKB img{padding:5px 0px;margin-top:-3px;}
#formular_default div.VKB_geral .VKB{height:33px;right: 6px;top: 3px;}
#formular_default input.VKBLP_but, #formular_default input.VKBOK_but{line-height:15px;}
#formular_default div.VKB_geral div.VKB_main div input.VKB_button{}
#formular_default .calendar{top:3px;padding:4px 3px;right:2px;height: 20px;}
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices{line-height:33px; height: 33px;}
.chosen-container-single .chosen-single div b{background-position: 0px 8px;}
.chosen-container-active.chosen-with-drop .chosen-single div b{background-position: -18px 9px;}
.chosen-container-single .chosen-single abbr{top:12px;}
.chosen-container-multi .chosen-choices li.search-choice{ margin-top:6px;}
/*--------------------------------TABLE--------------------------------*/
.box-table table tr{line-height:35px;}
#formular_default .box-table table.IGRP_formlist tbody tr[role='row'] td:last-child input{width: calc(100% - 35px);}
.box-table .addRowFormlist{cursor:pointer;position:absolute;right:7px;top:10px;}
.box-table table.IGRP_formlist tbody tr td:last-child .itemForm .calendar{top:5px !important; right:25px !important;}
.box-table table.IGRP_formlist tbody tr td:last-child .itemForm input[type='file'], .box-table table.IGRP_formlist tbody tr[role='row'] td:last-child .itemForm span.upload{top:2px !important; right:25px !important;}
#formular_default .box-table table.IGRP_formlist tbody tr th:last-child{padding-right:30px;}
#formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral input{width: calc(100% - 70px);}
#formular_default .box-table table.IGRP_formlist tbody tr td .VKB_geral .VKB_main{top:37px;}
#formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral .VKB_main input{width:9%;}
#formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral .VKB_main input.VKBOK_but{width:30px;}
#formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral .VKB_main input.VKBLP_but, #formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral .VKB_main input.SHIFT_but{width:50px;}	
#formular_default .box-table table.IGRP_formlist tbody tr td:last-child .VKB_geral a.VKB{top:3px;right:29px;}
#formular_default .box-table table.IGRP_formlist tbody tr td .VKB_geral a.VKB{top:3px;right:6px;}
/*--------------------------------LEGEND--------------------------------*/
.box-table .box-legend{width:100%;}
.box-table .box-legend .legend-element{border-left:1px solid;height:auto }
.box-table .box-legend .legend-element .label{width:68%;margin:auto;margin:auto;height:auto;display:inline-block;text-align:inherit;padding:5px;overflow:inherit;white-space:normal;}
.box-table .box-legend .legend-element .color-label{height:8px;display:inline-block;margin:auto;width:27%;}
/*--------------------------------COLORPICKER--------------------------------*/
.sp-replacer{padding:4px 2px;top: 1px;right: -1px;}
.sp-preview{height:22px;margin:0px 2px 0 0;}
/*--------------------------------Dialog--------------------------------*/
.ui-dialog{left:5%!important;right:5%!important;}
.ui-dialog-buttonpane button{width:49%;}
/*--------------------------------Separator Dialog--------------------------------*/
.IGRP_dialogbox{width:90%;height:90%;top:5%;left:5%;}
/*--------------------------------Process Flow--------------------------------*/
.process-flow{padding:0;}
.process-flow li{width:auto;float:none;text-align:left;border-bottom:1px solid;}
.process-flow li:last-child{border-bottom:none;}
.process-flow li a{padding:12px 5px;background-image: url(../img/pnext.png);background-position: 97% 50%;background-repeat: no-repeat;}
.process-flow li:hover a em, .process-flow li a .dot .stp_bar{display:none;}
.process-flow li a .dot{position:absolute;top:8px;}
.process-flow li a .dot .stp_num, .process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{top:0;left:2px;width:20px;height:20px;line-height:20px;}
.process-flow li a .stp_label{margin-top:0;padding-left:25px;font-size:12px;line-height:14px;}
.process-flow li.proc_end a .dot .stp_num div, .process-flow li.proc_start a .dot .stp_num div, .process-flow li a .stp_label{overflow:inherit;white-space:normal;width:auto;}
.process-flow li.proc_end a .dot .stp_num, .process-flow li.proc_start a .dot .stp_num{padding:0;}
.process-flow li[rel='end'] a .stp_label{margin-top:0;}
.process-flow li.end a{background-image:none;}
.process-flow li[rel='end']{border-bottom:none;}
.process-flow li.end a .stp_label{margin-left:0;}
.process-flow li.proc_end a .stp_label[rel='proc'], .process-flow li.proc_start a .stp_label[rel='proc']{display:block;}
/*--------------------------------Finger Print--------------------------------*/
.col50100{width:100%;float:none;}
.allFinger #right .dados{ border-right:none !important;}
/*--------------------------------filter AZ--------------------------------*/
.filterAz span{width:5%;}
/*--------------------------------link-opener--------------------------------*/
.link-opener{width:80%;}
/*--------------------------------LOGIN--------------------------------*/
#content-holder{display:block;width:100%;}
#content-holder .inner .inner-right .filds{width:90%;display:block;}
/*--------------------------------PESQUISA GEOGRAFIA--------------------------------*/
.box-pesquisa ul li a.item-nivel-1pai{width:5%;}
.box-pesquisa ul li a.rootLink{width:50%;}
/*--------------------------------HOME APP--------------------------------*/
.app-box-content-alter .col50100{width:50% !important; float:left !important;}
.col50100+.col50100 .app-col{margin:5px 0;}
/*--------------------------------TABLE[data-view="blocke"]--------------------------------*/
.table-responsive table[data-view="block"] tr{width:48%;margin:1% 0.8%!important;}
.table-responsive table[data-view="block"] tr td:first-child{padding-right:30px;}
.table-responsive table[data-view="block"] tr td:first-child:after{display:none;}
.table-responsive table[data-view="block"] tr td input[type="radio"], .table-responsive table[data-view="block"] tr td input[type="checkbox"]{ height:25px;}
.box-table table[data-view="block"] tr .tdcolor{min-height:31px;}
.box-table table[data-view="block"] tr td span[class*='color']{ margin:13px 0;}
.table-responsive table[data-view="block"] td:before{line-height:30px;}
.table-responsive table[data-view="block"] tr td:first-child span.ctxmenu{height:34px;width:32px;}

.col.graph .col-1-4.item.charts {position: absolute !important;right: 6px !important;top: 15px !important;z-index: 2;left: inherit !important;}