<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="app.xsl" type="text/xsl"?>
<rows>
    <link_img>/IGRP/images/IGRP/IGRP2.4</link_img>
    <title>Dummie XML prototype</title>
    <site>
        <welcome_note>Oba</welcome_note>
        <footer_note>2019 - Copyright NOSI v.190711</footer_note>
        <user_name>Hexagon</user_name>
        <button type="specific">
            <title>Sair</title>
            <app>DUA</app>
            <page />
            <link>#</link>
            <target>_self</target>
            <img>exit.png</img>
        </button>
    </site>
    <page>undefined</page>
    <app>generator</app>
    <template>velzon</template>
    <plsql>
        <action>undefined</action>
        <package_instance></package_instance>
        <package_db></package_db>
        <package_html></package_html>
        <table_name></table_name>
        <with_replace>false</with_replace>
        <with_label>false</with_label>
        <with_biztalk>false</with_biztalk>
        <dynamic_menu>false</dynamic_menu>
        <copy_menu>false</copy_menu>
        <package_copy_db />
        <package_copy_html />
        <preserve_url>/IGRP/images/IGRP/IGRP2.4/core/formgen/types/check_file.php?v=undefined</preserve_url>
    </plsql>
    <slide-menu file="../../../xml/IGRP-slide-menu.xml?v=2" />
    <top_menu file="../../../xml/IGRP-top_menu.xml?v=2" />
    <content>
        <title>IGRP 2.4 Dashboard</title>
        <separatorlist_1 type="separatorlist" xml-type="separatorlist" title="Clientes" gen-clean="true" gen-type="container" gen-group="true">
            <fields>
                <separatorlist_1_text_1 name="p_separatorlist_1_text_1" type="text" maxlength="250" required="false" change="false" readonly="false" disabled="false" disablehtml="true" placeholder="" desclabel="false" desc="true">
                    <label>Nome</label>
                    <value>Dolor sed aliqua omnis labore</value>
                </separatorlist_1_text_1>
                <separatorlist_1_date_1 name="p_separatorlist_1_date_1" type="date" format="d-m-Y" enableTime="false" range="false" disableWeekends="false" disabledBeforetoday="false" daysoff="false" maxlength="250" required="false" change="false" readonly="false" disabled="false" placeholder="" desclabel="false" class="primary" desc="true">
                    <label>Data de Nascimento</label>
                    <value>06-04-2013</value>
                </separatorlist_1_date_1>
            </fields>
            <table>
                <value>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Stract sed anim amet sed</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Stract sed anim amet sed</separatorlist_1_text_1_desc>
                        <separatorlist_1_date_1 name="p_separatorlist_1_date_1" desc="true">01-03-2016</separatorlist_1_date_1>
                        <separatorlist_1_date_1_desc name="p_separatorlist_1_date_1_desc">01-03-2016</separatorlist_1_date_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Officia laudantium amet totam natus</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Officia laudantium amet totam natus</separatorlist_1_text_1_desc>
                        <separatorlist_1_date_1 name="p_separatorlist_1_date_1" desc="true">08-06-2012</separatorlist_1_date_1>
                        <separatorlist_1_date_1_desc name="p_separatorlist_1_date_1_desc">08-06-2012</separatorlist_1_date_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Perspiciatis voluptatem labore consectetur anim</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Perspiciatis voluptatem labore consectetur anim</separatorlist_1_text_1_desc>
                        <separatorlist_1_date_1 name="p_separatorlist_1_date_1" desc="true">06-04-2017</separatorlist_1_date_1>
                        <separatorlist_1_date_1_desc name="p_separatorlist_1_date_1_desc">06-04-2017</separatorlist_1_date_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Aliqua sed mollit deserunt mollit</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Aliqua sed mollit deserunt mollit</separatorlist_1_text_1_desc>
                        <separatorlist_1_date_1 name="p_separatorlist_1_date_1" desc="true">03-07-2013</separatorlist_1_date_1>
                        <separatorlist_1_date_1_desc name="p_separatorlist_1_date_1_desc">03-07-2013</separatorlist_1_date_1_desc>
                    </row>
                    <row>
                        <separatorlist_1_text_1 name="p_separatorlist_1_text_1" desc="true">Consectetur dolor magna rem totam</separatorlist_1_text_1>
                        <separatorlist_1_text_1_desc name="p_separatorlist_1_text_1_desc">Consectetur dolor magna rem totam</separatorlist_1_text_1_desc>
                        <separatorlist_1_date_1 name="p_separatorlist_1_date_1" desc="true">06-03-2017</separatorlist_1_date_1>
                        <separatorlist_1_date_1_desc name="p_separatorlist_1_date_1_desc">06-03-2017</separatorlist_1_date_1_desc>
                    </row>
                </value>
            </table>
        </separatorlist_1>
        <separatorlist_2 type="separatorlist" xml-type="separatorlist" title="Fornecedores" gen-clean="true" gen-type="container" gen-group="true">
            <fields>
                <separatorlist_2_text_1 name="p_separatorlist_2_text_1" type="text" maxlength="250" required="false" change="false" readonly="false" disabled="false" disablehtml="true" placeholder="" desclabel="false" desc="true">
                    <label>Nome</label>
                    <value>Labore doloremque rem natus aperiam</value>
                </separatorlist_2_text_1>
                <separatorlist_2_email_1 name="p_separatorlist_2_email_1" type="email" maxlength="250" required="false" change="false" readonly="false" disabled="false" placeholder="" desclabel="false" desc="true">
                    <label>Email</label>
                    <value>baniv@example.com</value>
                </separatorlist_2_email_1>
            </fields>
            <table>
                <value>
                 
                </value>
            </table>
        </separatorlist_2>
    </content>
    <blockly></blockly>
</rows>