<xsl:choose>
	<xsl:when test="not(//#path#/@visible)">
		<td data-row="{position()}" data-title="{../../fields/#tag#/label}" class="file" item-name="#[tag]#">
			<xsl:choose>
	          <xsl:when test="#tag# != ''">
	            <a href="{#tag#}" class="link bClick" target="_blank" name="#tag#">
	              <xsl:value-of select="#tag#_desc"/>
	            </a>
	          </xsl:when>
	          <xsl:otherwise>
	            <xsl:value-of select="#tag#_desc"/>
	          </xsl:otherwise>
	        </xsl:choose>
	        <input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
	        <input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
		</td>
	</xsl:when>
	<xsl:otherwise>
		<input type="hidden" name="p_#tag#_fk" value="{#tag#}"/>
  		<input type="hidden" name="p_#tag#_fk_desc" value="{#tag#_desc}"/>
	</xsl:otherwise>
</xsl:choose>
