
.text-link{
	color:#337ab7
}

.text-purple{
	color:#611BBD; 
}

.btn-purple { 
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #130269; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-purple .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}


/* BTN BLACK */
.text-black{
	color:black;
}

.btn-black { 
  color: #FFFFFF; 
  background-color: #000000; 
  border-color: #000000; 
} 
 
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  color: #FFFFFF; 
  background-color: #000000; 
  border-color: #000000; 
} 
 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  background-image: none; 
} 
 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
  background-color: #000000; 
  border-color: #000000; 
} 
 
.btn-black .badge { 
  color: #000000; 
  background-color: #FFFFFF; 
}


/* BTN GREY */

.text-grey{
	color:#DBDBDB
}
.btn-grey { 
  color: #333333; 
  background-color: #DBDBDB; 
  border-color: #D1D1D1; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #333333; 
  background-color: #D1D1D1; 
  border-color: #D1D1D1; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #DBDBDB; 
  border-color: #D1D1D1; 
} 
 
.btn-grey .badge { 
  color: #DBDBDB; 
  background-color: #333333; 
}

.d-block{
  display: block;
}