@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

/*GLOBALS*/

/*body*/
html.ready body{
  opacity: 1
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  opacity: 0;
  transition : opacity .6s;
}

body.fixed-nav{
    padding-top: 55px;
}

body[has-menu="false"] .container-fluid{
  padding:15px;
}

body[has-menu="false"] #igrp-contents{
  padding: 0
}

body[has-menu="false"] .container-fluid>.row{
  margin:0;
}

body.sidebar-off #igrp-contents, 
body[has-menu="false"] #igrp-contents{
  margin: 0!important;
  width: 100%;
}

/* main */
#igrp-login-wrapper{
  max-width: 400px;
  margin: 6% auto;
}

#igrp-contents{
	padding-top: 15px;
	padding-bottom: 15px
}

.main .page-header {
  margin-top: 0;
}

/*buttons*/
.icon-item-holder{
	display: inline-block;
}

.icon-item-holder+span{
	margin-left: 4px;
}

/*modals*/
.modal-content{
  border-radius: 0;
  border: 0
}
.modal-body:after{
  content:"";
  display: block;
  clear: both;
}

.modal{
  overflow: auto;
}

/*igrp-global-modal*/
#igrp-global-modal .modal-footer button i{
  line-height: 20px;
  margin-right: 5px;
}

/*  iframe navigation */
.gen-container-item iframe{
  width: 100%;
  border: 0;
  outline: 0;
}

#igrp-iframe-nav:not(.loadingmodal) .loader{
  display: none;
}

#igrp-iframe-nav.loadingmodal, .loading{
  cursor: wait;
}

#igrp-iframe-nav.loadingmodal .modal-dialog{
   background: #f5f5f5
}

#igrp-iframe-nav .modal-dialog{
  position: absolute;
  width: 85%;
  height: 85%;
  margin: 0;
  left: 7.5%;
  top: 7.5%;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background: transparent;
}

#igrp-iframe-nav.loading .modal-dialog:after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  outline: 1px solid whitesmoke
}

#igrp-iframe-nav .iframe-nav-close:hover{
  color: #fff;
}

#igrp-iframe-nav .iframe-nav-close{
  color: #fff;
  position: absolute;
  right: 7.5%;
  font-size: 24px;
  top: 7.5%;
  margin-right: -30px;
  cursor: pointer;
  /*text-shadow: 0 5px 15px rgba(0,0,0,.5);*/
}

#igrp-iframe-nav iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background: #fff;
}


/* debbuger */
#igrp-debugger h3{
  float: left;
  margin: 0
}

#igrp-debugger .igrp-debug-search{
  margin-bottom: 5px;
}

.igrp-debug-ctrl{
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 2px; 
  position: fixed;
  bottom: -1px;
  border:1px solid #ccc;
  z-index: 100;
  left:50%;
  background: whitesmoke;
}

#igrp-debugger .igrp-debug-list{
  padding: 0;
}

#igrp-debugger .igrp-debug-list li{
  padding: 5px 10px;
  word-break: break-all;
}

#igrp-debugger .igrp-debug-list li:nth-child(even){
  background: whitesmoke
}


/*scrollbar*/
::-webkit-scrollbar-thumb {
    background-color: #bebebe;
}

::-webkit-scrollbar {
    width : 6px;
    height: 6px;
    background-color: #f0f0f0
}
