
#igrp-top-nav.navbar {
  padding: 0;
  min-height: inherit;
  margin: 0;
  top: 0;
  overflow: hidden;
  border:0;
  
}

#igrp-top-nav>#navbar{
  clear: both;
  padding-left: 10px;
}
.navbar-brand{
  line-height: 55px;
  padding: 0 10px;
  color:white;
  text-align: center;
  height: auto;
  background: rgba(0,0,0,.3);
}
.navbar-brand:hover{
  color:white;
}
.navbar-brand>img{
  float: none;
  width: 32px;
  display: inline;
}

body.sidebar-off .navbar-brand>span{
  display: none
}

.navbar-brand>span{
  margin: 0 10px;
  font-size: 18px;
  color: white;
}

#side-bar-ctrl {
  float: left;
  position: relative;
  height: 55px;
  width: 52px;
  text-align: center;
  padding: 0 15px;
  color: white;
  cursor: pointer;
  transition:background .5s;
  
}
#side-bar-ctrl:hover {
  background: rgba(0,0,0,.2);
}

#side-bar-ctrl i {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -6px;
}

#igrp-app-title {
  float:left;
  margin-left: 10px;
  color: white;
  line-height: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

#igrp-top-menu{
  margin: 0;
  float:right;
  text-align: center;
}

#igrp-top-menu>li{
  float: left;
  border-left: 1px solid rgba(0,0,0,.1)
}

#igrp-top-menu>li .badge {
  padding: 2px 3px;
  /* font-size: 11px; */
  /* background-color: transparent; */
  /* border-radius: 0; */
  position: absolute;
  /* width: 80%; */
  right: 4px;
  margin: 0!important;
  top: 8px;
  font-size: 11px;
  text-shadow: 1px 0px #ccc;
}

#igrp-top-menu>li:last-child{
  width: 52px;
}

#igrp-top-menu>li>a{
  color:white;
  line-height: 55px;
  padding: 0 15px
}

#igrp-top-menu>li>a:hover,
#igrp-top-menu>li>a:focus{
  background-color: rgba(0,0,0,.2)
}