<div class="col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#">
  <div class="form-group"  #[required]#> 
      <div class="radio form-check-offset">
        <label>
            <input type="radio" name="#name.attr#" value="1" class="checkbox #[change]#" label="#label.attr#">
              <xsl:call-template name="setAttributes">
                <xsl:with-param name="field" select="#path#"/>
              </xsl:call-template>
              <xsl:if test="#value.path# = '1'">
                  <xsl:attribute name="checked">checked</xsl:attribute>
              </xsl:if>
            </input>
            #label.val#
        </label>
      </div>
    </div>
</div>
