target/
bin/
.project
WebContent/WEB-INF/config/app/
*.class
/Export Jar Save.jardesc
.DS_Store
/.classpath
/.settings/
/.idea/
/src/main/java/nosi/webapps/test_app/
/src/main/webapp/images/IGRP/IGRP2.3/app/test_app/
/.scannerwork/
/.apt_generated/
