<div class="form-group col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#" #[required]#>
    <label for="{#path#/@name}">#label.val#</label>
    <div class="input-group form-color-picker"  id="#parent.tag#_#tag#_colorp">
        <input type="text" value="{#path#/value}" format="#[format]#" class="form-control" #[required]# id="#parent.tag#_#tag#" name="{#path#/@name}" placeholder="#[placeholder]#">
        	<xsl:call-template name="setAttributes">
            	<xsl:with-param name="field" select="#path#"/>
        	</xsl:call-template>
        </input>
        <span class="input-group-addon">
            <i></i>
        </span>
    </div>
</div>