<div class="col-1-#[size]# item" item-name="#tag#">
    <div class="igrp_item radiolist">
       <label class="#[required]#">
          <xsl:if test="string-length(#label.path#) > 45">
            <xsl:attribute name="title"><xsl:value-of select="#label.path#"/></xsl:attribute>
          </xsl:if>
          <span>#label.val#</span>
        </label>
        <xsl:for-each select="#list.path#/option">
            <div class="col-1-1">
                <input rel="F_#parent.tag#" type="radio" name="{../../@name}" value="{value}" class="radiolist #[change]# #[required]#">
                    <xsl:call-template name="FIELD_validator">
                        <xsl:with-param name="field" select="../.."/>
                    </xsl:call-template>
                    <xsl:if test="@selected='true'">
                        <xsl:attribute name="checked">checked</xsl:attribute>
                    </xsl:if>
                </input>
                 <span><xsl:value-of select="text"/></span>
            </div>
        </xsl:for-each>
        <div class="_clear"/>
    </div>
    <div class="_clear"/>
</div>