<div class="col-sm-#[size]# #[right]#" item-name="#tag#" item-type="#type#" >
  <div class="form-group" #[required]#>
      <div class="checkbox form-check-offset">
        <label>
            <input type="checkbox" name="#name.attr#" value="1" class="checkbox #[change]#" #[required]# label="#label.attr#">
                <xsl:if test="#value.path# = '1'">
                    <xsl:attribute name="checked">checked</xsl:attribute>
                </xsl:if>
            </input>
            #label.val#
        </label>
      </div>
    </div>
</div>
