<style>

	<logo>img/logo2.svg</logo>

	<colors>
		
		<color name="primary">#337ab7</color>

		<color name="secondary" text-hover="white" bg-hover="#173c5d" >#2a699e</color>

	</colors> 

	<!-- <css >
		<file>css/header.css</file>
		<file>css/sidebar.css</file>
		<file>css/gen.css</file>
	</css> -->

</style>