<xsl:if test="not(#tag#/@visible)">
    <td align="#[align]#" data-row="{position()}" data-title="{../../../fields/#tag#/label}" class="#type#" item-name="#[tag]#" item-type="#type#">
        <input type="hidden" name="{../../../fields/#tag#/@name}_fk_desc" value="{#tag#_desc}"/>
        <div class="form-group" item-name="#tag#" item-type="#type#">
           
            <input rel="F_#parent.tag#" type="time"  name="{../../../fields/#tag#/@name}_fk" value="{#tag#}" class="form-control gen-date" id="#parent.tag#-#tag#" #[required]# format="#[format]#">
                <xsl:call-template name="setAttributes">
                    <xsl:with-param name="field" select="//#path#"/>
                </xsl:call-template>
            </input>
                
           
        </div>
    </td>
</xsl:if>