
#IGRP-process .process {
	overflow: hidden;
	border-radius: 5px;
	counter-reset: flag; 
	
}

#IGRP-process .process a {
	text-decoration: none;
	outline: none;
	font-size: 12px;
	line-height: 36px;
	color: white;
	padding: 5px 15px 5px 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
	margin: 5px 0 ;
	text-align: center;
	border: 0;
}

#IGRP-process .process a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; 
}
#IGRP-process .process a:first-child .process-w-counter {
	left: 14px;
}
#IGRP-process .process a:last-child {
	border-radius: 0 5px 5px 0; 
	padding-right: 20px;
}

#IGRP-process .process a.active, 
#IGRP-process .process a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
	box-shadow: none;
}

#IGRP-process .process a.active .process-w-arrow, 
#IGRP-process .process a:hover .process-w-arrow {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

#IGRP-process .process a .process-w-arrow {
	content: '';
    position: absolute;
    top: -1px;
    right: -18px;
    width: 45px;
    height: 48px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #faae42;
    /* background: linear-gradient(135deg, #666, #333); */
    box-shadow: 2px -2px 0 1px #f3f5f7, 3px -3px 0 2px #f3f5f7;
    border-radius: 0 5px 0 50px;
}

#IGRP-process .flat a .process-w-title{
	font-weight: 300;
	font-size: 14px;
	display: block
}

#IGRP-process .process a:last-child .process-w-arrow {
	content: none;
	display: none;
}

#IGRP-process .process a .process-w-counter {
	/*content: counter(flag);
	counter-increment: flag;*/
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 5px;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: 500;
}


#IGRP-process .flat a, 
#IGRP-process .flat a .process-w-arrow {
	background: #fff;
	color: inherit;
	transition: all 0.5s;
}
#IGRP-process .flat a .process-w-counter {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
	color: #333
}
#IGRP-process .flat a:hover, 
#IGRP-process .flat a.active, 
#IGRP-process .flat a:hover .process-w-arrow, 
#IGRP-process .flat a.active .process-w-arrow{
	background: #faae42;
}


#IGRP-process .flat a:not(.active):not(.proc_start):not(.proc_end):hover,
#IGRP-process .flat a:not(.active):not(.proc_start):not(.proc_end):hover .process-w-arrow{
	background: #e6edf5;
}

#IGRP-process .flat a.active,
#IGRP-process .flat a.active .process-w-arrow{
	background: #faae42;
}

#IGRP-process .flat a.active .process-w-title{
	color:white;
}


#IGRP-process .flat a.proc_start,
#IGRP-process .flat a.proc_start .process-w-arrow{ 
	background:#ffc61b;
	color: white
}
#IGRP-process .flat a.proc_end,
#IGRP-process .flat a.proc_end .process-w-arrow{ 
	background:#f44336;
	color: white
}


