@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    /* border-radius: 5px; */
}
::-webkit-scrollbar {
    width : 6px;
    height: 6px;
    background-color: #f0f0f0
}

*{
  border-radius: 0;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}

body.fixed-nav{
    padding-top: 45px;
}

ul,li { list-style: none; }
/*
 * Global add-ons
 */
 
a,
.clickable{
  color:#333;
}
a:hover,
a:focus,
.clickable:hover,
.clickable:focus{
  color: #000
}

[bg-color="1"]{
  background: #5a5a5a
}

.clear {
  clear:both!important;
  display: block;
  float: none!important;
}

.txt-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  background: #fff;
  position: fixed;
  z-index: 1000;
  top:45px;
  height: auto;
  box-shadow: 0 5px 5px 0 #eee;
}

a,
button{
  transition: all .3s;
}

a>i.fa+*{
  margin-left: 4px;
}

img{
  max-width: 100%;
}


/*TOPNAV*/
#igrp-top-nav{
  max-height: 45px;
  overflow: hidden;
}

#igrp-top-nav.navbar {
 padding: 0;
 min-height: inherit;
 margin: 0;
/* box-shadow: 0px 0px 5px #333;*/
 top: 0;
}

#igrp-top-nav>#navbar{
  clear: both;
  padding-left: 10px;
}
.navbar-brand{
  padding:6px 10px;
  color:white;
  text-align: center;
  height: auto;
  background: rgba(0,0,0,.3);
}
.navbar-brand:hover{
  color:white;
}
.navbar-brand>img{
  float: none;
  width: 32px;
  display: inline;
}

body.sidebar-off .navbar-brand>span{
  display: none
}

.navbar-brand>span{
  margin: 0 10px;
  font-size: 18px;
  color: white;
}

#side-bar-ctrl {
  float: left;
  position: relative;
  height: 45px;
  width: 52px;
  text-align: center;
  padding: 0 15px;
  color: white;
  cursor: pointer;
  transition:background .5s;
  
}
#side-bar-ctrl:hover {
  background: rgba(0,0,0,.2);
}

#side-bar-ctrl i {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -6px;
}

#igrp-app-title {
  float:left;
  margin-left: 10px;
  color: white;
  line-height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

#igrp-top-menu{
  margin: 0;
  float:right;
  text-align: center;
}

#igrp-top-menu>li{
  float: left;
  border-left: 1px solid rgba(0,0,0,.1)
}

#igrp-top-menu>li .badge {
  padding: 2px 3px;
  /* font-size: 11px; */
  /* background-color: transparent; */
  /* border-radius: 0; */
  position: absolute;
  /* width: 80%; */
  right: 4px;
  margin: 0!important;
  top: 8px;
  font-size: 11px;
  text-shadow: 1px 0px #ccc;
}

/*#igrp-top-menu>li>a>span{
  display: block;
  font-size: 12px;
  display: none;
}*/

#igrp-top-menu>li:last-child{
  width: 52px;
}

#igrp-top-menu>li>a{
  color:white;
  line-height: 15px;
  padding: 15px
}

#igrp-top-menu>li>a:hover,
#igrp-top-menu>li>a:focus{
  background-color: rgba(0,0,0,.2)
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.loader {
  border:4px solid #f3f3f3;
  border-radius: 50%;
  border-top:4px solid #555;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
 
  body:not(.sidebar-off):not([has-menu="false"]){
    overflow: hidden;
  }

  .sidebar {
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    overflow-x: hidden;
  }
  .nav-sidebar{
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding:0 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border: 0;
  }
}

li.header {
    padding: 10px 20px;
    text-transform: uppercase;
}

.nav-sidebar > li > a {
  border-bottom: 1px solid rgba(204, 204, 204, 0.24);
  z-index: 2
}

.nav-sidebar > li.treeview > a > i.pull-right{
	position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 10px;
}

.nav-sidebar > li.active > a{
	box-shadow: 0px 1px 5px #eee
}

.nav>li>a:focus, .nav>li>a:hover{
 background-color:inherit;
}

.nav-sidebar > .active > a .nav-bar-active{
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
 /* background-color: #267199;*/
  content:"";
  margin: 0;
  display: none;
}

body.sidebar-off #igrp-sidebar{
	display: none
}
body.sidebar-off .navbar-brand{
  width: auto!important;
}


/*tree view*/
.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
    background: #f9f9f9;
}
.treeview-menu>li>a {
    padding: 5px 25px;
    display: block;
    border-bottom: 1px solid rgba(204, 204, 204, 0.24);
    position: relative;
}

.treeview-menu>li>a:hover,
.treeview-menu>li>a.active {
  background: whitesmoke;
}

.treeview-menu li > a > i {
	position: absolute;
	top: 50%;
	left: 15px;
	margin-top: -7px;
}

.treeview-menu li > a > span{
	margin: 0
}

.tree-list li.active > a > .fa.pull-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*modals*/
.modal-content{
  border-radius: 0;
  border: 0
}
.modal-body:after{
  content:"";
  display: block;
  clear: both;
}

/*igrp-global-modal*/
#igrp-global-modal .modal-footer button i{
  line-height: 20px;
  margin-right: 5px;
}

/*  IFRAM NAVIGATION */
.gen-container-item iframe{
  width: 100%;
  border: 0;
  outline: 0;
}


#igrp-iframe-nav:not(.loadingmodal) .loader{
  display: none;
}

#igrp-iframe-nav.loadingmodal, .loading{
  cursor: wait;
}

#igrp-iframe-nav.loadingmodal .modal-dialog{
   background: #f5f5f5
}

.hidescrool{
  overflow: hidden !important;
}

.loading{
  opacity: 0.6;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: whitesmoke;
  z-index: 999;
}

body.loading{
  z-index: 999999;
}

#igrp-iframe-nav .modal-dialog{
  position: absolute;
  width: 85%;
  height: 85%;
  margin: 0;
  left: 7.5%;
  top: 7.5%;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background: transparent;
}

#igrp-iframe-nav.loading .modal-dialog:after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  outline: 1px solid whitesmoke
}

#igrp-iframe-nav .iframe-nav-close:hover{
  color: #fff;
}

#igrp-iframe-nav .iframe-nav-close{
  color: #fff;
  position: absolute;
  right: 7.5%;
  font-size: 24px;
  top: 7.5%;
  margin-right: -30px;
  cursor: pointer;
  /*text-shadow: 0 5px 15px rgba(0,0,0,.5);*/
}

#igrp-iframe-nav iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background: #fff;
}


/* DEBUGGER */
#igrp-debugger h3{
  float: left;
  margin: 0
}

#igrp-debugger .igrp-debug-search{
  margin-bottom: 5px;
}

.igrp-debug-ctrl{
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 2px; 
  position: fixed;
  bottom: -1px;
  border:1px solid #ccc;
  z-index: 100;
  left:50%;
  background: whitesmoke;
}

#igrp-debugger .igrp-debug-list{
  padding: 0;
}

#igrp-debugger .igrp-debug-list li{
  padding: 5px 10px;
  word-break: break-all;
}

#igrp-debugger .igrp-debug-list li:nth-child(even){
  background: whitesmoke
}
/* /DEBUGGER */

/*
 * Main content
 */

.main {
  padding: 20px 36px;
  /*padding: 10px 20px 20px 20px;*/
}

@media (max-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.transparent {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=50);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
}

.main .page-header {
  margin-top: 0;
}

/* IGRP STYLE */
/*GLOBAL*/

body[has-menu="false"] .container-fluid{
  padding:15px;
}

body[has-menu="false"] #igrp-contents{
  padding: 0
}

body[has-menu="false"] .container-fluid>.row{
  margin:0;
}

body.sidebar-off #igrp-contents, body[has-menu="false"] #igrp-contents{
  margin: 0!important;
  width: 100%;
}

.row:after,
.box-content:after{
  clear: both;
  display: block;
  content:"";
}

/*LOGIN/ACTIVATION*/
#igrp-login-wrapper{
  max-width: 400px;
  margin: 6% auto;
}

/*PAGE*/
.content-header.gen-container-item {
    position: relative;
    padding: 0 0 15px;
    margin-bottom: 0
}

.content-header>* {
    margin-top: 0;
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

#igrp-contents>.content>.row>.gen-column>.gen-inner>.content-header{
  padding-top: 0
}

/* CAROUSEL */

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
  margin: auto;
}


.icon-item-holder{
  display: inline;
}
.icon-item-holder + *{ 
  margin-left:  4px;
}

/* VERTICAL MENU */
.igrp-vertical-menu>.list-group>a{
  display: block;
  border-bottom-width:  0;
}
.igrp-vertical-menu>.list-group>a:last-child{
  border-bottom-width : 1px;
}

/*BOX*/
.gen-container-item{
  margin-bottom: 20px;
  clear: both;
}

.igrp-box-holder>.box-body{
  padding: 25px 25px 0;
}

.box {
    position: relative;
    background: #ffffff;
   /* border-top: 1px solid #F8F8F8;*/
    display: block;
    /*box-shadow: 0 0px 2px rgba(0,0,0,0.1);*/
   /* border:1px solid #F2F2F2;*/
   border:1px solid #EAEAEA;
}

.box[collapsed="true"] .box-header{
  border-bottom: 0
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
    font-weight: bold;
}

.box-header.box-collapser{
  cursor: pointer;
}

.btn-box-tool {
    padding: 0 5px;
    font-size: 12px;
    background: transparent;
}


.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body {
  border-radius:0;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #EAEAEA;
    padding: 10px;
    background-color: #fff;
}

.box-header:before, 
.box-body:before, 
.box-footer:before, 
.box-header:after, 
.box-body:after, 
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after, 
.box-body:after, 
.box-footer:after {
    clear: both;
}

/* FORM */
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #EAEAEA;
}

.input-group-addon{
  border-color: #EAEAEA;
}


.form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.box[box-rel="form"] .box-footer {
  text-align:right;
}

/*CONTEXT MENU GLOBAL CLASSES*/

.dropdown-menu{
  border-radius: 0;
  padding:0;
}

.dropdown-menu>li>a{
  /*white-space: nowrap;*/
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dddddd;
  padding: 6px 20px;
}
.dropdown-menu>li:last-child>a{
  border-bottom: 0
}

.rc-ctx{
  position: absolute;
  display: none;
  z-index: 100
}

.rc-ctx>ul{
  position: static;
  max-width: 160px
}


.gen-ctx-menu.open,
.rc-ctx.open{
  display: block;
}

.gen-ctx-menu-holder.ctx_hidden{
  display: none;
}





/*  */

.box-head.subtitle{
  display: block;
  clear: both;
  border-bottom: 1px solid #EAEAEA;
  font-size: 16px;
  margin: -10px -10px 10px;
  padding: 10px;
}

/*BUTTONS*/
.btns-bar:not(.btn-group)>.btn{
  margin: 2px
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-danger,
.btn.btn-warning,
.btn.btn-info,
.btn.btn-default{
  border-color: rgba(0,0,0,.15);
}
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus{
	outline: 0
}

.btn-secondary{
  background: #9E9E9E;
  color:white;
}

.btn,
.input-group-addon,
.btn-group-lg>.btn,
.btn-lg,
.btn-group-xs>.btn,
.btn-xs{
  border-radius:0;
}

.btn-holder {
  float: left;
  margin: 0 4px;
}
button.btn{
  position: relative;
}

/*button.btn item.fa,
a.btn item.fa{
  font-size: 16px;
}*/

[vertical="true"] .btn item{
  margin-right: 5px;
  position: relative;
  top: 1px;
}

/*.btn-default{
  border-color: #EAEAEA;
}
.btn-default:hover,
.btn-default:focus{
  border-color: #DDD;
}*/

li>a>item.fa{
  position: absolute;
  top:50%;
  margin-top: -7px;
  left:12px;
}

/*TABS*/
ul.nav-tabs{
  position: relative;
  top: 1px;
  border-bottom: 1px solid #eaeaea
}

.gen-menu-wrapper > .tab-content >.tab-pane >.toolsbar-holder{
  padding:20px;
}


.nav-tabs>li{
  position: relative;
  top: 0px;
}
.nav-tabs>li>a{
  border-radius: 0;
}



.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
  border:1px solid #EAEAEA;
  border-bottom-color:white
}


.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover{
  border:1px solid #EAEAEA;
  border-bottom-color:#EAEAEA
}


/*VERTICAL BUTTONS*/
.list-group>.list-group-item>item{
  margin-right: 4px;
}

/*SELECT2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline .select2-search__field{
  margin:3px!important;
}

/*IGRP APPS*/
.igrp-apps-holder .igrp-app-block{
  background: #fff;
  border:1px solid rgba(204, 204, 204, 0.6);
  padding:15px 10px 55px 10px;
  text-align: center;
 /* margin: 15px 0;*/
  margin:10px;
  position: relative;
  cursor: pointer;
  
  display: block;
}

.igrp-apps-holder .igrp-app-block.not-available{
  opacity: .6;
  cursor: inherit;
}

.igrp-apps-holder .igrp-app-block:hover{
  background: #ECECEC;
  box-shadow: 0 0 5px 0 rgba(204, 204, 204, 0.6);
}

.igrp-apps-holder .app-img img {
  height: 35px;
}

.igrp-apps-holder [class*="col-md-"] {
  padding: 0;

}

.igrp-apps-holder .igrp-app-block .app-title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    height: 50px;
}

.igrp-apps-holder .igrp-app-block:hover .app-title{
  min-height: auto;
}


.igrp-apps-holder .igrp-app-block .app-title>span{
  padding: 8px;
  display: block;
  /*overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;*/
}

/* NOTIFY */

.igrp-msg-wrapper{
  margin-bottom: 15px;
}

.igrp-msg-wrapper .alert{
  padding:6px 10px 6px 30px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 0
}

.igrp-msg-wrapper .alert .close{
  font-size: 18px
}

.igrp-msg-icon{
  position: absolute;
  top: 10px;
  left: 10px;
}

.igrp-msg-wrapper .alert-dismissable,
.igrp-msg-wrapper .alert-dismissible{
  padding-right: 25px
}

div[data-notify="container"].alert{
 z-index: 2000!important;
 top:60px!important;
 right:15px!important;
}

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

.btn-primary,
.btn-primary:hover {
  border-color: rgba(0, 0, 0,.2);
}


/*.btn-primary{
  background-color: #4496C1;
  border-color: rgb(55, 135, 177);
}

.btn-primary:hover{
  background-color: rgb(55, 135, 177);
  border-color: #267199;
}*/


/*OUTLINE BUTTONS*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


body {
    -ms-overflow-style: scrollbar;
}

/*box borders
.box-footer,
.box-header,
.box{
  border-color:#ddd;
}*/